{% load fics_filters %}
{% load static %}

<table class="stats other">
    <tr>
        <th style="width:16ex;">Recovery</th>
        <td>{{c.SA_REC}}</td>
    </tr>
</table>

<table class="stats other">
    <tr>
        <th style="width:16ex;">Stamina</th>
        <td>{{c.SA_STA}}</td>
    </tr>
</table>

<table class="stats other">
    <tr>
        <th style="width:16ex;">Endurance</th>
        <td>{{c.SA_END}}</td>
    </tr>
</table>

<table class="stats other">
    <tr>
        <th style="width:16ex;">Stun</th>
        <td>{{c.SA_STU}}</td>
    </tr>
</table>

<table class="stats other">
    <tr>
        <th style="width:16ex;">Resistance</th>
        <td>{{c.SA_RES}}</td>
    </tr>
</table>

<table class="stats other">
    <tr>
        <th style="width:16ex;">Damage Bonus</th>
        <td>{{c.SA_DMG}}</td>
    </tr>
</table>

<table class="stats other">
    <tr>
        <th style="width:16ex;">Tolerance</th>
        <td>{{c.SA_TOL}}</td>
</table>

<table class="stats other">
    <tr>
        <th style="width:16ex;">Humanity</th>
        <td>{{c.SA_HUM}}</td>
    </tr>
</table>

<table class="stats other">
    <tr>
        <th style="width:16ex;">Passion</th>
        <td>{{c.SA_PAS}}</td>
    </tr>
</table>

<table class="stats other">
    <tr>
        <th style="width:16ex;">Wyrd</th>
        <td>{{c.SA_WYR}}</td>
    </tr>
</table>

<table class="stats other">
    <tr>
        <th style="width:16ex;">SPD</th>
        <td>{{c.SA_SPD}}</td>
    </tr>
</table>

<table class="stats other">
    <tr>
        <th style="width:16ex;">RUN</th>
        <td>{{c.SA_RUN}}</td>
    </tr>
</table>
