{%load fics_filters%}
{% if not degree.degree_ref.is_wildcard %}

    <tr >
        <td style="padding:5px;">
            {{ degree.degree_ref.reference|safe }}
        </td>
        <th class='edit'  style="padding:5px;">
            <span id="degreeplus_{{c.id}}_{{degree.degree_ref.id}}" class='edit_icon degreepick fa fa-plus-circle'></span><span id="degreeminus_{{c.id}}_{{degree.degree_ref.id}}" class='edit_icon degreepick fa fa-minus-circle'></span>
        </th>
        <th class='degree_score_bar' id='val_{{degree.degree_ref.id}}'  style="padding:5px;">
            {{ degree.value|as_bullets_veryshort|safe }}
        </th>
    </tr>

{% endif %}
