{%load fics_filters%}
{% if not degree.degree_ref.is_wildcard %}
<table style="border:1px dotted silver;">
    <tr>
        <th colspan="3" style="text-align:left;background:black; color:yellow;">{{degree.degree_ref.get_group_display}}</th>
    </tr>
    <tr>
        <td>
            {{ degree.degree_ref.reference|safe }}
        </td>
        <th class='edit'>
            <span id="degreeplus_{{c.id}}_{{degree.degree_ref.id}}" class='edit_icon degreepick fa fa-plus-circle'></span><span id="degreeminus_{{c.id}}_{{degree.degree_ref.id}}" class='edit_icon degreepick fa fa-minus-circle'></span>
        </th>
        <th class='degree_score_bar' id='val_{{degree.id}}'>
            {{ degree.value|as_bullets_veryshort|safe }}
        </th>
    </tr>
</table>
{% endif %}
