{%load fics_filters%}
{%load static%}


{% if no_skill_edit %}
<table class="stats" id="phy">
<tr>
	<th>STR</th><td colspan=2>{{c.PA_STR}}</td>
	<th>CON</th><td colspan=2>{{c.PA_CON}}</td>
</tr><tr>
	<th>BOD</th><td colspan=2>{{c.PA_BOD}}</td>
	<th>MOV</th><td colspan=2>{{c.PA_MOV}}</td>
</tr>
</table>

<table class="stats" id="spi">
<tr>
	<th>INT</th><td colspan=2>{{c.PA_INT}}</td>
	<th>WIL</th><td colspan=2>{{c.PA_WIL}}</td>
</tr><tr>
	<th>TEM</th><td colspan=2>{{c.PA_TEM}}</td>
	<th>PRE</th><td colspan=2>{{c.PA_PRE}}</td>
</tr>
</table>

<table class="stats" id="com">
<tr>
	<th>TEC</th><td colspan=2>{{c.PA_TEC}}</td>
	<th>REF</th><td colspan=2>{{c.PA_REF}}</td>
</tr><tr>
	<th>AGI</th><td colspan=2>{{c.PA_AGI}}</td>
	<th>AWA</th><td colspan=2>{{c.PA_AWA}}</td>
</tr>
</table>

{%else%}
<table class="stats" id="phy">
<tr>
	<th>STR</th><td>{{c.PA_STR}}</td><td class='edit' id='attr_edit_STR'><span class='fa fa-plus-circle'></span><span class='fa fa-minus-circle'></span></td>
	<th>CON</th><td>{{c.PA_CON}}</td><td class='edit' id='attr_edit_CON'><span class='fa fa-plus-circle'></span><span class='fa fa-minus-circle'></span></td>
</tr><tr>
	<th>BOD</th><td>{{c.PA_BOD}}</td><td class='edit' id='attr_edit_BOD'><span class='fa fa-plus-circle'></span><span class='fa fa-minus-circle'></span></td>
	<th>MOV</th><td>{{c.PA_MOV}}</td><td class='edit' id='attr_edit_MOV'><span class='fa fa-plus-circle'></span><span class='fa fa-minus-circle'></span></td>
</tr>
</table>

<table class="stats" id="spi">
<tr>
	<th>INT</th><td>{{c.PA_INT}}</td><td class='edit' id='attr_edit_INT'><span class='fa fa-plus-circle'></span><span class='fa fa-minus-circle'></span></td>
	<th>WIL</th><td>{{c.PA_WIL}}</td><td class='edit' id='attr_edit_WIL'><span class='fa fa-plus-circle'></span><span class='fa fa-minus-circle'></span></td>
</tr><tr>
	<th>TEM</th><td>{{c.PA_TEM}}</td><td class='edit' id='attr_edit_TEM'><span class='fa fa-plus-circle'></span><span class='fa fa-minus-circle'></span></td>
	<th>PRE</th><td>{{c.PA_PRE}}</td><td class='edit' id='attr_edit_PRE'><span class='fa fa-plus-circle'></span><span class='fa fa-minus-circle'></span></td>
</tr>
</table>

<table class="stats" id="com">
<tr>
	<th>TEC</th><td>{{c.PA_TEC}}</td><td class='edit' id='attr_edit_TEC'><span class='fa fa-plus-circle'></span><span class='fa fa-minus-circle'></span></td>
	<th>REF</th><td>{{c.PA_REF}}</td><td class='edit' id='attr_edit_REF'><span class='fa fa-plus-circle'></span><span class='fa fa-minus-circle'></span></td>
</tr><tr>
	<th>AGI</th><td>{{c.PA_AGI}}</td><td class='edit' id='attr_edit_AGI'><span class='fa fa-plus-circle'></span><span class='fa fa-minus-circle'></span></td>
	<th>AWA</th><td>{{c.PA_AWA}}</td><td class='edit' id='attr_edit_AWA'><span class='fa fa-plus-circle'></span><span class='fa fa-minus-circle'></span></td>
</tr>
</table>

{%endif%}
