

<table>
    <tr>
        <th>.</th>
        <th>.</th>
        <td class="label">HE</td>
        <td>.</td>
        <th>.</th>
        <th>.</th>
    </tr>
    <tr>
        <th>.</th>
        <th>.</th>
        <td class="sp">.</td>
        <td>.</td>
        <th>.</th>
        <th>.</th>
    </tr>
    <tr>
        <td class="label">RA</td>
        <td>.</td>
        <td class="label">TO</td>
        <td>.</td>
        <td class="label">LA</td>
        <td>.</td>
    </tr>
    <tr>
        <td class="sp">.</td>
        <td>.</td>
        <td class="sp">.</td>
        <td>.</td>
        <td class="sp">.</td>
        <td>.</td>
    </tr>
    <tr>
        <td class="label">RL</td>
        <td>.</td>
        <th>.</th>
        <th>.</th>
        <td class="label">LL</td>
        <td>.</td>
    </tr>
    <tr>
        <td class="sp">.</td>
        <td>.</td>
        <th>.</th>
        <th>.</th>
        <td class="sp">.</td>
        <td>.</td>
    </tr>

</table>