{%load fics_filters%}
{%load static%}

<table id="PA_STR_{{c.id}}" class='attrpick primary'>
    {% include "collector/character/character_pa.html" with c=c.info_str %}
</table>
<table id="PA_CON_{{c.id}}" class='attrpick primary'>
    {% include "collector/character/character_pa.html" with c=c.info_con %}
</table>
<table id="PA_BOD_{{c.id}}" class='attrpick primary'>
    {% include "collector/character/character_pa.html" with c=c.info_bod %}
</table>
<table id="PA_MOV_{{c.id}}" class='attrpick primary'>
    {% include "collector/character/character_pa.html" with c=c.info_mov %}
</table>


<table id="PA_INT_{{c.id}}" class='attrpick primary'>
    {% include "collector/character/character_pa.html" with c=c.info_int %}
</table>
<table id="PA_WIL_{{c.id}}" class='attrpick primary'>
    {% include "collector/character/character_pa.html" with c=c.info_wil %}
</table>
<table id="PA_TEM_{{c.id}}" class='attrpick primary'>
    {% include "collector/character/character_pa.html" with c=c.info_tem %}
</table>
<table id="PA_PRE_{{c.id}}" class='attrpick primary'>
    {% include "collector/character/character_pa.html" with c=c.info_pre %}
</table>


<table id="PA_TEC_{{c.id}}" class='attrpick primary'>
    {% include "collector/character/character_pa.html" with c=c.info_tec %}
</table>
<table id="PA_REF_{{c.id}}" class='attrpick primary'>
    {% include "collector/character/character_pa.html" with c=c.info_ref %}
</table>
<table id="PA_AGI_{{c.id}}" class='attrpick primary'>
    {% include "collector/character/character_pa.html" with c=c.info_agi %}
</table>
<table id="PA_AWA_{{c.id}}" class='attrpick primary'>
    {% include "collector/character/character_pa.html" with c=c.info_awa %}
</table>
