<table class='expanded'>
	<tr>
		<th><span id='armor_add' class='edit_icon fa fa-arrow-alt-circle-left'></span></th>
		<th>Add Armor</th><td>
			<select id='armor_select'>
			{% for s in c.armor_options %}
				<option value='{{s.id}}' style='width:15ex;'>{{s.reference}}</option>
			{% endfor %}
			</select>
	</tr>
	<tr>
		<th><span id='armor_del' class='edit_icon fa fa-arrow-alt-circle-right'></span></th>
		<th>Remove Armor</th><td>
			<select id='armor_unselect'>
			{% for s in c.armor_options_not %}
				<option value='{{s.id}}' style='width:15ex;'>{{s.reference}}</option>
			{% endfor %}
			</select>
	</tr>
</table>
