<table class='expanded'>
	<tr>
		<th colspan=1><span id='ritual_add' class='edit_icon fa fa-arrow-alt-circle-left'></span></th>
		<th colspan=2>Add Ritual</th>
        <td colspan=3>
			<select id='ritual_select'>
			{% for s in c.ritual_options %}
				<option value='{{s.id}}' style='width:15ex;'>[{{s.path}}] {{s.reference}} ({{s.level}})</option>
			{% endfor %}
			</select>
        </td>
	</tr>
	<tr>
		<th colspan=1><span id='ritual_del' class='edit_icon fa fa-arrow-alt-circle-right'></span></th>
		<th colspan=2>Remove Ritual</th>
        <td colspan=3>
            {% if c.ritual_options_not %}
			<select id='ritual_unselect'>
			{% for s in c.ritual_options_not %}
				<option value='{{s.id}}' style='width:15ex;'>[{{s.path}}] {{s.reference}} ({{s.level}})</option>
			{% endfor %}
			</select>
            {% else %}
            Nothing to remove
            {% endif %}
        </td>
	</tr>
</table>
