<table class='custo'>
    <tr>
    	<th num=1><span id='ap_tod_pool' class='fa fa-check-circle'></span></th>
    	<th num=2>AP Tod Pool</th>
        <th num=3>{{ c.AP_tod_pool}} / {{ c.charactercusto.AP }}</th>
    </tr>
    <tr>
    	<th num=1><span id='ap_tod_pool' class='fa fa-check-circle'></span></th>
    	<th num=2>OP Tod Pool</th>
        <th num=3>{{ c.OP_tod_pool}} / {{ c.charactercusto.OP }}</th>
    </tr>
    <tr>
    	<th num=1><span id='current_custo' class='fa fa-check-circle'></span></th>
    	<th num=2>Current Customization</th>
        <td num=3>
            <div  id='summary'>
            {{ c.charactercusto.summary|safe }}
            </div>
    	</td>
    </tr>

</table>
