amqp
attrs
billiard
cachetools
cairocffi
CairoSVG
celery
certifi
cffi
chardet
colour
coverage
cryptography
cssselect2
decorator
defusedxml
Django
django-appconf
django-bootstrap-datepicker-plus
django-colorfield
django-compressor
django-crispy-forms
# django-extra-views
django-nose
#django-sass
#django-sass-processor
django-split-settings
django-test
et-xmlfile
factory-boy
Faker
google-auth
google-auth-oauthlib
gspread
gunicorn
html5lib
httplib2
idna
iniconfig
jdcal
kombu
django-libsass
lxml
nose
oauth2client
oauthlib
openpyxl
packaging
Pillow
pluggy
# psycopg2
psycopg2-binary
py
pyasn1
pyasn1-modules
pycparser
pyparsing
PyPDF2
pytest
python-dateutil
pytz
PyYAML
rcssmin
reportlab
requests
requests-oauthlib
rjsmin
rsa
six
split-settings
sqlparse
svglib
text-unidecode
tinycss2
tomli
urllib3
# uWSGI
vine
webencodings
xhtml2pdf
