
.dialog {
  background: transparent;
  display: flex;
  flex-flow: column nowrap;
  width: auto;
  height: 100%;
  margin: 0;
  gap: 5px;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;

  & .dialog_header {
    border: 3px solid transparent;
    border-radius: 3px;
    background: transparent;
    color: $fics_light;
    order: 1;
    height: 30px;
    width: auto;
    padding: 5px;

    & H1 {
      color: $fics_frontest;
      text-align: left;
      font-family: NomPersoListe;
    }
  }

  & .dialog_body {
    border: 3px solid $fics_light;
    border-radius: 3px;
    background: $fics_darker;
    color: $fics_light;
    order: 2;
    height: $dialog_body_height;
    width: auto;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 5px;


    & .view {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: stretch;
      align-content: stretch;

      & .wall {
        display: flex;
        order: 2;
        flex-grow: 1;
        flex-shrink: 1;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: stretch;

        //width: 220px;
        gap: 10px 10px;
        padding: 5px;
        border-radius: 5px;

        height: auto;

        & .brick {
          display: inline-block;
          flex-grow: 1;
          padding: 2px;


          font-family: Texte;
          background: $fics_dark;
          color: $fics_front;
          border-radius: 5px;
          border: 1px solid $fics_lighter;
          box-shadow: 5px 5px 5px $fics_darkest;

          & em {
            display: inline-block;
            width: 12ex;
            background: $fics_darkest;
            text-align: left;
            font-variant: small-caps;
            font-style: normal;
            padding: 2px;
            border-radius: 3px;
            margin-right: 3ex;
          }

          & strong {
            display: inline-block;
            width: 24ex;
            margin-left: 12ex;
            background: $fics_darker;
            text-align: left;
            font-variant: small-caps;
            font-style: normal;
            padding: 2px;
            border-radius: 3px;
            margin-right: 3ex;
          }

        }


      }

      & .pitch {
        display: block;
        order: 1;
        flex-grow: 5;
        columns: 2;
        column-gap: 20px;
        column-rule: 1px solid $fics_front;
        color: $fics_frontest;
        font-size: 1.3em;
        text-align: justify;
        //width: 600px;
        padding: 5px;
        border: 1px solid $fics_dark;
        border-radius: 5px;

        & H4, & H5, & H6 {
          padding: 0;
          margin: 0;
          color: $fics_golden;
          font-size: 1.5em;
          padding-top: 0.25em;
        }
      }
    }

    & ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
      height: $dialog_body_height;
      display: flex;
      flex-flow: column wrap;
      gap: 5px;
      justify-content: space-between;
      align-items: stretch;
      align-content: stretch;
      //background:orange;

      & li {
        flex-grow: 1;
        flex-shrink: 1;
        display: flex;
        text-indent: 0;
        padding: 0;
        margin: 0;
        flex-flow: row nowrap;
        color: white;
        //width: 360px;
        height: auto;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        border: 1px dotted transparent;
        background: $fics_dark;
        //background:red;
        order:3;
        &.o1{
          order:1;
        }
        &.o2{
          order:2;
        }
        &.o4{
          order:4;
        }
        &.o5{
          order:5;
        }
        & label {
          display: inline-block;
          order: 1;
          text-align: left;
          font-size: 10pt;
          //width:150px;
          border: 1px dotted transparent;
          flex-grow: 1;
          flex-shrink: 1;
          border: 2px solid transparent;
          background: $fics_darker;
          width: 25%;
          & .ta{
            flex-grow:5;
            flex-shrink:1;
          }
        }

        & input, & textarea, & select {
          order: 2;
          flex-grow: 3;
          flex-shrink: 0;
          display: inline-block;
          width: 70%;

        }

        & ul.packed{
          flex-grow:3;
          flex-shrink:3;
          border:1px dashed yellow;
          //background:purple;
          & li{
            //background:cyan;
          }
        }

      }
    }
  }

  & .dialog_footer {
    border: 3px solid transparent;
    border-radius: 3px;
    background: transparent;
    color: $fics_light;
    order: 3;
    height: auto;
    width: 100%;
    padding: 5px 0;

    & button {
      background: $fics_golden;
      color: $fics_darkest;
      font-weight: bold;
      font-family: Titre;
      border: 1px solid $fics_darkest;
      border-radius: 5px;
      padding: 5px;
      float: left;
      width: 16ex;

      &:hover {
        background: orchid;
        cursor: pointer;
      }
    }
  }
}
