// Dialog dimensions
$dbh: 700px;

.dialog {
  background: transparent;
  display: flex;
  flex-flow: column nowrap;
  width: auto;
  height: 100%;
  margin: 0;
  gap: 5px;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;


  & .dialog_header {
    border: 3px solid transparent;
    border-radius: 3px;
    background: transparent;
    color: $fics_light;
    order: 1;
    height: 15vh;
    width: auto;
    padding: 3px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 6vh;
    //border: 2px dotted red;
    & H1 {
      color: $fics_frontest;
      text-align: left;
      font-family: NomPersoListe;
    }
  }


  & .dialog_footer {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: flex-end;
    align-content: flex-start;
    align-items: baseline;
    border: 3px solid transparent;
    border-radius: 3px;
    background: transparent;
    color: $fics_light;
    order: 3;
    width: auto;
    padding: 3px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 15vh;
    gap: 3px 0;
    //border: 2px dotted red;

    & button {
      order: 1;
      flex: 1 0 6vw;
      background: $fics_golden;
      color: $fics_darkest;
      font-weight: bold;
      font-family: Titre;
      border: 1px solid $fics_darkest;
      border-radius: 5px;
      padding: 3px;
      cursor: pointer;

      &:hover {
        background: orchid;
        color: $fics_darkest;
      }
    }
  }


  & .dialog_body {
    border: 3px solid $fics_light;
    border-radius: 3px;
    background: $fics_darker;
    color: $fics_light;
    order: 2;
    //max-height: $dialog_body_height !important;
    margin: 0;
    width: 70vw;
    max-height: 80vh;
    //padding: 5px;

    flex-grow: 3;
    flex-shrink: 1;
    flex-basis: 78vh;
    //border: 2px dotted red;
    //background:cyan;

    & .view {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: stretch;
      align-content: stretch;

      width: 100%;
      height: 100%;
      //border: 2px dotted orange;

      & .wall {
        display: flex;
        order: 1;
        flex:1 0 auto;

        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: stretch; // Cross Axis
        align-content: stretch;


        //width: 220px;
        gap: 3px 3px;
        padding: 3px;
        border-radius: 3px;


        //border:2px dotted pink;

        & .brick {
          display: flex;
          flex:1;


          padding: 2px;
          font-family: Texte;
          flex-flow: row nowrap;
          background: $fics_dark;
          color: $fics_front;
          border-radius: 5px;
          border: 1px solid $fics_lighter;
          box-shadow: 5px 5px 5px $fics_darkest;

          & em {
            flex:1 0 10ex;
            background: $fics_darkest;
            text-align: center;
            font-variant: small-caps;
            font-style: normal;
            padding: 2px;
            border-radius: 3px;


            &.parent {
              background: #5A340C;
            }

            &.child {
              background: #003366;
            }
          }


          & .card_link {


          }

          & strong {
            display: inline-block;
            flex:1 0 24ex;

            background: $fics_darker;
            text-align: left;
            font-variant: small-caps;
            font-style: normal;
            padding: 2px;
            border-radius: 3px;
            margin-right: 3ex;
          }

          & span{
            flex:1 0 24ex;
            order:2;
            //border:1px solid blue;
          }

        }


      }

      & .pitch {
        display: block;
        order: 2;
        flex-grow: 5;
        flex-shrink: 0;
        columns: 2 150px;
        column-fill: auto;
        column-gap: 10px;
        column-rule: 1px solid $fics_front;
        color: $fics_frontest;
        font-size: 1.3em;
        line-height: 1.4em;
        text-align: justify;
        flex-basis: 50vw;
        //height:65vh;
        padding: 5px;
        //border: 2px solid darkblue;
        border-radius: 5px;
        background: #100010;

        & H4, & H5, & H6 {
          padding: 0;
          margin: 0;
          color: $fics_golden;
          font-size: 1.5em;
          padding-top: 0.25em;
        }
      }
    }

    & .tabbed {
      display: flex;
      //margin:0;
      //height: auto;
      //background: purple;
      //overflow-y: scroll;
      //overflow-x: hidden;
      justify-content: stretch;
      align-items: stretch;
      align-content: stretch;
      flex-flow: column wrap;
      width: 100%;
      //height:100%;

      & .tabs {
        order: 1;
        flex-grow: 1;
        flex-shrink: 0;
        width: 100%;

        //height:auto;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
        flex-flow: row nowrap;

        & .diagtabs {
          order: 1;
          flex-grow: 1;
          flex-shrink: 1;
          background: $fics_golden;
          color: $fics_darkest;
          font-weight: bold;
          font-family: NomPersoListe;
          font-size: 12pt;
          border: 1px solid $fics_darkest;
          border-radius: 5px 5px 0 0;
          padding: 3px;


          cursor: pointer;

          &.off {
            background: $fics_dark;
            color: $fics_golden;
          }

          &:hover {
            background: orchid;
            color: $fics_darkest;
            cursor: pointer;
          }


        }

      }


      & .tabcontent {
        margin: 0;
        padding: 0;
        order: 2;
        flex: 5 0 auto;
        list-style-type: none;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
        //width: calc(100% - 6px);
        //height:auto;
        ////max-height: calc($dbh - 30px) !important;
        //background: orange;
        width:auto;

        & .skillsview{
          border:2px dashed yellow;
          order:4;
          flex: 10 0 auto;
        }

        & .data{
          border:2px solid green;
          order:5;
          flex: 1 0 2em;
        }

        & li {
          display: flex;
          flex: 5 1 auto;
          text-indent: 0;
          padding: 0;
          margin: 0;
          flex-flow: row nowrap;
          color: white;
          flex: 1 1 auto;
          //height: auto;
          justify-content: stretch;
          align-items: flex-start;
          //align-content: stretch;
          border: 1px dotted transparent;
          background: $fics_dark;
          //background: red;
          order: 3;
          //flex-basis:300px;

          &.o1 {
            order: 1;
          }

          &.o2 {
            order: 2;
          }

          &.o4 {
            order: 4;
          }

          &.o5 {
            order: 5;
          }

          & label {
            display: inline-block;
            order: 1;
            text-align: left;
            font-size: 10pt;
            //width:150px;
            flex-grow: 1;
            flex-shrink: 1;
            border: 2px solid transparent;
            background: $fics_darker;
            width: 25%;

            & .ta {
              flex-grow: 5;
              flex-shrink: 1;
            }
          }

          & input, & textarea, & select {
            order: 2;
            flex-grow: 3;
            flex-shrink: 0;
            display: inline-block;
            width: 70%;

          }

          & ul.packed {
            flex-grow: 3;
            flex-shrink: 3;
            border: 1px dashed yellow;
            margin: 0;
            padding: 0;
            list-style-type: none;
            //background:purple;
            & li {
              //background:cyan;
            }
          }

        }
      }
    }
  }

}


#board {
  z-index: 8999;
  top: 0;
  left: 0;
  padding: 0;
  bottom: 0;
  //right: 300px;
  position: fixed;
  border: 1px solid transparent;
  border-radius: 0;
  display: none;
  width: 100%;
  height: 100%;
  opacity: 1;
  //padding:10px 250px;
  text-align: center;
  vertical-align: middle;
  //overflow-y: scroll;
  background: transparent url("../mid.png");
  font-size: 8pt;
  //padding-top:20px;
  //overflow:hidden;

  gap: 5px;


  &.sheet_tile {
    height: auto;
    width: auto;
    opacity: 1.0;
    background: transparent;
    border-color: transparent;
    border-color: transparent;

  }

  & .character_update_view {
    background: transparent;
    border-color: transparent;

    & form.character_form {


      & div.formset {
        height: 1000px;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: space-between;

        & .field_wrapper {
          flex-grow: 0;
          flex-shrink: 0;
          background: $fics_dark;

          & label {
            width: 150px;
            margin-right: 5px;
            border: 1px solid $fics_darkest;
          }

          & input, & select, & textarea {
            width: auto;
            border: 1px solid $fics_darkest;
            font-size: 0.9em;
          }

          padding: 3px;
          border: 1px solid $fics_darkest;
          width: 400px;
        }


      }
    }
  }


  & .character-sheet {
    width: 600px;
    padding: 0;
    margin: 0;

  }


  & .mark {
    order: 1;
    flex-grow: 1;
    width: auto;
    text-align: center;

    & svg {
      width: auto;
      fill: lightslategray;
    }
  }

  //& .portrait {
  //  flex-grow: 1;
  //  width: 90px;
  //  text-align: center;
  //
  //  & img {
  //    margin-top: 5px;
  //    width: 80px;
  //    box-shadow: 5px 5px 8px $fics_darkest;
  //    border: 1px solid $fics_light;
  //    border-radius: 5px;
  //  }
  //
  //}

  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;

  & #board_a, #board_b, #board_c {
    flex-grow: 1;
    flex-shrink: 1;
    border: 1px solid transparent;
    border-radius: 5px;
    background: transparent;
    min-width: 10%;
  }

  & #board_a {
    order: 1;
    flex-shrink: 1;
  }

  & #board_b {
    order: 2;
    //  max-width:150%;
    //background:lightskyblue;
    flex-grow: 5;
  }

  & #board_c {
    display: flex;
    order: 3;
    flex-grow: 2;
    flex-shrink: 1;
    flex-flow: column nowrap;
    justify-content: stretch;
    align-items: flex-start;
    align-content: stretch;

    & .buffer {
      order: 2;
      flex-shrink: 0;
      flex-grow: 8;
      flex-basis: 80%;
      //background: red;
    }

    & .top {
      order: 1;
      flex-shrink: 3;
      flex-grow: 1;
      //background: blue;
    }

    & .bottom {
      order: 3;
      flex-shrink: 3;
      flex-grow: 1;
      //background: green;
    }
  }

}
