{% load fics_filters %}

<div class="storydetails act">
    <div class="topic">
        <div class="subject">Act</div>
        <div class="entry">{{object.drama.title}}&nbsp;<i class="fa fa-arrow-right"></i>&nbsp;{{object.title}}</div>
    </div>
   {% if act.quizz_set %}
        {{act.quizz_set.first.verbose | safe }}
   {% endif %}

    <div class="topic {%if object.anchor %}{%else%}hidden{%endif%}">
        <div class="subject">Anchor</div>
        <div class="entry"><strong>{{object.anchor|linebreaks|parse_avatars|safe}}</strong></div>
    </div>
    <div class="topic">
        <div class="subject">PDF</div>
        <div class="entry">{{object.to_PDF | prettybool | safe }}</div>
    </div>
    <div class="topic {%if object.date %}{%else%}hidden{%endif%}">
        <div class="subject">Date</div>
        <div class="entry">{{object.date}}</div>
    </div>
    <div class="topic {%if object.anchor %}{%else%}hidden{%endif%}">
        <div class="subject">Place</div>
        <div class="entry">{{object.place}}</div>
    </div>
    <div class="topic">
        <div class="subject">Challenge</div>
        <div class="entry"><strong>{{object.challenge}}</strong></div>
    </div>
    <div class="topic">
        <div class="subject">Description</div>
        <div class='entry desc'>{{object.description|parse_avatars|safe}}</div>
    </div>
    <div class="topic">
        <div class="subject">Resolution</div>
        <div class="entry desc">{{object.resolution|parse_avatars|safe}}</div>
    </div>
</div>
