{% load fics_filters %}
<table  class='details'>
    <tr>
        <th>Act</th>
          <th><em>{{object.title}}</em></th>
        <th>Anchor</th>
          <th><strong>{{object.anchor|linebreaks|parse_avatars|safe}}</strong></th>
        <th>Act</th>
          <th><em>{{object.act.title}}</em></th>
        <th>PDF</th>
          <th>{{object.to_PDF}}</th>
    </tr><tr>
        <th>Date</th>
          <th>{{object.date}}</th>
        <th>Place</th>
          <th>{{object.place}}</th>
        <th>Challenge</th>
          <th><strong>{{object.challenge}}</strong></th>
        <th>&nbsp;</th>
          <th>&nbsp;</th>
    </tr><tr>
    <th>Description</th><td colspan=7><div class='desc'>{{object.description|parse_avatars|safe}}</div></td>
    </tr><tr>
    <th>Resolution</th><td  colspan=7><div  class='desc'>{{object.resolution|parse_avatars|safe}}</div></td>
    </tr>
</table>
