{% load fics_filters %}
<table  class='details'>
  <tr><th>Title</th><td><strong>{{object.title}}</strong></td></tr>
  <tr><th>Drama</th><td><em>{{object.drama.title}}</em></td></tr>
  <tr><th>Date</th><td>{{object.date}}</td></tr>
  <tr><th>PDF</th><td>{{object.to_PDF}}</td></tr>
  <tr><th>Place</th><td>{{object.place}}</td></tr>
  <tr><th>Description</th><td>{{object.description|parse_avatars|safe}}</td></tr>
  <tr><th>Resolution</th><td>{{object.resolution|parse_avatars|safe}}</td></tr>
</table>

