{% extends "zapp/dialog.html" %}
{% load fics_filters %}

{% block dialog_header %}
    <h1>View {{ object.action_model }} [{{ object.name }}]</h1>
{% endblock dialog_header %}
{% block dialog_body %}
    <div class="view">

        <div class="wall">
            <div class="brick">
                <span>{{ object.epic.name }}&nbsp<i class="fa fa-arrow-right"></i>&nbsp;{{ object.name }}</span>
            </div>
            {% if object.anchor %}
                <div class="brick">
                    <em>Anchor</em> <span>{{ object.anchor|linebreaks|parse_avatars|safe }}</span>
                </div>
            {% endif %}
            {% if object.card_type %}
            <div class="brick">
                <em>Card Type</em><span>{{ object.get_card_type_display }}</span>
            </div>
            {% endif %}
            {% if data.tags %}
            <div class="brick">
                <span>{{ data.tags|safe }}</span>
            </div>
            {% endif %}

{#            <div class="brick">#}
{#                <em>PDF</em>{{ object.to_PDF | prettybool | safe }}#}
{#            </div>#}
            {% if object.date %}
                <div class="brick">
                    <em>Date</em><span>{{ object.date }}</span>
                </div>
            {% endif %}
            {% if object.sdt %}
                <div class="brick">
                    <em>IRL Datetime</em><span>{{ object.sdt }}</span>
                </div>
            {% endif %}
            {% if object.place %}
                <div class="brick">
                    <em>Place</em><span>{{ object.place }}</span>
                </div>
            {% endif %}
            {% if object.challenge %}
                <div class="brick">
                    <em>Challenge</em><span> {{ object.challenge }}</span>
                </div>
            {% endif %}
{#            {% if object.is_ongoing %}#}
{#                <div class="brick">#}
{#                    <em>OnGoing</em> {{ object.is_ongoing }}#}
{#                </div>#}
{#            {% endif %}#}
            {% for link in object.cardin.all %}
                <div class="brick">
                    <em>Relationships</em> {{ link.short }}
                </div>
            {% endfor %}

                <div class="brick">
                    <em class="parent">Parent</em>

                    <span class="card_link compact view_card" id="view_card_{{ object.parent.id }}" mode="overlay" title="Card Type: {{ object.parent.card_type }}: click to view">{{ object.parent }}</span>


                </div>

            {% for child in object.children.all %}
                <div class="brick">
                    <em class="Child">Child</em>
                    <span class="card_link compact view_card" id="view_card_{{ child.id }}" mode="overlay" title="Card Type: {{ child.card_type }}: click to view">{{ child }}</span>
                </div>
            {% endfor %}
        </div>
        <div class="pitch">
            {{ object.description|parse_avatars|safe }}
            <hr/>
            {{ object.resolution|parse_avatars|safe }}
            <hr/>
            {{ object.rewards|parse_avatars|safe }}
        </div>
    </div>
{% endblock dialog_body %}
{% block dialog_footer %}
    <button class="dialog_action" action="{{ object.action_model }}" option="{{ object.id }}" param="view" id="next"><i
            class="fa fa-arrow-circle-right"></i> Next
    </button>
    <button class="dialog_action" action="{{ object.action_model }}" option="{{ object.id }}" param="edit" id="edit"><i
            class="fa fa-pause-circle"></i> Edit
    </button>
    <button class="dialog_action" action="{{ object.action_model }}" option="{{ object.id }}" param="view" id="previous"><i
            class="fa fa-arrow-circle-left"></i> Previous
    </button>
{% endblock dialog_footer %}