{% load static %}
{% load fics_filters %}

<div class="item_row card_row" id="card_row_{{ c.id }}">
    <div class="cell mini first">
        <span class="compact view_card" id="view_card_{{ c.id }}" mode="overlay"
              title="Card Type: {{ c.card_type }}: click to view">{{ c.card_tag|safe }}</span>
    </div>
    <div class="cell mini first">
        <span class="menu-item" mode="standard" action="cards" ref="{% if c.parent %}

            {% if c.parent.parent %}{{ c.parent.parent.id }}{% else %}0{% endif %}{% else %}0{% endif %}"
              id="cards_list"><i class="fa fa-arrow-up"></i></span>
    </div>
    <div class="cell mini first">
        {% if c.children_links %}
            <span class="menu-item" mode="standard" action="cards" ref="{{ c.id }}" id="cards_list"><i
                    class="fa fa-arrow-down"></i></span>
        {% endif %}
    </div>
    <div class="cell wide30 first" title="Name:{{ c.name }} ({{ c.id|zfill }})"><em>{{ c.name }}</em><br>{{ c.full_id }}
    </div>
    <div class="cell mini first" title="Chapter:{{ c.chapter }}"><em>{{ c.chapter }}</em></div>
    <div class="cell wide20 first" title="{{ c.place }}"><em>{{ c.place|main_place }}</em></div>
    <div class="cell mini switcher" id="published_{{ c.id }}" ref="{{ c.id }}" option="card" param="published"
         title="Toggle published">{{ c.published|prettybool|safe }}</div>

    <div class="cell mini first">
        <span class="compact add_card" id="add_card_{{ c.id }}" mode="overlay"
              title="Add a child"><i class="fas fa-plus"></i></span>
    </div>
    <div class="cell text" title="Links">
        {{ c.children_links|safe }}
    </div>


    {#    <div class="cell wide brief" title="Place:{{ c.place }}"> {{ c.place }}</div>#}
    <div class="cell wide20" title="Date"> {{ c.date_offset }}<br/>[ {{ c.date_str }} ]<br/>[ {{ c.session_date_str }} ]
    </div>
    <div class="cell wide20" title="Tags"> {{ c.tags|safe }}</div>
    <div class="cell" title="Card's Balance Ratio">{{ c.collection_balance|ppie|safe }}</div>
    <div class="cell text">{{ c.get_casting_avatars|parse_avatars|safe }}</div>
    <div class="cell mini last" title="Experience"> XP<BR/>{{ c.experience }}</div>
</div>
