{% load static %}
{% load fics_filters %}

<div class="character_row"  id="card_row_{{ x.id }}">
    <div class="cell first wider" title="{{ x.id|zfill }}"> {{ x.full_id }}</div>
    <div class="cell mini" title="Card Type: {{ x.card_type }}"> {{ x.card_tag|safe }}</div>
    <div class="cell wider" title="Name:{{ x.name }}"><em>{{ x.name }}</em></div>
    <div class="cell wide brief" title="Place:{{ x.place }}"> {{ x.place }}</div>
    <div class="cell small" title="Date"> {{ x.dt|as_date }}</div>
    <div class="cell wide" title="Tags"> {{ x.tags|safe }}</div>
    <div class="cell text"> {{ x.abstract|safe }}</div>
{#    <div class="cell mini last">#}
{#        <span class="compact edit_card" id="edit_card_{{ c.id }}" mode="overlay" title="Edit"><i class="fas fa-cog"></i></span>#}
{#    </div>#}
    <div class="cell mini last">
        <span class="compact view_card" id="view_card_{{ x.id }}" mode="overlay" title="View"><i class="fas fa-eye"></i></span>
    </div>
</div>
