{% extends "scenarist/dialog.html" %}


{% block dialog_header %}
    <h1>Edit {{ object.action_model }} [{{ object.name }}]</h1>
{% endblock dialog_header %}



{% block dialog_body %}
    <form class='card_form' form-target='card'>
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.management_form }}
        <input name='id' type='hidden' value='{{ form.id }}'>
        <ul>
            {# form.as_ul #}
            <li>
                {{ form.name.errors }}
                <label for="name">Name</label>
                {{ form.name }}
            </li>
            <li>
                {{ form.chapter.errors }}
                <label for="chapter">Chapter</label>
                {{ form.chapter }}
            </li>
            <li>
                {{ form.date.errors }}
                <label for="date">Date</label>
                {{ form.date }}
            </li>
            <li>
                {{ form.dt.errors }}
                <label for="dt">DT</label>
                {{ form.dt }}
            </li>
            <li>
                {{ form.gamemaster.errors }}
                <label for="gamemaster">Gamemaster</label>
                {{ form.gamemaster }}
            </li>
            <li>
                {{ form.full_id.errors }}
                <label for="full_id">Full ID</label>
                {{ form.full_id }}
            </li>
            <li>
                {{ form.card_type.errors }}
                <label for="card_type">Card Type</label>
                {{ form.card_type }}
            </li>
            <li>
                {{ form.epic.errors }}
                <label for="epic">Epic</label>
                {{ form.epic }}
            </li>
            <li>
                {{ form.card_links.errors }}
                <label for="card_links">Card Links</label>
                {{ form.card_links }}
            </li>
            <li>
                {{ form.battle_scene.errors }}
                <label for="battle_scene">Battle</label>
                {{ form.battle_scene }}
            </li>
            <li>
                {{ form.chase_scene.errors }}
                <label for="chase_scene">Chase</label>
                {{ form.chase_scene }}
            </li>
            <li>
                {{ form.action_scene.errors }}
                <label for="action_scene">Action</label>
                {{ form.action_scene }}
            </li>
            <li>
                {{ form.technical_scene.errors }}
                <label for="technical_scene">Technical</label>
                {{ form.technical_scene }}
            </li>
            <li>
                {{ form.spiritual_scene.errors }}
                <label for="spiritual_scene">Spiritual</label>
                {{ form.spiritual_scene }}
            </li>
            <li>
                {{ form.political_scene.errors }}
                <label for="political_scene">Political</label>
                {{ form.political_scene }}
            </li>
            <li>
                {{ form.downtime_scene.errors }}
                <label for="downtime_scene">Downtime</label>
                {{ form.downtime_scene }}
            </li>
            <li>
                {{ form.description.errors }}
                <label for="description">Description</label>
                {{ form.description }}
            </li>
            <li>
                {{ form.resolution.errors }}
                <label for="resolution">Resolution</label>
                {{ form.resolution }}
            </li>
            <li>
                {{ form.rewards.errors }}
                <label for="rewards">Rewards</label>
                {{ form.rewards }}
            </li>
            <li>
                {{ form.archived.errors }}
                <label for="archived">Archived</label>
                {{ form.archived }}
            </li>
            <li>
                {{ form.to_PDF.errors }}
                <label for="to_pdf">To PDF</label>
                {{ form.to_PDF }}
            </li>
            <li>
                {{ form.temporary.errors }}
                <label for="temporary">Temporary</label>
                {{ form.temporary }}
            </li>
            <li>
                {{ form.visible.errors }}
                <label for="visible">Visible</label>
                {{ form.visible }}
            </li>

            {{ cardlinks.management_form }}
            {% for form in cardlinks.forms %}
                {{ form.as_ul }}
            {% endfor %}
        </ul>
    </form>
{% endblock dialog_body %}

{% block dialog_footer %}
    <button class="dialog_action" action="{{ object.action_model }}" state="view" id="next"><i
            class="fa fa-arrow-circle-right"></i> Next
    </button>
    <button class="dialog_action" action="{{ object.action_model }}" state="edit" id="update"><i
            class="fa fa-stop-circle"></i> Update
    </button>
    <button class="dialog_action" action="{{ object.action_model }}" state="edit" id="edit"><i
            class="fa fa-pause-circle"></i> Edit
    </button>
    <button class="dialog_action" action="{{ object.action_model }}" state="view" id="view"><i
            class="fa fa-play-circle"></i> View
    </button>
    <button class="dialog_action" action="{{ object.action_model }}" state="view" id="previous"><i
            class="fa fa-arrow-circle-left"></i> Previous
    </button>
{% endblock dialog_footer %}