{% load fics_filters %}
<div class='storydetails drama'>
    <div class="topic">
        <div class="subject">Drama</div>
        <div class="entry">{{object.epic.title}}&nbsp;<i class="fa fa-arrow-right"></i>&nbsp;{{object.title}}</div>
    </div>
    <div class="topic {%if object.anchor %}{%else%}hidden{%endif%}">
        <div class="subject">Anchor</div>
        <div class="entry"><strong>{{object.anchor|linebreaks|parse_avatars|safe}}</strong></div>
    </div>
    <div class="topic">
        <div class="subject">PDF</div>
        <div class="entry">{{object.to_PDF | prettybool | safe }}</div>
        </div>
    <div class="topic {%if object.date %}{%else%}hidden{%endif%}">
        <div class="subject">Date</div>
        <div class="entry">{{object.date}}</div>
    </div>
    <div class="topic {%if object.place %}{%else%}hidden{%endif%}">
        <div class="subject">Place</div>
        <div class="entry">{{object.place}}</div>
    </div>
    <div class="topic">
        <div class="subject">Challenge</div>
        <div class="entry"><strong>{{object.challenge}}</strong></div>
    </div>
    <div class="topic {%if object.description %}{%else%}hidden{%endif%}">
        <div class="subject">Description</div>
        <div class="entry desc">{{object.description|parse_avatars|safe}}</div>
    </div>
    <div class="topic {%if object.resolution %}{%else%}hidden{%endif%}">
        <div class="subject">Resolution</div>
        <div class="entry desc">{{object.resolution|parse_avatars|safe}}</div>
    </div>
</div>
