{% load fics_filters %}

<div class='storydetails epic'>
    <div class="topic">
        <div class="subject">Epic</div>
        <div class="entry">{{object.title}}</div>
    </div>
    <div class="topic">
        <div class="subject">Era</div>
        <div class="entry">{{object.era}}</div>
    </div>
    <div class="topic">
        <div class="subject">System</div>
        <div class="entry">{{object.system}}</div>
    </div>
    <div class="topic">
        <div class="subject">Gamemaster</div>
        <div class="entry desc">{{object.gamemaster|parse_avatars|safe}}</div>
    </div>
   <div class="topic">
        <div class="subject">Description</div>
        <div class="entry desc">{{object.description|parse_avatars|safe}}</div>
  </div>
</div>
