{% load fics_filters %}

<div class='storydetails epic'>
    <div class="wall">
        <div class="brick">
            <em>Era</em>{{object.era}}
        </div>
        {% if object.system %}
        <div class="brick">
            <em>Date</em>{{object.system}}
        </div>
        {% endif %}
        {% if object.gamamaster %}
        <div class="brick">
            <em>Place</em>{{object.gamemaster}}
        </div>
        {% endif %}
    </div>
    <div class="pitch">
        {{object.description|parse_avatars|safe}}

    </div>
</div>
