{% load static %}
{% load fics_filters %}

    <div class="cell mini">{{ c.id|safe}}</div>
    <div class="cell wider"  title="{{ c.rid|safe }}">
        <em> {{ c.full_name }}</em>
    </div>
    <div class="cell small">{{ c.player|safe }}</div>
    <div class="cell wide" title="{{ c.narrative|safe }}">
        {{ c.entrance|safe }}
    </div>
    <div class="cell mini" title="Balanced">{{ c.balanced|prettybool|safe}}</div>
    <div class="cell wider">{{ c.challenge|safe }}</div>
    <div class="cell small">{{ c.team|colorteam|safe }}</div>

    <div class="cell wide">{{c.stories | parse_stories | safe}}</div>

    <div class="cell mini last" title="Historical Figure">{{ c.historical_figure|prettyhistory|safe }}</div>
    <div class="cell mini last" title="Nameless">{{ c.nameless|prettybool|safe }}</div>
    <div class="cell mini" id="link_{{c.id}}">
        <span class="action_icon edit_character" id="edit_{{ c.id }}"><i class="fas fa-user-tag"></i></span>
    </div>
    <div class="cell mini" id="link_{{c.id}}">
        <span class="action_icon recalc_avatar" id="recalc_{{ c.id }}"><i class="fas fa-cog"></i></span>&nbsp;
    </div>
    <div class="cell mini" id="link_{{c.id}}">
        <span class="action_icon sheet" id="sheet_{{ c.id }}"><i class="fas fa-file"></i></span>&nbsp;
    </div>
<div class="cell" title="{{ c.keyword }}"><tt>{{ c.rid|safe }} / {{ c.keyword|safe }}</tt></div>

