

<div class="classyview">
<h1>{{ c.full_name }}</h1>
{{ c.entrance|safe }}</br>
<table class="coreblock" id="base">
<tr><th>Alliance</th><td>{{ c.alliance|safe }}</td><th>Birthdate</th><td>{{ c.birthdate }} ({{ c.age }} years old)</td></tr>
<tr><th>Species/Race</th><td>{{ c.species|capfirst }}</td><th>Gender</th><td>{% if c.gender == "male" %}<i class="fas fa-mars"></i>{% else %}<i class="fas fa-venus"></i>{%endif%}</td></tr>
<tr><th>Caste</th><td>{{ c.caste }}</td><th>Height</th><td>{{ c.height }}</td></tr>
<tr><th>Native Fief</th><td>{{ c.native_fief }}</td><th>Weight</th><td>{{ c.weight }}</td></tr>
<tr><th>Rank</th><td>{{ c.rank }}</td><th>Player</th><td>{{ c.player }}</td></tr>
</table>

<div class='narrative'>
{{ c.narrative|safe }}
</div>

<h2>Attributes</h2>
<div class='attributes'>
<table class="stats" id="phy">
<tr><th>STR</th><td>{{c.PA_STR}}</td><th>CON</th><td>{{c.PA_CON}}</td></tr>
<tr><th>BOD</th><td>{{c.PA_BOD}}</td><th>MOV</th><td>{{c.PA_MOV}}</td></tr>
</table>

<table class="stats" id="spi">
<tr><th>INT</th><td>{{c.PA_INT}}</td><th>WIL</th><td>{{c.PA_WIL}}</td></tr>
<tr><th>TEM</th><td>{{c.PA_TEM}}</td><th>PRE</th><td>{{c.PA_PRE}}</td></tr>
</table>

<table class="stats" id="com">
<tr><th>TEC</th><td>{{c.PA_TEC}}</td><th>REF</th><td>{{c.PA_REF}}</td></tr>
<tr><th>AGI</th><td>{{c.PA_AGI}}</td><th>AWA</th><td>{{c.PA_AWA}}</td></tr>
</table>

<table class="stats" id="hea">
<tr><th>REC</th><td>{{c.SA_REC}}</td><th>STA</th><td>{{c.SA_STA}}</td></tr>
<tr><th>END</th><td>{{c.SA_END}}</td><th>STU</th><td>{{c.SA_STU}}</td></tr>
<tr><th>RES</th><td>{{c.SA_RES}}</td><th>DMG</th><td>{{c.SA_DMG}}</td></tr>
</table>

<table class="stats" id="oth">
<tr><th>TOL</th><td>{{c.SA_TOL}}</td><th>HUM</th><td>{{c.SA_HUM}}</td></tr>
<tr><th>PAS</th><td>{{c.SA_PAS}}</td><th>WYR</th><td>{{c.SA_WYR}}</td></tr>
<tr><th>SPD</th><td>{{c.SA_SPD}}</td><th>RUN</th><td>{{c.SA_RUN}}</td></tr>
</table>
</div>

{% if c.skill_set.count != 0 %}
<h2>Skills</h2>
<div class='skillsview'>
{% for skill in c.skill_set.all|dictsort:"skill_ref.reference" %}
<table>
<tr>
<td>{% if skill.skill_ref.is_root %}<strong>{% endif %}
				{% if skill.skill_ref.is_speciality %}&nbsp;&nbsp;&nbsp;{% endif %}
			  {{ skill.skill_ref.reference|safe }}
				{% if skill.skill_ref.is_root %}</strong>{% endif %}			
</td>
<td>{{ skill.value }}</td>
</tr>
</table>
{% endfor %}
</div>
{% endif %}

{% if c.blessingcurse_set.count != 0 %}
<h2>Blessings/Curses</h2>
<table>
{% for bc in c.blessingcurse_set.all|dictsortreversed:"value" %}
<tr>
<td>{{ bc.name }}</td>
<td>{{ bc.value }}</td>
<td>{{ bc.description }}</td>
</tr>
{% endfor %}
</table>
{%endif%}

{% if c.talent_set.count != 0 %}
<h2>Talents</h2>
<table>
{% for t in c.talent_set.all|dictsortreversed:"value" %}
<tr>
<td>{{ t.name }}</td>
<td>{{ t.value }}</td>
<td>{{ t.description }}</td>
</tr>
{% endfor %}
</table>
{%endif%}


{% if c.weapon_set.count != 0 %}
<h2>Weapons</h2>
<table>{% for w in c.weapon_set.all|dictsort:"weapon_ref.reference" %}
{% if w.weapon_ref.category == "MELEE" %}
<tr><td>{{ w.weapon_ref.reference|safe }} &diams; {{w.weapon_ref.category}} &diams; WA:{{ w.weapon_ref.weapon_accuracy }} &diams; {{w.weapon_ref.conceilable}} &diams; {{ w.weapon_ref.availability }} &diams; DC:{{ w.weapon_ref.damage_class|center:"8" }} &diams; STR:{{ w.weapon_ref.str_min }} &diams; RNG:{{ w.weapon_ref.rng }} &diams; {{ w.weapon_ref.rel }} {% if not w.description is empty %}<br/>{{ w.description|safe }}{% endif %}</td></tr>
{% else %}
<tr><td>{{ w.weapon_ref.reference|safe }} &diams; {{w.weapon_ref.category}} &diams; WA:{{ w.weapon_ref.weapon_accuracy }} &diams; {{w.weapon_ref.conceilable}} &diams; {{ w.weapon_ref.availability }} &diams; DC:{{ w.weapon_ref.damage_class|center:"8" }} &diams; Cal.{{ w.weapon_ref.caliber }} &diams; RoF:{{ w.weapon_ref.rof }} &diams; Clip:{{ w.weapon_ref.clip }} &diams; RNG:{{ w.weapon_ref.rng }} &diams; {{ w.weapon_ref.rel }} {% if not w.weapon_ref.description is empty %}<br/>{{ w.weapon_ref..description|safe }}{% endif %}</td></tr>
{% endif %}
{% endfor %}
</table>
{%endif%}


{% if c.armor_set.count != 0 %}
<h2>Armor</h2>
<table>{% for a in c.armor_set.all|dictsort:"armor_ref.stopping_power" %}
<tr><td>{{ a.armor_ref.reference|safe }} &diams; {{a.armor_ref.category}} &diams; SP:{{ a.armor_ref.stopping_power }} &diams; HE{% if a.armor_ref.head %}<i class='fa fa-plus-circle'></i>{%else%}<i class='fa fa-minus-circle'></i>{%endif%} TO{% if a.armor_ref.torso %}<i class='fa fa-plus-circle'></i>{%else%}<i class='fa fa-minus-circle'></i>{%endif%} LA{%if  a.armor_ref.left_arm %}<i class='fa fa-plus-circle'></i>{%else%}<i class='fa fa-minus-circle'></i>{%endif%} RA{%  if a.armor_ref.right_arm %}<i class='fa fa-plus-circle'></i>{%else%}<i class='fa fa-minus-circle'></i>{%endif%} LL{% if a.armor_ref.left_leg %}<i class='fa fa-plus-circle'></i>{%else%}<i class='fa fa-minus-circle'></i>{%endif%} RL{% if a.armor_ref.right_leg %}<i class='fa fa-plus-circle'></i>{%else%}<i class='fa fa-minus-circle'></i>{%endif%}
{% if not a.armor_ref.description is empty %}<br/>{{ a.armor_ref.description|safe }}{% endif %}</td></tr>
{% endfor %}</table>
{%endif%}

{% if c.shield_set.count != 0 %}
<h2>Energy Shield</h2>
<table>{% for s in c.shield_set.all|dictsort:"shield_ref.reference" %}
<tr><td>{{ s.shield_ref.reference|safe }} &diams; {{s.shield_ref.protection_min}}/{{ s.shield_ref.protection_max }} &diams; Hits:{{s.shield_ref.hits}} &diams; w/ MEDIUM?{% if s.shield_ref.is_compatible_with_medium_armor %}<i class='fa fa-plus-circle'></i>{%else%}<i class='fa fa-minus-circle'></i>{%endif%} w/ HARD?{% if s.shield_ref.is_compatible_with_hard_armor %}<i class='fa fa-plus-circle'></i>{%else%}<i class='fa fa-minus-circle'></i>{%endif%} 
{% if not s.shield_ref.description is empty %}<br/>{{ s.shield_ref.description|safe }}{% endif %}</td></tr>
{% endfor %}</table>
{%endif%}


<hr/>
<i class="fas fa-certificate"></i> <tt>{{ c.rid }}</tt>
<br/><i class="fas fa-th-large"></i>{{ c.PA_TOTAL }} <i class="fas fa-th-list"></i>{{ c.SK_TOTAL }} <i class="fas fa-user-secret"></i>{{ c.TA_TOTAL }} <i class="fas fa-user-md"></i>{{ c.BC_TOTAL }}
</div>
