{% extends "pdf.html" %}
{% block sheet %}

<h1>{{ c.full_name|safe }} {% if c.player != "" %}({{c.player|safe}}){%endif%}</h1>
{{ c.entrance|safe }}</br>
{{c.gender|capfirst}} {{ c.species|capfirst|safe }} {{ c.rank|safe }} of the {{ c.alliance|safe }} from {{ c.native_fief|safe }} {{ c.caste|safe }}.
<br/>Born in {{ c.birthdate }} ({{ c.age }} years old)
<br/>Height: {{c.height}}cm / Weight:{{c.weight}}kg 

<pdf:nextframe>

<h2>Primary Attributes ({{ c.PA_TOTAL }})</h2>
<table class="stats" id="phy">
<tr><th>STR</th><td>{{c.PA_STR}}</td><th>CON</th><td>{{c.PA_CON}}</td></tr>
<tr><th>BOD</th><td>{{c.PA_BOD}}</td><th>MOV</th><td>{{c.PA_MOV}}</td></tr>
</table>
<div class='spacer'>&nbsp;</div>
<table class="stats" id="spi">
<tr><th>INT</th><td>{{c.PA_INT}}</td><th>WIL</th><td>{{c.PA_WIL}}</td></tr>
<tr><th>TEM</th><td>{{c.PA_TEM}}</td><th>PRE</th><td>{{c.PA_PRE}}</td></tr>
</table>
<div class='spacer'>&nbsp;</div>
<table class="stats" id="com">
<tr><th>TEC</th><td>{{c.PA_TEC}}</td><th>REF</th><td>{{c.PA_REF}}</td></tr>
<tr><th>AGI</th><td>{{c.PA_AGI}}</td><th>AWA</th><td>{{c.PA_AWA}}</td></tr>
</table>
<pdf:nextframe>
<h2>Secondary Attributes</h2>
<table class="stats" id="hea">
<tr><th>REC</th><td>{{c.SA_REC}}</td><th>STA</th><td>{{c.SA_STA}}</td></tr>
<tr><th>END</th><td>{{c.SA_END}}</td><th>STU</th><td>{{c.SA_STU}}</td></tr>
<tr><th>RES</th><td>{{c.SA_RES}}</td><th>DMG</th><td>{{c.SA_DMG}}</td></tr>
</table>
<div class='spacer'>&nbsp;</div>
<table class="stats" id="oth">
<tr><th>TOL</th><td>{{c.SA_TOL}}</td><th>HUM</th><td>{{c.SA_HUM}}</td></tr>
<tr><th>PAS</th><td>{{c.SA_PAS}}</td><th>WYR</th><td>{{c.SA_WYR}}</td></tr>
<tr><th>SPD</th><td>{{c.SA_SPD}}</td><th>RUN</th><td>{{c.SA_RUN}}</td></tr>
</table>

<pdf:nextframe>

{% if c.skill_set.count != 0 %}
<h2>Skills ({{ c.SK_TOTAL }})</h2>
<div class='skillsview'>
{% for skill in c.skill_set.all|dictsort:"skill_ref.reference" %}
{% if skill.skill_ref.is_root %}<strong>{% endif %}{% if skill.skill_ref.is_speciality %}<em>{% endif %}{{ skill.skill_ref.reference|safe }}{% if skill.skill_ref.is_speciality %}</em>{% endif %}{% if skill.skill_ref.is_root %}</strong>{% endif %}
&nbsp;{{ skill.value }}{% if forloop.last %}. {% else %},{% endif %} 
{% endfor %}
</div>
{% endif %}

{% if c.blessingcurse_set.count != 0 %}
<h2>Blessings/Curses ({{ c.BC_TOTAL }})</h2>
{% for bc in c.blessingcurse_set.all|dictsortreversed:"value" %}
<p><u>{{ bc.name|safe }}</u> ({{ bc.value }}): <br/> {{ bc.description|safe }}</p>
{% endfor %}
{%endif%}

{%load fics_filters%}

{% if c.beneficeaffliction_set.count != 0 %}
<h2>Benefices/Afflictions ({{ c.BA_TOTAL }})</h2>
<p>{% for ba in c.beneficeaffliction_set.all|dictsortreversed:"value" %}
</p><u>{{ ba.beneficeaffliction_ref.reference|safe }}</u> (Cost:{{ ba.beneficeaffliction_ref.value }}+{{ ba.value }}): {{ ba.beneficeaffliction_ref.description|safe}} {{ba.description|parse_avatars_pdf|safe }}
{% endfor %}
</p>
{%endif%}

<pdf:nextframe>
  
{% if c.talent_set.count != 0 %}
<h2>Talents ({{ c.TA_TOTAL }})</h2>
<p>{% for t in c.talent_set.all|dictsortreversed:"value" %}
<u>{{ t.name|safe }}</u> ({{t.AP}}x3+{{t.OP}}={{ t.value }}): {{t.attributes_list}} {{t.skills_list}}{{ t.description|safe }}{% if forloop.last %}</p>{% else %}<br/>{% endif %}
{% endfor %}
{%endif%}
{% if c.weapon_set.count != 0 %}
<h2>Weapons</h2>
<p>{% for w in c.weapon_set.all|dictsort:"weapon_ref.reference" %}
{% if w.weapon_ref.category == "MELEE" %}
<u>{{ w.weapon_ref.reference|safe }}:</u> <br/> {{w.weapon_ref.category}} &diams; WA:{{ w.weapon_ref.weapon_accuracy }} &diams; {{w.weapon_ref.conceilable}} &diams; {{ w.weapon_ref.availability }} &diams; DC:{{ w.weapon_ref.damage_class|center:"8" }} &diams; STR:{{ w.weapon_ref.str_min }} &diams; RNG:{{ w.weapon_ref.rng }} &diams; {{ w.weapon_ref.rel }} {% if not w.description is empty %}<br/>{{ w.description|safe }}{% endif %}{% if forloop.last %}</p>{% else %}<br/>{% endif %}
{% else %}
<u>{{ w.weapon_ref.reference|safe }}:</u> <br/> {{w.weapon_ref.category}} &diams; WA:{{ w.weapon_ref.weapon_accuracy }} &diams; {{w.weapon_ref.conceilable}} &diams; {{ w.weapon_ref.availability }} &diams; DC:{{ w.weapon_ref.damage_class|center:"8" }} &diams; Cal.{{ w.weapon_ref.caliber }} &diams; RoF:{{ w.weapon_ref.rof }} &diams; Clip:{{ w.weapon_ref.clip }} &diams; RNG:{{ w.weapon_ref.rng }} &diams; {{ w.weapon_ref.rel }} {% if not w.weapon_ref.description is empty %} {{ w.weapon_ref..description|safe }}{% endif %}{% if forloop.last %}</p>{% else %}<br/>{% endif %}
{% endif %}
{% endfor %}
{%endif%}
{% if c.armor_set.count != 0 %}
<h2>Armor</h2>
<p>{% for a in c.armor_set.all|dictsort:"armor_ref.stopping_power" %}
<u>{{ a.armor_ref.reference|safe }}</u> &diams; {{a.armor_ref.category}} &diams; SP:{{ a.armor_ref.stopping_power }} &diams; {% if a.armor_ref.head %}(HE){%endif%}{% if a.armor_ref.torso %}(TO){%endif%}{%if a.armor_ref.left_arm %}(LA){%endif%}{% if a.armor_ref.right_arm %}(RA){%endif%}{% if a.armor_ref.left_leg %}(LL){%endif%}{% if a.armor_ref.right_leg %}(RL){%endif%}
{% if not a.armor_ref.description is empty %}{{ a.armor_ref.description|safe }}{% endif %}{% if forloop.last %}</p>{% else %}<br/>{% endif %}
{% endfor %}
{%endif%}

{% if c.shield_set.count != 0 %}
<h2>Energy Shield</h2>
<p>{% for s in c.shield_set.all|dictsort:"shield_ref.reference" %}
<u>{{ s.shield_ref.reference|safe }}</u> &diams; {{s.shield_ref.protection_min}}/{{ s.shield_ref.protection_max }} &diams; Hits:{{s.shield_ref.hits}} &diams; usage:(Soft {% if s.shield_ref.is_compatible_with_medium_armor %}Medium {%else%}- {%endif%}{% if s.shield_ref.is_compatible_with_hard_armor %}Hard {%else%}- {%endif%})
{% if not s.shield_ref.description is empty %}{{ s.shield_ref.description|safe }}{% endif %}<br/>
{% endfor %}</p>
{%endif%}

<h2>Narrative</h2>
<div class='narrative'>
{{ c.narrative|linebreaks|safe }}
</div>

<pdf:nextframe>
<h2>Shortcuts</h2>
<div class='shortcuts'>
{{ c.gm_shortcuts|safe }}
</div>
<hr/>
<tt>CHALLENGE {{ c.OP }}
<br/>Role: {{c.role}}
<br/>Profile: {{c.profile}}
<BR/>RID:{{ c.rid }}
<br/>Generated by <b>Dramatis Personae</b> 
<BR/>{% now "Ymd H:i:s"  %}
<br/><b>{{c.pagenum|stringformat:"03d" }}</b>
</tt>

{% endblock sheet %}

</body>
</html>

