{% load static %}
{% load fics_filters %}
<div class="item_row character_row" id="character_row_{{ c.id }}">
    <div class="cell mini charsel" ref="{{c.id}}">{{ c.id|safe}}</div>
    <div class="cell mini figureshow" medimg="{{c.rid|as_media_image}}">{{ c.rid|media_check|safe}}</div>

    <div class="cell mini" id="link_{{c.id}}">
        <span class="action_icon sheet" id="sheet_{{ c.id }}"><i class="fas fa-file"></i></span>&nbsp;
    </div>
    <div class="cell mini switcher" option="character" id="selected_{{c.id}}" ref="{{c.id}}" param="selected" title="Toggle Selected">{{ c.selected|prettybool|safe}}</div>
    <div class="cell mini switcher" option="character" id="is_public_{{c.id}}" ref="{{c.id}}" param="is_public" title="Toggle Public">{{ c.is_public|prettybool|safe}}</div>
    <div class="cell mini switcher" option="character" id="is_core_{{c.id}}" ref="{{c.id}}" param="is_core" title="Toggle Core">{{ c.is_core|prettybool|safe}}</div>
    <div class="cell mini switcher" option="character" id="archived_{{c.id}}" ref="{{c.id}}" param="archived" title="Toggle Archived">{{ c.archived|prettybool|safe}}</div>
    <div class="cell mini switcher" option="character" id="incognito_{{c.id}}" ref="{{c.id}}" param="incognito" title="Toggle Incognito">{{ c.incognito|prettybool|safe}}</div>
    <div class="cell mini switcher" option="character" id="is_draft_{{c.id}}" ref="{{c.id}}" param="is_draft" title="Toggle is_draft">{{ c.is_draft|prettybool|safe}}</div>
    <div class="cell mini switcher" option="character" id="spotlight_{{c.id}}" ref="{{c.id}}" param="spotlight" title="Toggle spotlight">{{ c.spotlight|prettybool|safe}}</div>
    <div class="cell mini" title="Balanced">{{ c.balanced|prettybool|safe}}</div>

    <div class="cell widest" title="{{ c.rid|safe }}">
        <em> {{ c.full_name }}</em>
        {% if c.player %}<br/>(player: {{ c.player|safe }}){% endif %}
        {% if c.alias %}<br/>(alias: {{ c.alias|safe }}){% endif %}
        {% if c.keyword %}<br/>Keyword: {{ c.keyword}}{% endif %}
        <br/><tt>{{ c.rid|safe }}</tt>
    </div>
    <div class="cell widest">{{ c.challenge|safe }}</div>
    <div class="cell wider" title="{{ c.narrative|safe }}">
        {{ c.entrance|safe }}
    </div>

    <div class="cell">{{c.stories | parse_stories | safe}}</div>

    <div class="cell mini" id="link_{{c.id}}">


        <span class="compact dialog_action" id="edit" action="{{ c.action_model }}" option="{{ c.id }}" mode="overlay" title="Edit this character"><i class="fas fa-user-tag"></i></span>

    </div>
    <div class="cell mini" id="link_{{c.id}}">
        <span class="compact dialog_action" id="view" action="{{ c.action_model }}" option="{{ c.id }}" mode="overlay" title="View this character"><i class="fas fa-eye"></i></span>
    </div>
    <div class="cell mini" id="grab_{{c.id}}">
        <span class="action_icon grab_character" id="grab_{{ c.id }}" title="Add this character to the current epic"><i class="fas fa-arrow-right"></i></span>
    </div>
</div>
