{% load crispy_forms_tags %}

<div class="classyview">
    <form class='character_form'>
        {{ form.non_field_errors}}
        {{ form.management_form }}
        <input name='id' type='hidden' value='{{c.id}}'>
        <input name='rid' type='hidden' value='{{c.rid}}'>
        <table class="formset">
            <caption>{{c.rid}}</caption>
            <tr>
                <td>
                    <div class="field_wrapper">
                        {{ form.full_name.errors}}
                        <label for="full_name">Name</label>
                        {{form.full_name }}
                    </div>
                    <div class="field_wrapper">
                        {{ form.entrance.errors}}
                        <label for="entrance">Entrance</label>
                        {{form.entrance}}
                    </div>
                    <div class="field_wrapper">
                        {{ form.alliance.errors}}
                        <label for="">Alliance</label>
                        {{form.alliance}}
                    </div>
                    <div class="field_wrapper">
                        {{ form.specie.errors}}
                        <label for="">Species/Race</label>
                        {{form.specie}}
                    </div>
                    <div class="field_wrapper">
                        {{ form.birthdate.errors}}
                        <label for="">Birthyear</label>
                        {{form.birthdate}}
                    </div>
                    <div class="field_wrapper">
                        {{ form.gender.errors}}
                        <label for="">Gender</label>
                        {{form.gender}}
                    </div>
                    <div class="field_wrapper">
                        {{ form.height.errors}}
                        <label for="">Height</label>
                        {{form.height}}
                    </div>
                    <div class="field_wrapper">
                        {{ form.weight.errors}}
                        <label for="">Weight</label>
                        {{form.weight}}
                    </div>
                    <div class="field_wrapper">
                        {{ form.rank.errors}}
                        <label for="">Rank</label>
                        {{form.rank}}
                    </div>
                    <div class="field_wrapper">
                        {{ form.native_fief.errors}}
                        <label for="">Native Fief</label>
                        {{form.native_fief}}
                    </div>
                    <div class="field_wrapper">
                        {{ form.caste.errors}}
                        <label for="">Caste:</label>
                        {{form.caste}}
                    </div>
                    <div class="field_wrapper">
                        {{ form.player.errors}}
                        <label for="">Player</label>
                        {{form.player}}
                    </div>
                    <div class="field_wrapper">
                        {{ form.occult.errors}}
                        <label for="">Occult</label>
                        {{form.occult}}
                    </div>
                    <div class="field_wrapper">
                        {{ form.keyword.errors}}
                        <label for="">Keyword</label>
                        {{form.keyword}}
                    </div>
                    <div class="field_wrapper">
                        {{ form.is_exportable.errors}}
                        <label for="">Exportable</label>
                        {{form.is_exportable}}
                    </div>
                    <div class="field_wrapper">
                        {{ form.is_visible.errors}}
                        <label for="">Visible</label>
                        {{form.is_visible}}
                    </div>
                    <div class="field_wrapper">
                        {{ form.is_dead.errors}}
                        <label for="">Dead</label>
                        {{form.is_dead}}
                    </div>
                    <div class="field_wrapper">
                        {{ form.use_history_creation_errors}}
                        <label for="">Use History Creation</label>
                        {{form.use_history_creation}}
                    </div>
                    <div class="field_wrapper">
                        {{ form.is_locked.errors}}
                        <label for="">Locked</label>
                        {{form.is_locked}}
                    </div>
                    <div class="field_wrapper">
                        {{ form.is_public.errors}}
                        <label for="">Public</label>
                        {{form.is_public}}
                    </div>
                    <div class="field_wrapper">
                        {{ form.is_partial.errors}}
                        <label for="">Partial</label>
                        {{form.is_partial}}
                    </div>
                    <div class="field_wrapper">
                        {{ form.use_only_entrance.errors}}
                        <label for="">Only Entrance</label>
                        {{form.use_only_entrance}}
                    </div>
                    <div class="field_wrapper">
                        {{ form.epic.errors}}
                        <label for="">Epic</label>
                        {{form.epic}}
                    </div>
                    <div class="field_wrapper">
                        {{ form.narrative.errors}}
                        <label for="">Narrative</label>
                        {{form.narrative}}
                    </div>
                </td><td>
                      <table class="formset inline">
                      <caption>Lifepath</caption>
                      {{ tourofdutys.management_form }}
                      {% for form in tourofdutys.forms %}
                        {{ form.as_table }}
                        {% endfor %}
                    </table>
                </td>
            </tr>
        </table>
        {% csrf_token %}
    </form>


</div>
