{% load static %}
{% load fics_filters %}

<div class='avatar_link{% if c.is_locked %} locked{%endif%}'>
    <div class='character_actions' id="link_{{c.id}}">
{#        <span class="cell mini charsel" ref="{{c.id}}">{{ c.id|safe}}</span>#}
        <span class="action_icon  figureshow" medimg="{{c.rid|as_media_image}}">{{ c.rid|media_check|safe}}</span>

        <span class="action_icon edit_character" id="edit_{{c.id}}"><i class="fas fa-user-tag"></i></span>&nbsp
        <span class="action_icon recalc_avatar" id="recalc_{{c.id}}"><i class="fas fa-cog"></i></span>&nbsp;
        <span class="action_icon sheet" id="sheet_{{c.id}}"><i class="fas fa-file"></i></span>&nbsp;
<!--        <span class="action_icon wa_export_character"><i class="fas fa-arrow-down"></i></span>&nbsp;-->
<!--        {% if c.use_history_creation %}-->
<!--            {% if c.balanced %}-->
<!--            <span class="action_icon histo"><i class="golden fas fa-balance-scale"></i></span>-->
<!--            {% else %}-->
<!--            <span class="action_icon histo"><i class="fas fa-balance-scale-right"></i></span>-->
<!--            {% endif %}-->
<!--        {% endif %}&nbsp;&nbsp;-->
<!--        {% if c.is_public %}-->
<!--            <span class='action_icon toggle_public'><i class='golden fas fa-universal-access'></i></span>-->
<!--        {% else %}-->
<!--            <span class='action_icon toggle_public'><i class='fas fa-ban'></i></span>-->
<!--        {% endif %}-->
<!--        {% if c.spotlight %}-->
<!--            <span class='action_icon toggle_spotlight'><i class='golden fas fa-lightbulb'></i></span>-->
<!--        {% else %}-->
<!--            <span class='action_icon toggle_spotlight'><i class='fas fa-lightbulb'></i></span>-->
<!--        {% endif %}-->
<!--        {% if c.error %}-->
<!--            <span class='action_icon'><i class='golden fas fa-bug'></i></span>-->
<!--        {% else %}-->
<!--            <span class='action_icon'><i class='fas fa-times'></i></span>-->
<!--        {% endif %}-->
    </div>
    <div class='character_info hidden'>
        <div class="main_plate"></div>
        <div class="support_plate"></div>
        <div class="plate double">{{ c.entrance|safe }}</div>
        <div class="plate">{{ c.alliance|safe }}</div>
        {% if c.fencing_league %}
            <div class="plate">Proud member of the Fencing League.</div>
        {% endif %}
        <div class="plate">ID/RID: {{c.id}} / {{c.rid}}</div>
        {% if c.keyword != '' %}
            <div class="plate">{{c.keyword|safe}}</div>
        {% endif %}
        {% if c.stories_count %}
        <div class="plate"> Casted {{ c.stories_count }} time(s).</div>
        {% endif %}
        <div class="plate right">{{ c.challenge|safe }}</div>
    </div>
</div>
