<div class='avatar_link {% if c.is_locked %}locked{%endif%}'>
  <div class='character_name'>
  <em title='{{ c.full_name }}'=>{{ c.full_name }}</em>
  </div> 
  <div class='character_actions'>    
    <span class="action view_character" id="{{c.id}}"><i class="fas fa-user"></i></span>&nbsp;&nbsp;
    <span class="action edit_character" id="{{c.id}}"><i class="fas fa-user-tag"></i></span>&nbsp;&nbsp;
    <span class="action recalc_character" id="{{c.id}}"><i class="fas fa-cog"></i></span>&nbsp;&nbsp;
    {% if not c.is_locked %}
    <span class="action recalc_pa_character" id="{{c.id}}"><i class="fas fa-hand-paper"></i></span>&nbsp;&nbsp;
    <span class="action recalc_skills_character" id="{{c.id}}"><i class="fas fa-gavel"></i></span>&nbsp;&nbsp;
    {% endif %}
    {% if c.is_exportable %}&nbsp;<a class='action' href='pdf/{{c.rid}}/' target='avatar_pdf'><i class='fas fa-file-pdf'></i></a>{% endif %}
  </div>
  <div class='character_info hidden'>   
    {% if c.is_public %}
    <span class="action public_character" id="{{c.id}}"><i class="fa fa-share-alt"></i></span>&nbsp;&nbsp;
    {% endif %}
    {{ c.challenge|safe }}        
    <br/>{{ c.alliance|safe }} ({%if c.keyword != '' %}<span class='action custom_glance' id='{{c.keyword}}'>{{c.keyword|safe}}</span>{%endif%})
    <br/>ID:<span class='action custom_show' id='{{c.id}}'>{{c.id}}</span> {{c.stars|safe}} {% if c.is_locked %}<i class="fas fa-lock golden"></i>{% endif %}
  </div>
</div>
