<div class="character_update_view">
    <form class='character_form' form-target='character'>
        {{ form.non_field_errors}}
        {{ form.management_form }}
        <input name='id' type='hidden' value='{{c.id}}'>
        <input name='rid' type='hidden' value='{{c.rid}}'>
        <div class="formset">
            <div class="field_wrapper">
                {{ form.full_name.errors}}
                <label for="full_name">Name</label>
                {{form.full_name }}
            </div>
            <div class="field_wrapper">
                {{ form.alias.errors}}
                <label for="alias">Alias</label>
                {{form.alias}}
            </div>
            <div class="field_wrapper">
                {{ form.entrance.errors}}
                <label for="entrance">Entrance</label>
                {{form.entrance}}
            </div>
            <div class="field_wrapper">
                {{ form.storytelling_note.errors}}
                <label for="storytelling_note">Storytelling Note</label>
                {{form.storytelling_note}}
            </div>

            <div class="field_wrapper">
                {{ form.alliance_ref.errors}}
                <label for="alliance_ref">AllianceRef</label>
                {{form.alliance_ref}}
            </div>
            <div class="field_wrapper">
                {{ form.faction.errors}}
                <label for="faction">Faction</label>
                {{form.faction}}
            </div>
            <div class="field_wrapper">
                {{ form.specie.errors}}
                <label for="species">Species/Race</label>
                {{form.specie}}
            </div>
            <div class="field_wrapper">
                {{ form.birthdate.errors}}
                <label for="birthdate">Birthyear</label>
                {{form.birthdate}}
            </div>
            <div class="field_wrapper">
                {{ form.gender.errors}}
                <label for="gender">Gender</label>
                {{form.gender}}
            </div>
            <div class="field_wrapper">
                {{ form.height.errors}}
                <label for="height">Height</label>
                {{form.height}}
            </div>
            <div class="field_wrapper">
                {{ form.weight.errors}}
                <label for="weight">Weight</label>
                {{form.weight}}
            </div>
            <div class="field_wrapper">
                {{ form.rank.errors}}
                <label for="rank">Rank</label>
                {{form.rank}}
            </div>
            <div class="field_wrapper">
                {{ form.team.errors}}
                <label for="team">Team</label>
                {{form.team}}
            </div>
            <div class="field_wrapper">
                {{ form.native_fief.errors}}
                <label for="native_fief">Origins</label>
                {{form.native_fief}}
            </div>
            <div class="field_wrapper">
                {{ form.fief.errors}}
                <label for="fief">Native Fief</label>
                {{form.fief}}
            </div>
            <div class="field_wrapper">
                {{ form.current_fief.errors}}
                <label for="current_fief">Current Fief</label>
                {{form.current_fief}}
            </div>

            <div class="field_wrapper">
                {{ form.caste.errors}}
                <label for="caste">Caste</label>
                {{form.caste}}
            </div>
            <div class="field_wrapper">
                {{ form.player.errors}}
                <label for="player">Player</label>
                {{form.player}}
            </div>
            <div class="field_wrapper">
                {{ form.occult.errors}}
                <label for="occult">Occult</label>
                {{form.occult}}
            </div>
            <div class="field_wrapper">
                {{ form.path.errors}}
                <label for="path">Path</label>
                {{form.path}}
            </div>
            <div class="field_wrapper">
                {{ form.stigma.errors}}
                <label for="path">Stigma</label>
                {{form.stigma}}
            </div>
            <div class="field_wrapper">
                {{ form.keyword.errors}}
                <label for="keyword">Keyword</label>
                {{form.keyword}}
            </div>
            <div class="field_wrapper">
                {{ form.is_visible.errors}}
                <label for="is_visible">Visible</label>
                {{form.is_visible}}
            </div>
            <div class="field_wrapper">
                {{ form.custo_descs.errors}}
                <label for="custo_descs">Custom Descriptions</label>
                {{form.custo_descs}}
            </div>
            <div class="field_wrapper">
                {{ form.fencing_league.errors}}
                <label for="fencing_league">Fencing League</label>
                {{form.fencing_league}}
            </div>

            <div class="field_wrapper">
                {{ form.is_dead.errors}}
                <label for="is_dead">Dead</label>
                {{form.is_dead}}
            </div>
            <div class="field_wrapper">
                {{ form.need_fix.errors}}
                <label for="need_fix">Need Fix</label>
                {{form.need_fix}}
            </div>
            <div class="field_wrapper">
                {{ form.use_history_creation_errors}}
                <label for="use_history_creation">Use History Creation</label>
                {{form.use_history_creation}}
            </div>
            <div class="field_wrapper">
                {{ form.is_locked.errors}}
                <label for="is_locked">Locked</label>
                {{form.is_locked}}
            </div>
            <div class="field_wrapper">
                {{ form.historical_figure.errors}}
                <label for="historical_figure">Historical Figure</label>
                {{form.historical_figure}}
            </div>
            <div class="field_wrapper">
                {{ form.nameless.errors}}
                <label for="nameless">Nameless</label>
                {{form.nameless}}
            </div>
            <div class="field_wrapper">
                {{ form.narrative.errors}}
                <label for="narrative">Narrative</label>
                {{form.narrative}}
            </div>

            {{ tourofdutys.management_form }}


                {% for form in tourofdutys.forms %}
                    <div class="field_wrapper">
                        {{ form.as_p }}
                    </div>
                {% endfor %}

        </div>
        {% csrf_token %}
    </form>
</div>
