{% load fics_filters %}

{% include "collector/mobile_form.html" %}

<div class="classyview" id='sheet_{{c.id}}'>
{% if c.alliance_picture != "" %}
<!--div class='pic'><img src="static/collector/portraits/{{ c.rid }}.jpg"></div-->
{% endif %}

<h1>{{ c.full_name }}</h1>
{{ c.entrance|safe }}<br/>
{{ c.epic|safe }}<br/>

<div class='coreblock'>
<ul class='unbreakable'>
    <li><b>Alliance</b>{{ c.alliance|safe }}</li>
    <li><b>Birthdate</b>{{ c.birthdate }} ({{ c.age }} years old)</li>
    <li><b>Caste</b>{{ c.caste }}</li>
    <li><b>Native Fief</b>{{ c.native_fief }}</li>
    <li><b>Rank</b>{{ c.rank }}</li>
    <li><b>Height</b>{{ c.height|as_height }}</li>
    <li><b>Weight</b>{{ c.weight|as_weight }}</li>
</ul>
<span class='pagebreaker'>&nbsp;</span>
<ul class='unbreakable'>
    <li><b>Player</b>{{ c.player }}</li>
    <li><b>Role</b>{{ c.role }}</li>
    <li><b>Keyword</b>{{ c.keyword }}</li>
    <li><b>Profile</b>{{ c.profile }}</li>
    <li><b>ID</b>{{c.id}}</li>
    <li><b>Dead</b>{{ c.is_dead|prettybool|safe }}</li>
    <li><b>Visible</b>{{c.is_visible|prettybool|safe}}</li>
    <li><b>Lifepaths</b>{{c.use_history_creation|prettybool|safe}}</li>
</ul>
<span class='pagebreaker'>&nbsp;</span>
{% if c.tourofduty_set.count != 0 %}
    <ul class='unbreakable'>
    {% for tod in c.tourofduty_set.all|dictsort:"tour_of_duty_ref.category" %}
    <li><b>{{ tod.tour_of_duty_ref.category|as_lifepath }} ({{tod.tour_of_duty_ref.value}})</b> {{tod.tour_of_duty_ref.reference}}</li>
    {% endfor %}
    </ul>
{% else %}
    <ul class='unbreakable'></ul>
{% endif %}
</div>

<h2>Attributes ({{c.PA_TOTAL}}x3)</h2>
<div class='attributes'>
    {% include "collector/character/character_primaries.html" %}
    {% include "collector/character/character_secondaries.html" %}
</div>
{% include "collector/character/character_skills.html" %}
<div class='options'>
    {% include "collector/character/character_bc.html" %}
    {% include "collector/character/character_ba.html" %}
    {% include "collector/character/character_talents.html" %}
</div>
<div class='gear'>
    {% include "collector/character/character_weapons.html" %}
    {% include "collector/character/character_armors.html" %}
    {% include "collector/character/character_shields.html" %}
</div>

<div class='narrative'>
{{ c.narrative|parse_avatars|safe }}
</div>

<hr/>
<span class='golden custom_show' id='{{c.rid}}' ><a href='pdf/{{c.rid}}/' target='avatar_pdf'><i class="fas fa-file-pdf"></i> {{c.rid}}</a></span>
<br/>{{c.challenge|safe}}
</div>
