{% extends "pdf_doc.html" %}
{% block article %}

{% load fics_filters %}
  <h1>{{ epic.title }}</h1>
  <P>{{ epic.data.era }}</P>
  <P>{{ epic.data.population }}</P>
  <P>{{ epic.data.description|linebreaks|safe }}</P> 
  {% for drama in epic.dramas %}    
    <h2>{{drama.data.chapter}}. {{ drama.title }}</h2>
    <P>{{ drama.data.date }}</P>
    <P>{{ drama.data.place }}</P>
    <P>{{ drama.data.players|parse_avatars_pdf|safe }}</P>
    <P>{{ drama.data.description|linebreaks|safe }}</P>
    <P>{{ drama.data.resolution|linebreaks|safe }}</P>
    {% for act in drama.acts %}         
      <h3>{{act.data.chapter}}. {{ act.title }}</h3>
      <P>{{ act.data.date }}</P>
      <P>{{ act.data.place }}</P>
      <P>{{ act.data.description|linebreaks|safe }}</P>
      <P>{{ act.data.resolution|linebreaks|safe }}</P>
      {% for event in act.events %}
        <h4>{{event.data.chapter}}. {{ event.title }}</h4>
        <P>{{ event.data.date }}</P>
        <P>{{ event.data.place }}</P>
        <P>{{ event.data.description|linebreaks|safe }}</P>
        <P>{{ event.data.resolution|linebreaks|safe }}</P>
      {% endfor %}         
    {% endfor %}
  {% endfor %}
  <P>{{ epic.data.gamemaster }}</P>
{% endblock article %}
