{% extends "pdf_gear.html" %}
{%load fics_filters%}
{%load static%}


{% block article %}
<div class="default">
    <div id="header_content">
        <img src='collector/static/collector/glyph.png' width='0.5cm'>

    </div>
    <div id="footer_content">
        <pdf:pagenumber> / <pdf:pagecount>
    </div>


<h1>DP Audit</h1>
<p>Release Date: <em>{{ date }}</em></p>
<p>This the Audit Report</p>

<img src="/media/images/f_emmett_van_gerlder.jpg" width='3cm' height='4cm'/>

<h2>Characters</h2>


{% if characters  %}
    {% for x in characters %}
        <h3>
        {%  if x.alias %}
            {{ x.alias }}
        {% else %}
            {{ x.full_name }}
        {% endif %}
        </h3>
        <cite>{{ x.rid|as_media_image }}</cite>
        <img src="{{ x.rid|as_media_image }}" width='3cm' height='4cm'/>
    {% endfor %}
{% endif %}


</div>
{% endblock article %}