{% load fics_filters %}
{% csrf_token %}
<div class="fresque">
    {% for x in epics %}
    <div class="character_row">
        <div class="cell mini"> {{ x.id }}</div>
        <div class="cell wide"> {{ x.epic_title }}</div>
        <div class="cell wide"> {{ x.smart_code }}</div>
        <div class="cell wide"> {{ x.population }}</div>
        <div class="cell mini"> {{ x.is_active|prettybool|safe }}</div>
        <div class="cell wide"> {{ x.adventures }}</div>
    </div>
    {% endfor %}
</div>
