{% extends "pdf_gear.html" %}
{%load fics_filters%}
{%load static%}

{% block article %}

<div id="header_content">
    <img src='collector/static/collector/glyph.png' width='0.5cm'/>
</div>
<div id="footer_content">
    <pdf:pagenumber/> / <pdf:pagecount/>
</div>

<h1>FICS Equipment</h1>
<p>Release Date: <em>{{ date }}</em></p>
<p>Complete equipment list from Dramatis Personae</p>
<p>Be aware, subject of the Emperor, about His firebird: <em>£1 = 2 crests = 4 wings = 8 talons</em></p>
<p>On Al-Malik outer worlds (Istakhr and Aylon), everything paid in firebirds might be up to 20% more expensive than the local dinar :
    <br/><em>1 Dinar = 100 dragmes</em>
    <br/><em>£1 = 83 dragmes</em>
</p>

<h2>Equipment List</h2>

<ul>

{% for ca in gears %}
    <li><b>{{ca.name}}</b>
    <ul>
    {% for g in ca.data %}
        <li>{{g.name}} ({{g.variant}}): <b>£{{g.price}}</b></li>
    {% endfor %}
    </ul>
    </li>
{% endfor %}



{% for ca in weapons %}
    <li><b>Weapons: {{ca.name}}</b>
    <ul>
    {% for w in ca.data %}
        <li>{{w.reference}} ({{w.get_category_display}}): <b>£{{w.cost}}</b></li>
    {% endfor %}
    </ul>
    </li>
{% endfor %}


{% for ca in armors %}
    <li><b>Armors: {{ca.name}}</b>
    <ul>
    {% for a in ca.data %}
        <li>{{a.reference}} ({{a.get_category_display}}): <b>£{{a.cost}}</b></li>
    {% endfor %}
    </ul>
    </li>
{% endfor %}

</ul>

<pdf:nextframe>
<h3>Equipment References</h3>
{% for ca in gears %}
    <h4>{{ca.name}}</h4>
    {% for g in ca.data %}
        {% include "collector/pdf/gear_pdf.html" with c=g %}
    {% endfor %}
    <pdf:nextframe>
{% endfor %}

<h3>Weapons References</h3>
{% for ca in weapons %}
    <h4>{{ca.name}}</h4>
    {% for w in ca.data %}
        {% include "collector/pdf/weapon_pdf.html" with c=w %}
    {% endfor %}
    <pdf:nextframe>
{% endfor %}

<h3>Armors References</h3>
{% for ca in armors %}
    <h4>{{ca.name}}</h4>
    {% for a in ca.data %}
        {% include "collector/pdf/armor_pdf.html" with c=a %}
    {% endfor %}
    <pdf:nextframe>
{% endfor %}

{% endblock article %}
