<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'/>
    <meta name='viewport' content='width=device-width, initial-scale=1'/>
    <title>{% block title %}Dramatis Personae{% endblock %}</title>
    {% load static %}
    {% load sass_tags %}
    <link rel='icon' href='{% static "collector/dp.ico" %}'>
    <link rel='stylesheet' href='{% static "font-awesome/css/all.css"%}'>
    <script src='{% static "thirdparties/Chart.bundle.js" %}'></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src='{% static "js/dp_tools.es6" %}'></script>

    <link rel="stylesheet" type="text/css"
          href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" media="all">
    <link rel='stylesheet' type='text/css' href='{% sass_src "collector/scss/fics.scss" %}'/>
</head>
<body>
<em>ttoto</em>
<div class="wrapper" style="color:white;">
    {% load fics_filters %}

    <div id='tgt_{{ c.id }}' style="width:auto; height:auto; border:1px solid #303; margin:10px;">

    </div>

    <script>
        let oversize=8;
        (new Ghostmark({{c.ghostmark_data|safe}},oversize,1,"tgt")).perform();
    </script>
</div>
</body>
</html>