{% extends "base.html" %}

{% block title %}
Dramatis Personae
{% endblock %}

{% block page_title %}
Personae Index
{% endblock %}

{% block menu %}
	<a class="btn" href="/">List</a>
	<a class='btn' href="add/persona/">New</a>
	<a class='btn' href="edit/persona/{{ character.id }}/">Edit</a>
{% endblock %}

{% block list %}
{% if latest_character_list %}
    <ol>
    {% for character in latest_character_list %} 
        <li><a href="view/persona/{{ character.id }}/">{{ character.full_name }}</a></li>
    {% endfor %}
    </ol>
{% else %}
    <p>No characters are available.</p>
{% endif %} 

{% endblock %}

