{% extends "base.html" %}
{% load static %}
{% block menuright %}
<span id='menu_right_toggler' class='menu_right_toggler action_icon fa fa-window-restore toggler'><u>Keywords</u></span>
<div id='keywords'></div>
{% endblock menuright %}

{% block dicer %}
<span class='dicer_toggler action_icon fa fa-window-restore toggler'><u>Dice Roller</u></span>
<table>
    <tr>
        <td colspan=3><input type="text" class="roll_dice" value="1d12"></input></td>
    </tr>
    <tr>
        <td><span class="rolls">12 12 5</span></td>
    </tr>
    <tr>
        <td><span class="mods">+5</span></td>
    </tr>
    <tr>
        <td><span class="total">30</span></td>
    </tr>
</table>
{% endblock dicer %}

{% block menu %}
<div class='menu_block'>
    <div class="menu-logo">
        <div class="img_block"></div>
        <span class="info">Epic: {{campaign.epic.title}}</span>
        {% if user.profile.is_gamemaster %}
        <input type="text" id="customize" value="" placeholder="Free Text Here...">
{#        <span id="menu_go"><i class="action_icon fas fa-caret-square-right" style="font-size:24px;"></i></span>#}
        {% endif %}
    </div>
    <ul class="level-1">
        {% if user.is_authenticated %}
        <li><span class="pull-down" title="Everything about characters that you can access...">Characters</span>
            <ul class="level-2 Avatars">
                {% if user.profile.is_gamemaster %}
                    <li><span class="menu-button slug-page-item" mode="standard" action="search" page="1"><i class="action_icon fas fa-search"></i> Search</span></li>
                    <li><span class="menu-button slug-item" mode="standard" action="add_avatar"><i class="action_icon fas fa-user-plus"></i> Add avatar</span></li>
{#                    <li><span class="menu-button menu-item" mode="standard" action="blokes"><i class="action_icon fas fa-users"></i> Blokes</span>#}
                    <li><span class="menu-button menu-item" mode="standard" action="audit"><i class="action_icon fas fa-star"></i> Audit</span>


                {% else %}
                    {% if user.profile.main_character %}
                    <li><span class="menu-button menu-item sheet" id="sheet_{{user.profile.main_character.id}}"><i class="action_icon fas fa-user"></i> {{user.profile.main_character.full_name}}</span></li>
                    {% endif %}
                    <li><span class="menu-button menu-item" mode="standard" action="friends"><i class="action_icon fas fa-users"></i> Friends</span></li>
                    <li><span class="menu-button menu-item" mode="standard" action="foes"><i class="action_icon fas fa-users"></i> Foes</span></li>
                    <li><span class="menu-button menu-item" mode="standard" action="others"><i class="action_icon fas fa-users"></i> Others</span></li>
                    <li><span class="menu-button menu-item" mode="standard" action="persystem"><i class="action_icon fas fa-users"></i> Census per system</span></li>

                {% endif %}
            </ul>
        </li>
        {% if user.profile.is_gamemaster %}
        <li><span class="pull-down">Adventures</span>
            <ul class="level-2 Epic">
                <li><span class="menu-button menu-item" action="conf_details"><i class="action_icon fas fa-globe"></i> Current Epic</span></li>
                <li><span class="menu-button slug-item" mode="standard" action="epic"><i class="action_icon fas fa-dice"></i> Switch Epic</span>
                {% if campaign.is_fics %}
                <li><span class="menu-button menu-item" action="statistics"><i class="fas fa-chart-pie"></i> Statistics</span></li>
{#                <li><span class="menu-button menu-item" action="gss_update"><i class="fas fa-table"></i> GS Export</span></li>#}
                <li><span class="menu-button menu-item" action="gss_summary"><i class="fas fa-table"></i> GS PC Summary</span></li>
                {% endif %}

            </ul>
        </li>
        {% else %}
        <li><span class="pull-down">Universe</span>
            <ul class="level-2 Epic off">
                <li><span class="menu-button menu-item" mode="standard" action="clues"><i class="action_icon fas fa-book"></i> Clues</span></li>
            </ul>
        </li>
        {% endif %}
        {% if user.profile.is_gamemaster %}
        <li><span class="pull-down">Optimizer</span>
            <ul class="level-2 Rules off">
                <li><span class="menu-button menu-item" mode="standard" action="build_pdf_rules"><i class="action_icon fas fa-book"></i> Rebuild PDFs</span></li>
                {% if campaign.is_fics %}
                <li><span class="menu-button slug-item" action='run_duel' mode="standard" title='You can tag two IDs (sperataed with an underscore) to see two specific avatars fight, i.e. 22_93 for Calistre -vs- Lucrecia.'><i
                        class="action_icon fas fa-chess-pawn"></i> Run Duel</span></li>
                <li><span class="menu-button slug-item" action='run_100_duels' mode="standard" title='RUN x100 DUELS'><i class="action_icon fas fa-chess-knight"></i> Run same duel x100</span></li>
                <li><span class="menu-button menu-item" action='fencing_tournament' mode='standard' title='RUN FENCING TOURNAMENT'><i class="action_icon fas fa-chess-rook"></i> Fencing Tournament</span></li>
                <li><span class="menu-button menu-item" action='imperial_tournament' mode='standard' title='Run Imperial Tournament'><i class="action_icon fas fa-chess-king"></i> Imperial Tournament</span></li>
                {% endif %}
            </ul>
        </li>
        {% endif %}
        <li><span class="pull-down" title="Everything about systems, jumpweb and jumpkeys...">Imperial Cartograph</span>
            <ul class="level-2 Cartograph off">
                {% if campaign.is_fics %}
                <li><span class="menu-button menu-item" action="jumpweb" mode='overlay' title="Display the Jumpweb"><i class="action_icon fas fa-globe"></i> Map of the Empire</span></li>
                <li><span class="menu-button slug-item" action="orbital" mode='overlay' title="Display the Orbital map of the given system if available."><i class="action_icon fas fa-globe"></i> Orbital Map</span></li>
                {% endif %}
            </ul>
        </li>
        {% endif %}

        <li><span class="pull-down" title="PDF Resources...">PDF Goodies</span>
            <ul class="level-2 Documents off">
                {% if campaign.is_fics %}
                <li><span class="menu-button menu-item" mode="direct" action="media_pdf_results_rules-PDF"><i class="action_icon fas fa-file-pdf"></i> FICS Rules</span></li>
                <li><span class="menu-button menu-item" mode="direct" action="media_pdf_results_equipment-PDF"><i class="action_icon fas fa-file-pdf"></i> FICS Equipment</span></li>
                <li><span class="menu-button menu-item" mode="direct" action="media_pdf_results_audit-PDF"><i class="action_icon fas fa-file-pdf"></i> Audit Report</span></li>
                {% endif %}
            </ul>
        </li>

        {% if user.is_authenticated %}
        <li><span class="pull-down">{{ user.username | title }} {% if user.profile.is_gamemaster %}<i
                class="action_icon fas fa-crown"></i>{% endif %}</span>
            <ul class="level-2 user off" id="login_block">
                {% csrf_token %}
                <li><span class="menu-button menu-item" action='logout' mode="index"><i class="action_icon fas fa-key"></i> Log out</span></li>
                <li><span class="menu-button menu-item" action='profile' mode="main"><i class="action_icon fas fa-user"></i> Profile</span>
                </li>
                {% if user.is_superuser %}
                <li><span class="menu-button menu-item" action='admin' mode="direct"><i class="action_icon fas fa-user-secret"></i> Admin</span></li>
                {% endif %}
            </ul>
        </li>
        {% else %}
        <li><span class="pull-down">Anonymous User</span>
            <ul class="level-2 user off" id="login_block">
                {% csrf_token %}
                <li><span class="menu-button menu-item" id='login' mode="standard"><i class="action_icon fas fa-key"></i> Login</span></li>
            </ul>
        </li>
        {% endif %}
        <li><span class="info">{{hostname}}</span></li>
        <li><span class="info">Release {{ dp_version }}</span></li>
    </ul>
</div>
{% endblock menu %}

{% block mobile_form %}
{% include "collector/mobile_form.html" %}
{% endblock mobile_form %}



{% block javascript %}
<script>
    let ac = new AvatarCustomizer();
    let sc = new Scenarist();
    let op = new Optimizer();
    let co = new Collector(ac,op,sc);
    let lg = (new Logo('.img_block',6, 0));
    lg.perform();
    co.perform();
</script>
{% endblock javascript %}