

<div class="classyview">
    <form class='character_form' form-target='investigator'>
        {{ form.non_field_errors}}
        {{ form.management_form }}
        <input name='id' type='hidden' value='{{c.id}}'>
        <input name='rid' type='hidden' value='{{c.rid}}'>
        <table class="formset">
            <caption>{{c.rid}}</caption>
            <tr>
                <td>
                    <div class="field_wrapper">
                        {{ form.full_name.errors}}
                        <label for="full_name">Name</label>
                        {{form.full_name }}
                    </div>
                    <div class="field_wrapper">
                        {{ form.occupation.errors}}
                        <label for="occupation">Occupation</label>
                        {{form.occupation}}
                    </div>
                    <div class="field_wrapper">
                        {{ form.alias.errors}}
                        <label for="alias">Alias</label>
                        {{form.alias}}
                    </div>
                    <div class="field_wrapper">
                        {{ form.entrance.errors}}
                        <label for="entrance">Entrance</label>
                        {{form.entrance}}
                    </div>
                    <div class="field_wrapper">
                        {{ form.birthdate.errors}}
                        <label for="">Birthyear</label>
                        {{form.birthdate}}
                    </div>
                    <div class="field_wrapper">
                        {{ form.gender.errors}}
                        <label for="">Gender</label>
                        {{form.gender}}
                    </div>
                    <div class="field_wrapper">
                        {{ form.height.errors}}
                        <label for="">Height</label>
                        {{form.height}}
                    </div>
                    <div class="field_wrapper">
                        {{ form.weight.errors}}
                        <label for="">Weight</label>
                        {{form.weight}}
                    </div>
                    <div class="field_wrapper">
                        {{ form.player.errors}}
                        <label for="">Player</label>
                        {{form.player}}
                    </div>
                    <div class="field_wrapper">
                        {{ form.keyword.errors}}
                        <label for="">Keyword</label>
                        {{form.keyword}}
                    </div>
                    <div class="field_wrapper">
                        {{ form.is_visible.errors}}
                        <label for="">Visible</label>
                        {{form.is_visible}}
                    </div>
                    <div class="field_wrapper">
                        {{ form.is_dead.errors}}
                        <label for="">Dead</label>
                        {{form.is_dead}}
                    </div>
                    <div class="field_wrapper">
                        {{ form.is_locked.errors}}
                        <label for="">Locked</label>
                        {{form.is_locked}}
                    </div>
                    <div class="field_wrapper">
                        {{ form.is_public.errors}}
                        <label for="">Public</label>
                        {{form.is_public}}
                    </div>
                    <div class="field_wrapper">
                        {{ form.is_partial.errors}}
                        <label for="">Partial</label>
                        {{form.is_partial}}
                    </div>
                    <div class="field_wrapper">
                        {{ form.epic.errors}}
                        <label for="">Epic</label>
                        {{form.epic}}
                    </div>
                    <div class="field_wrapper">
                        {{ form.narrative.errors}}
                        <label for="">Narrative</label>
                        {{form.narrative}}
                    </div>
                </td>
            </tr>
        </table>
        {% csrf_token %}
    </form>


</div>
