{% load fics_filters %}
<div class="fresque top">
    <h1>Characters</h1>
</div>

<div class="fresque middle">
    {% for k in character_items %}

        {% if user_profile.option_display_as_list %}
            <div id="item_{{ k.id }}">
            {% include "collector/character_link_row.html" with c=k %}
            </div>
        {% else %}
            <div class='tile team_{{ k.team }}' id='tile_{{ k.id }}'>
                {% include "collector/character_tile.html" with c=k %}
            </div>
        {% endif %}

    {% endfor %}
</div>

<div class="fresque bottom">
    <div class='tile' id='pag'>
        {% if character_items %}
            <div class='pagination'>
            {% if character_items.has_previous %}
                <span class='slug-page-item nav' action='search' page="1">
        <i class="fas fa-angle-double-left"></i>
      </span>
                <span class='slug-page-item nav' action='search' page="{{ character_items.previous_page_number }}">
        <i class="fas fa-angle-left"></i>
      </span>
            {% else %}
                <strong>&nbsp;</strong>
                <strong>&nbsp;</strong>
                <strong>&nbsp;</strong>
            {% endif %}
            {% for num in character_items.paginator.page_range %}
                {% if character_items.number == num %}
                    <strong>{{ num }}</strong>
                {% elif num > character_items.number|add:'-2' and num < character_items.number|add:'2' %}
                    <span class='slug-page-item nav' action='search' page="{{ num }}">{{ num }}</span>
                {% endif %}
            {% endfor %}
            {% if character_items.has_next %}
                <span class='nav slug-page-item' action='search' page="{{ character_items.next_page_number }}">
      <i class="fas fa-angle-right"></i>
    </span>
                <span class='nav slug-page-item' action='search' page="{{ character_items.paginator.num_pages }}">
      <i class="fas fa-angle-double-right"></i>
    </span>
            <br/>Found: {{ count  }} character(s)
            {% else %}
                <strong>&nbsp;</strong>
                <strong>&nbsp;</strong>
                <strong>&nbsp;</strong>
            {% endif %}
        {% else %}
            No Characters to display
        {% endif %}
        </div>
    </div>
</div>





