<script type=text/javascript>
    toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": true,
        "progressBar": true,
        "positionClass": "toast-bottom-right",
        "preventDuplicates": false,
        "showDuration": "100",
        "hideDuration": "500",
        "timeOut": "8000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }
</script>
{% if messages %}
    {% for message in messages %}
        <script type=text/javascript>toastr.{{ message.tags }}("{{ message }}")</script>
    {% endfor %}
{% endif %}