

<script>
var popdata = {{chart_data|safe}}
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: popdata,
    options: {
        responsive: true,
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        },
        title: {
					display: true,
					text: 'Species'
				},
        circumference: Math.PI,
        rotation: -Math.PI,        
        cutoutPercentage: 40,
    }
});
var popdata2 = {{chart_data2|safe}}
var ctx = document.getElementById('myChart2').getContext('2d');
var myChart2 = new Chart(ctx, {
    type: 'doughnut',
    data: popdata2,
    options: {
        responsive: true,
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        },
        title: {
					display: true,
					text: 'Alliances'
				},
        circumference: Math.PI,
        rotation: -Math.PI,                
        cutoutPercentage: 40,
    }
});
</script>


<div class='chart_panel'>
<canvas id="myChart" width=auto height=auto></canvas>
</div>

<div class='chart_panel'>
<canvas id="myChart2"></canvas>
</div>
