
{% load static %}
{% load fics_filters %}

<div class="fresque top">
    <div class="tile info">
        <div class="plank"><strong>Player</strong><em>{{current_user.username.capitalize | safe }}</em></div>
        <div class="plank"><strong>Email</strong><em>{{current_user.email | safe }}</em></div>
    </div>

    {% for mc in main_characters %}
        <div class="tile" id="tilebloke_{{mc.id}}">
            {% include "collector/character_tile.html" with c=mc %}
        </div>
    {% endfor %}
</div>
{% for key,value in blokes.items %}
<div class="fresque middle">
    <div class="tile info">
        <div class="plank">{{key}}</div>
    </div>

    {% for b in value %}
        <div class="tile team_{{b.team}}" id="tilebloke_{{b.id}}">
        {% include "collector/character_tile.html" with c=b %}
        </div>
    {% endfor %}
</div>
{% endfor %}
