
{% load fics_filters %}

<h6>{{ c.reference }} ({{c.category}}#{{c.id}}) {%if c.topic%}[{{c.topic}}]{%endif%}</h6>
{% if c.value %}
<p>Source: {{ c.source}}, Attributes Points: {{c.AP}}, Options Points: {{c.OP}} Value: <strong>{{c.value|signed}}</strong>.</p>
<p>
<u>Attributes</u>&nbsp;&mdash;
 {% if c.PA_STR %} STR{{c.PA_STR|signed}}{% endif %}
 {% if c.PA_CON %} CON{{c.PA_CON|signed}}{% endif %}
 {% if c.PA_BOD %} BOD{{c.PA_BOD|signed}}{% endif %}
 {% if c.PA_MOV %} MOV{{c.PA_MOV|signed}}{% endif %}
 {% if c.PA_INT %} INT{{c.PA_INT|signed}}{% endif %}
 {% if c.PA_PRE %} PRE{{c.PA_PRE|signed}}{% endif %}
 {% if c.PA_TEM %} TEM{{c.PA_TEM|signed}}{% endif %}
 {% if c.PA_WIL %} WIL{{c.PA_WIL|signed}}{% endif %}
 {% if c.PA_REF %} REF{{c.PA_REF|signed}}{% endif %}
 {% if c.PA_TEC %} TEC{{c.PA_TEC|signed}}{% endif %}
 {% if c.PA_AGI %} AGI{{c.PA_AGI|signed}}{% endif %}
 {% if c.PA_AWA %} AWA{{c.PA_AWA|signed}}{% endif %}
 {% if not c.AP %}<i>none</i>.{%endif%}
</p><p>
<u>Skills</u>&nbsp;&mdash;
  {% if not c.skillmodificator_set.count %}
  <i>none</i>.

  {% else %}
  {% for s in c.skillmodificator_set.all %}
  {{ s.skill_ref.reference}} {{s.value|signed}}{% if forloop.last %}.{%else%}, {%endif%}
  {% endfor %}
  {% endif %}
</p><p>
<u>Benefices/Afflictions</u>&nbsp;&mdash;
  {% if not c.beneficeafflictionmodificator_set.count %}
  <i>none</i>.

  {% else %}
  {% for ba in c.beneficeafflictionmodificator_set.all %}
  {{ ba.benefice_affliction_ref.reference}} {{ba.benefice_affliction_ref.value|signed}}{% if forloop.last %}.{%else%}, {%endif%}
  {% endfor %}
  {% endif %}
</p><p>
<u>Blessings/Curses</u>&nbsp;&mdash;
  {% if not c.blessingcursemodificator_set.count %}
  <i>none</i>.

  {% else %}
  {% for bc in c.blessingcursemodificator_set.all %}
  {{ bc.blessing_curse_ref.reference}} {{bc.blessing_curse_ref.value|signed}}{% if forloop.last %}.{%else%}, {%endif%}
  {% endfor %}
  {% endif %}
</p>
{%else%}
<p>Uncomplete Lifepath</p>
{%endif%}
