<div class='title {% if not c.data.to_PDF %}noPDF{% endif %}'>
    <div class='chapter'>{{c.data.full_chapter}}</div>
    <h4 class=''>{{ c.title }}</h4>
    <div class='storybar event'>
        <p class='event_{{c.data.id}}'>
            <button class='compact episode_cast' id='c-event-{{c.data.id}}' page='1'>Event</button>
            <button class='compact view_event' id='{{c.data.id}}'>View</button>
            <button class='compact edit_event' id='{{c.data.id}}'>Edit</button>
            <button class='compact hide_event' id='{{c.data.id}}'>Close</button>
            <button class='compact delete_event' id='{{c.data.id}}'>Delete</button>
        </p>
    </div>
</div>
<div class='storyarticle' id='event_{{c.data.id}}'></div>
