{%load fics_filters%}
{%load static%}

<table id="C_FOR_{{c.id}}" class='attrpick primary'>
    {% include "collector/coc7/investigator_attribute.html" with c=c.info_for %}
</table>
<table id="C_CON_{{c.id}}" class='attrpick primary'>
    {% include "collector/coc7/investigator_attribute.html" with c=c.info_con %}
</table>
<table id="C_TAI_{{c.id}}" class='attrpick primary'>
    {% include "collector/coc7/investigator_attribute.html" with c=c.info_tai %}
</table>
<table id="C_DEX_{{c.id}}" class='attrpick primary'>
    {% include "collector/coc7/investigator_attribute.html" with c=c.info_dex %}
</table>
<table id="C_APP_{{c.id}}" class='attrpick primary'>
    {% include "collector/coc7/investigator_attribute.html" with c=c.info_app %}
</table>
<table id="C_INT_{{c.id}}" class='attrpick primary'>
    {% include "collector/coc7/investigator_attribute.html" with c=c.info_int %}
</table>
<table id="C_POU_{{c.id}}" class='attrpick primary'>
    {% include "collector/coc7/investigator_attribute.html" with c=c.info_pou %}
</table>
<table id="C_EDU_{{c.id}}" class='attrpick primary'>
    {% include "collector/coc7/investigator_attribute.html" with c=c.info_edu %}
</table>


