{%load fics_filters%}
{%load static%}



<table class="stats" id="hea">
<tr><th>REC</th><td>{{c.SA_REC}}</td><th>STA</th><td>{{c.SA_STA}}</td></tr>
<tr><th>END</th><td>{{c.SA_END}}</td><th>STU</th><td>{{c.SA_STU}}</td></tr>
<tr><th>RES</th><td>{{c.SA_RES}}</td><th>DMG</th><td>{{c.SA_DMG}}</td></tr>
</table>

<table class="stats" id="oth">
<tr><th>TOL</th><td>{{c.SA_TOL}}</td><th>HUM</th><td>{{c.SA_HUM}}</td></tr>
<tr><th>PAS</th><td>{{c.SA_PAS}}</td><th>WYR</th><td>{{c.SA_WYR}}</td></tr>
<tr><th>SPD</th><td>{{c.SA_SPD}}</td><th>RUN</th><td>{{c.SA_RUN}}</td></tr>
</table>
