<div class='fresque duel'>
    <div class="tile">
    Winner: {{duel_data.winner}}
    <br/>Date: {{duel_data.pub_date}}
    <br/>Rounds: {{duel_data.amount}}
    </div>
    <div class='tile round_data attacker'>{% include "optimizer/character_round_data.html" with c=duel_data.tori %}</div>
    <div class='tile round_data defender'>{% include "optimizer/character_round_data.html" with c=duel_data.uke %}</div>
</div>

{% for r in duel_data.rounds %}
<div class='fresque duel'>
    <div class="tile">Round #{{r.number}}</div>
    <div class='tile narrative'>
        {% for n in r.joined_narrative %}
        <div class="pan {% cycle 'odd' 'even'%}">
            <div class='marble a'>{{n.attacker|safe}}</div>
            <div class='marble r'>{{forloop.counter}}</div>
            <div class='marble d'>{{n.defender|safe}}</div>
        </div>
        {% endfor %}
    </div>
</div>
<div class='fresque duel'>
    <div class="tile">Status at end of round #{{r.number}}</div>
    <div class='tile round_data attacker'>{% include "optimizer/character_round_data.html" with c=r.attacker %}</div>
    <div class='tile round_data defender'>{% include "optimizer/character_round_data.html" with c=r.defender %}</div>
</div>
{% endfor %}



