<center>
<table class='wounds'>
    <tr>
    <td>{{c.status}}</td>
    <th>&nbsp;</th>
    <td>{{c.HEAD.Wounds.Light}}</td>
    <td>sp:{{c.HEAD.SP}}</td>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <td style='background-color:{{c.color}};'>{{c.who}}</td>
    </tr>
    <tr>
    <td>{{c.LEFT_ARM.Wounds.Light}}</td>
    <td>sp:{{c.LEFT_ARM.SP}}</td>
    <td>{{c.HEAD.Wounds.Medium}}</td>
    <td>{{c.HEAD.Wounds.Severe}}</td>
    <td>{{c.RIGHT_ARM.Wounds.Light}}</td>
    <td>sp:{{c.RIGHT_ARM.SP}}</td>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    </tr>
    <tr>
    <td>{{c.LEFT_ARM.Wounds.Medium}}</td>
    <td>{{c.LEFT_ARM.Wounds.Severe}}</td>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <td>{{c.RIGHT_ARM.Wounds.Medium}}</td>
    <td>{{c.RIGHT_ARM.Wounds.Severe}}</td>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    </tr>
    <tr>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <td>{{c.TORSO.Wounds.Light}}</td>
    <td>sp:{{c.TORSO.SP}}</td>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <td colspan=2 rowspan=2><span class='large'>{{c.hit_points}}</span> hp</td>


    </tr>

    <tr>
    <td>{{c.LEFT_LEG.Wounds.Light}}</td>
    <td>sp:{{c.LEFT_LEG.SP}}</td>
    <td>{{c.TORSO.Wounds.Medium}}</td>
    <td>{{c.TORSO.Wounds.Severe}}</td>
    <td>{{c.RIGHT_LEG.Wounds.Light}}</td>
    <td>sp:{{c.RIGHT_LEG.SP}}</td>

    </tr>

    <tr>
    <td>{{c.LEFT_LEG.Wounds.Medium}}</td>
    <td>{{c.LEFT_LEG.Wounds.Severe}}</td>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <td>{{c.RIGHT_LEG.Wounds.Medium}}</td>
    <td>{{c.RIGHT_LEG.Wounds.Severe}}</td>
    <td colspan=2>sh:</td>


    </tr>

</table>
</center>
