<center>
{%load fics_filters%}
<table class='wounds'>
    <tr>
        <td>{{c.status}}</td>
        <td class='stats'>+{{c.expertise}}</td>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <td class='armor'>{{c.HEAD.SP}}</td>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <td style='background-color:{{c.color}}; color:black;'>{{c.who}}</td>
    </tr>
    <tr>
        <td class='stats neg' title='Penalties'>-{{c.circumstance_modifiers}}</td>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <td class="wnd">{{c.HEAD.wounds.medium|wound|safe}}</td>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
    </tr>

    <tr>
        <td class='armor disabled'>&nbsp;</td>
        <th>&nbsp;</th>
        <td class='armor'>{{c.LEFT_ARM.SP}}</td>
        <th>&nbsp;</th>
        <td class="wnd">{{c.HEAD.wounds.severe|wound|safe}}</td>
        <th>&nbsp;</th>
        <td class='armor'>{{c.RIGHT_ARM.SP}}</td>
        <th>&nbsp;</th>
        <td class='armor disabled'>&nbsp;</td>
    </tr>

    <tr>
        <td class='wnd disabled'>&nbsp;</td>
        <th>&nbsp;</th>
        <td class='wnd'>{{c.LEFT_ARM.wounds.medium|wound|safe}}</td>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <td class='wnd'>{{c.RIGHT_ARM.wounds.medium|wound|safe}}</td>
        <th>&nbsp;</th>
        <td class='wnd disabled'>&nbsp;</td>
    </tr>

    <tr>
        <td class='wnd disabled'>&nbsp;</td>
        <th>&nbsp;</th>
        <td class='wnd'>{{c.LEFT_ARM.wounds.severe|wound|safe}}</td>
        <th>&nbsp;</th>
        <td class='armor'>{{c.TORSO.SP}}</td>
        <th>&nbsp;</th>
        <td class='wnd'>{{c.RIGHT_ARM.wounds.severe|wound|safe}}</td>
        <th>&nbsp;</th>
        <td class='wnd disabled'>&nbsp;</td>
    </tr>

    <tr>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <td class='wnd'>{{c.TORSO.wounds.medium|wound|safe}}</td>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
    </tr>

    <tr>
        <td class='shield'>{{c.shield.max}}</td>
        <th>&nbsp;</th>
        <td class='armor'>{{c.LEFT_LEG.SP}}</td>
        <th>&nbsp;</th>
        <td class='wnd'>{{c.TORSO.wounds.severe|wound|safe}}</td>
        <th>&nbsp;</th>
        <td class='armor'>{{c.RIGHT_LEG.SP}}</td>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
    </tr>

    <tr>
        <td class='shield'>{{c.shield.charges}}</td>
        <th>&nbsp;</th>
        <td class='wnd'>{{c.LEFT_LEG.wounds.medium|wound|safe}}</td>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <td class='wnd'>{{c.RIGHT_LEG.wounds.medium|wound|safe}}</td>
        <td colspan=2 rowspan=2 class='hp'><span class='large'>{{c.hit_points}}</span> /{{c.hp_max}} hp</td>

    </tr>

    <tr>
        <td class='shield'>{{c.shield.min}}</td>
        <th>&nbsp;</th>
        <td class='wnd'>{{c.LEFT_LEG.wounds.severe|wound|safe}}</td>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <td class='wnd'>{{c.RIGHT_LEG.wounds.severe|wound|safe}}</td>
    </tr>


</table>
</center>
