<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1' />
        <title>{% block title %}Dramatis Personae{% endblock %}</title>
        {% load static %}
        {% load sass_tags %}
        <link rel='icon' href='{% static "collector/dp.ico" %}'>
        <link rel='stylesheet' href='{% static "font-awesome/css/all.css"%}'>
        <script src='{% static "thirdparties/Chart.bundle.js" %}'></script>
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
        <script src='{% static "js/dp_tools.es6" %}'></script>
        <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" media="all">
        {% if campaign.is_fics %}
        <link rel='stylesheet' type='text/css' href='{% sass_src "collector/scss/fics.scss" %}' />
        {% endif %}
        {% if campaign.is_coc7 %}
        <link rel='stylesheet' type='text/css' href='{% sass_src "collector/scss/coc7.scss" %}' />
        {% endif %}
        {% if campaign.is_wawwod %}
        <link rel='stylesheet' type='text/css' href='{% sass_src "collector/scss/wawwod.scss" %}' />
        {% endif %}
        {% if campaign.is_prpg %}
        <link rel='stylesheet' type='text/css' href='{% sass_src "collector/scss/prpg.scss" %}' />
        {% endif %}
    </head>
    <body>
        <header>
        </header>

<div class='logo'>
</div>
        <div class='wrapper'>
            {% block menu %}
            {% endblock menu %}
            <div class="port">
              <div class='list'>
                <span class='list_toggler action_icon fa fa-window-restore toggler'><u>Avatars List</u></span>
                  <div class='storyline'>
                      {% block storyline %}
                      {% endblock storyline %}
                  </div>
                  <div class='charlist'>
                      {% block list %}
                      {% endblock list %}
                  </div>
              </div>

            </div>
            <div class='details'>
                {% block details %}
                {% endblock details%}
            </div>
            <div class='mosaic'>
                {% block mosaic %}
                {% endblock mosaic %}
            </div>
            <div class="starport">
              <div class='collapsed dicer'>
                {% block dicer %}
                {% endblock dicer %}
              </div>

              <div class='collapsed mobile_form' id='customizer'>
                {% block mobile_form %}
                {% endblock mobile_form %}
              </div>

              <div class='collapsed menuright'>
                {% block menuright %}
                {% endblock menuright %}
              </div>
            </div>
        </div>



        <div id="messenger_block"></div>


        <footer>
            <div class='footer'>
                {% block page_footer %}
                {% endblock page_footer %}
            </div>
        </footer>

        <script src='{% static "js/avatar_customizer.es6" %}'></script>
        <script src='{% static "js/scenarist.es6" %}'></script>
        <script src='{% static "js/optimizer.es6" %}'></script>
        <script src='{% static "js/collector.es6" %}'></script>
        <script src='{% static "js/jumpweb.es6" %}'></script>

        {% block javascript %}
        {% endblock %}
    </body>
</html>
