$fics_back: #363457;
$fics_front: #D0D0D0;
$fics_link: #06BCC1;
$fics_highlight: #C5D8D1;
$fics_border_color: #5A340C;
$fics_golden: #F08020;
$logo: "../campaigns/COC7/logo.png";
$back: "../campaigns/COC7/back.jpg";
