@import "basics";
@import "fonts";

div.character_sheet {
    width: 100%;
    max-width: 600px;
    margin-left: 0;
    margin-right: auto;
    display: block;
    column-count: 1;
    column-gap: 10px;
    column-rule: 1px dotted $fics_light;
    padding: 5px;
    background: $fics_dark;
    color: $fics_front;
    border: 1px solid $fics_light;
    box-shadow: 3px 3px 5px $fics_darkest;
    border-radius: 5px;
    opacity: 0.9;

    & div.infoblock{
        display:flex;
        flex-flow:row nowrap;
        justify-content:space-between;
        align-items:stretch;
        align-content:stretch;

        & .portrait{
            order:3;
            display:inline-block;
            width:120px;
            & img{
                border:2px solid $fics_light;
                border-radius:5px;
                box-shadow: 0px 0px 5px $fics_darker;
                width:90px;
                height:120px;
            }
            text-align:center;
            flex-basis:120px;


        }

        & .mark{
            order:1;
            display:inline-block;
            flex-basis:120px;

        }

        & .data{
            order:2;
            display:inline-block;
            & h1{
                font-family: FatName;
                font-size:20pt;
                text-align:center;
            }
            flex-basis:100%;
            & strong{
                font-family: NomPerso;
                font-weight: bold;
                color: #FC4;
            }

        }
    }
    
    & h2 {
        @include section_block;
    }
    
    & .pic {
        display: block;
        float: right;
        border: 1px solid black;
        width: 200px;
        height: auto;
    }
    
    & .attributes {
        column-count: 3;
        column-gap: 2px;
        column-rule: 0 solid $fics_light;
        
        table {
            & th.name {
                padding-left: 1px;
                background: $fics_back;
                width: 5ex;
            }
            
            & td {
                text-align: center;
                font-weight: normal;
                width: auto;
                
                &.edit {
                    width: 5ex;
                }
                &.value{
                    box-shadow: 0 0 3px $fics_darkest;
                }
            }
            
            &.primary {
                border: 1px solid $fics_darker;
            }
            
            padding: 0;
            
            &.occult {
                & th.name {
                    width: 12ex;
                }
                
                & td {
                    &.edit {
                        width: 5ex;
                    }
                }
            }
        }
    }
    
    & .gear {
        column-count: 2;
        column-gap: 5px;
        column-rule: 1px dotted $fics_light;
        margin-top: 3px;
        border: 1px solid $fics_subborder_color;
        border-radius: 2px;
        margin-top: 3px;
        width: 100%;
        
        @include unbreakable;
    }
    
    & .options {
        column-count: 2;
        column-gap: 5px;
        column-rule: 1px dotted $fics_light;
        margin-top: 3px;
        border: 1px solid $fics_subborder_color;
        border-radius: 2px;
        margin-top: 3px;
        width: 100%;
        
        @include unbreakable;
        
        border: 1px solid $fics_subborder_color;
        border-radius: 2px;
    }
    
    & .coreblock {
        column-count: 2;
        column-gap: 1ex;
        column-rule: 1px dotted $fics_light;
        margin-top: 3px;
        border: 1px solid $fics_subborder_color;
        border-radius: 3px;
        width: 100%;
        border: 1px solid $fics_subborder_color;
        border-radius: 3px;
        
        & ul {
            page-break-after: always;
            page-break-inside: avoid;
            padding: 0;
            margin: 0;
            list-style: none;
            min-height: 16em;
            
            & li {
                display: flex;
                padding: 0.5ex;
                margin: 0;
                width: 100%;
                flex-flow: row nowrap;
                justify-content: flex-start;
                align-items: flex-start;
                
                & b {
                    display: inline-block;
                    order: 1;
                    flex-grow: 0;
                    flex-basis: 20ex;
                    background: $fics_darker;
                }
                
                & u {
                    display: inline-block;
                    order: 2;
                    flex-grow: 2;
                    flex-basis: auto;
                    text-decoration: none;
                    width: 24ex;
                    height: auto;
                    border: 1px dotted $fics_darkest;
                    margin-left: 0.5ex;
                }
            }
        }
        
        & .pagebreaker {
            page-break-after: always;
        }
    }
    
    & .skillsview {
        column-count: 2;
        column-gap: 5px;
        column-rule: 1px dotted $fics_light;
        margin-top: 3px;
        border: 1px solid $fics_subborder_color;
        border-radius: 2px;
        
        & table {
            width: 100%;
            
            & tr {
                height: 5px;
                overflow: hidden;
                
                & td {
                    width: auto;
                    height: 5px;
                    margin: 0;
                    padding: 0;
                    background: $fics_dark;
                }
                
                & td[colspan="2"] {
                    width: auto;
                    height: 8px;
                    margin: 2px;
                    padding: 1px;
                    background: $fics_light;
                    text-align: center;
                }
                
                & th {
                    height: 5px;
                    text-align: right;
                    background: transparent;
                    width: 14ex;
                    font-size: 1em;
                    line-height: 0.8em;
                    margin: 0;
                    padding: 0;
                }
                
                & th.edit {
                    width: 4ex;
                    font-size: 1em;
                    text-align: center;
                }
                
                & th[colspan="2"] {
                    width: 14ex;
                }
                
                & th.skill_score_bar {
                    width: 16ex;
                }
            }
        }
    }
    
    & .edit {
        color: $fics_golden;
    }
    
    & .chart_panel {
        border: 1px solid $fics_darker;
        box-shadow: 2px 2px 8px $fics_darker;
        border-radius: 5px 5px 5px 5px;
        padding: 10px;
        background-color: $fics_dark;
        display: inline-block;
        color: $fics_front;
        
        & canvas {
            width: 1000px;
            height: auto;
        }
    }
    
    & .narrative {
        margin: 5px;
        vertical-align: top;
        display: block;
        border: 1px solid $fics_subborder_color;
        border-radius: 5px;
        padding: 5px;
        width: auto;
        page-break-after: always;
        page-break-inside: avoid;
    }
}

div.character_update_view {
    width: 100%;
    max-width: 600px;
    margin-left: 0;
    margin-right: auto;
    display: block;
    column-count: 1;
    column-gap: 10px;
    column-rule: 1px dotted $fics_light;
    padding: 5px;
    background: $fics_dark;
    color: $fics_front;
    border: 1px solid $fics_light;
    box-shadow: 3px 3px 5px $fics_darkest;
    border-radius: 5px;
    opacity: 0.9;
    & .formset{
        display:flex;
        flex-flow:column nowrap;

    }

    & .field_wrapper{
        display:flex;
        flex-flow:row nowrap;
        justify-content:flex-start;
        align-items:stretch;
        align-content:space-around;
        & label{
            order:1;
            flex-basis:20ex;
            padding:2px;
        }
        & input,select,textarea{
            order:2;
            flex-basis:40ex;
            padding:2px;
        }
    }

  }


