$fics_back: #303230;
$fics_front: #e5deca;
$fics_link: #aaa;
$fics_highlight: #F0C040;
$fics_border_color: #ffc080;
$fics_golden: #fc2;
$logo: "../campaigns/FICS/logo.png";
$back: "../campaigns/FICS/back.jpg";
$simple_back: "../campaigns/FICS/darkback.jpg";