@font-face {
    font-family: 'NomPerso';
    src: url('../fonts/Cinzel-Black.ttf');
}

@font-face {
    font-family: 'TextDesc';
    src: url('../fonts/WorkSans-Light.ttf');
}

@font-face {
    font-family: 'NomPersoListe';
    src: url('../fonts/Cinzel-Regular.ttf');
}

@font-face {
    font-family: 'Titre';
    /*src: url('Eczar-ExtraBold.ttf');*/
    src: url('../fonts/Balthazar-Regular.ttf');
}

@font-face {
    font-family: 'Texte';
    src: url('../fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Emphase';
    src: url('../fonts/Eczar-Regular.ttf');
}

@font-face {
    font-family: 'FatName';
    src: url('../fonts/AlegreyaSansSC-Black.ttf');
}

@font-face {
    font-family: 'FadingSunsIcons';
    src: url('../fonts/FadingSunsIcons.ttf');
}