@import 'basics';
@import 'fonts';

/* Invalid display */
//
//@media screen and (max-width: 640px) {
//  body {
//    margin: 0;
//    padding: 0;
//    overflow-x: hidden;
//    overflow-y: scroll;
//    background: $fics_back url($back);
//
//    & .logo {
//      display: none;
//    }
//
//    & .menu {
//      display: none;
//    }
//
//    & .wrapper {
//      display: none;
//    }
//  }
//}

/* Small - 14 inches Elitebook display */

//@media screen and (min-width: 641px) and (max-width: 1024px) {
//  body {
//    margin: 0;
//    padding: 0;
//    overflow-x: hidden;
//    overflow-y: scroll;
//    background: $fics_back url($back);
//
//    & .logo {
//      height: 105px;
//      width: 100%;
//    }
//
//    & .menu {
//      width: 100%;
//      height: 40px;
//      background:red;
//    }
//
//    & .wrapper {
//      z-index: 1;
//      margin-left: 0;
//      width: 99%;
//      min-height: 1000px;
//      //background: transparent url("simple_logo_invert.png") center center no-repeat;
//      display: grid;
//      grid-template-columns: .5% 275px 1fr 200px .5%;
//      grid-column-gap: 5px;
//      justify-content: center;
//      align-content: stretch;
//
//      & .details {
//        grid-column: 3 / 6;
//      }
//
//      & .menuright {
//        display: none;
//      }
//    }
//  }
//}

/* Normal - 21/22 inches screen */

@media screen and (min-width: 1025px) {
  body {
    margin: 0;
    padding:0;
    height:100%;
    width:100%;
    padding: 0;
    overflow: hidden;

    background: $fics_back url($back);
    background-attachment: fixed;
    //background:pink;
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    align-items: stretch;
    align-items: stretch;
    //background: linear-gradient(45deg,#0D324D,#7F5A83);


    & .wrapper {
      z-index: 5;
      margin: 0;
      width: 100%;
      height: 100%;
      flex-shrink:1;
      flex-grow:1;
      order:1;
      display: flex;
      flex-flow: row nowrap;
      gap: 3px;
      justify-content: stretch;
      align-items: stretch;
      align-content: flex-start;
      //background: transparent url($logo) 100% 100% no-repeat;
      //background:orange;
      & .menu_block {

      }

      & .port {
        display: none;
      }

      & .mosaic {
        flex-grow: 1;
        order: 2;
        padding: 0;
        //height:calc(100%);
        //background:darkblue;
      }

      & .starport {
        // Flex Item
        //flex-basis: 300px;
        order: 3;
        // Flex Container
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        //background:maroon;
      }
    }
  }
}


.mosaic {
  //width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: stretch;
  align-items: stretch;
  align-content: stretch;

  & .tile {
    padding: 5px;
    margin: 5px;
    width: 120px;
    height: auto;
    background: $fics_dark;
    color: $fics_front;
    box-shadow: 5px 5px 8px $fics_darkest;
    border: 1px solid $fics_light;
    border-radius: 5px;
    /* Flex as item */
    flex-grow: 0;
    flex-shrink: 1;
    /* Flex as container */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-between;
    border-width: 0px;
    border-style: solid;


    &.team_00-players {
      border-color: #888;
      border-style: ridge;
    }

    &.team_01-friend {
      border-color: #36C;
      border-style: ridge;
    }

    &.team_02-ally {
      border-color: #248;
      border-style: ridge;
    }

    &.team_03-servant {
      border-color: #124;
      border-style: ridge;
    }

    &.team_04-partisan {
      border-style: ridge;
    }

    &.team_05-protagonist {
      border-style: ridge;
    }

    &.team_06-neutral {
    }

    &.team_07-antagonist {
      border-style: groove;
    }

    &.team_08-opponent {
      border-style: groove;
    }

    &.team_09-lackey {
      border-color: #842;
      border-style: groove;
    }


    &.team_10-enemy {
      border-color: #421;
      border-style: groove;
    }

    &.team_11-foe {
      border-color: #888;
      border-style: groove;
    }


    order: 3;

    & .pagination {
      & strong, & span.nav {
        display: inline-block;
        width: 20px;
        height: 20px;
        box-shadow: 5px 5px 8px $fics_darkest;
        border: 1px solid $fics_light;
        border-radius: 5px;
        text-align: center;
        padding: 2px;

      }

      & span.nav {
        background: $fics_darker;
      }

      & strong {
        background: $fics_light;
      }
    }

    //&#pag {
    //  order: 1;
    //}


    & .avatar_link {
      flex-grow: 2;
      width: 200px;

      & .character_name {
        & em {
          font-style: normal;
          text-decoration: none;
          font-family: FatName;
          line-height: 0.9em;
          font-size: 10pt;
        }

        text-align: center;
        width: 100%;
        font-family: Text;
        font-size: 8pt;
        line-height: 1.1em;
        height: 50px;
        background: $fics_darker;
      }

      & .character_actions {
        text-align: left;
        width: 100%;

        & .action_icon {
          display: inline-block;
          text-align: center;
          height: 16px;
          width: 20px;
          padding: 1px;
          box-shadow: 2px 2px 5px $fics_darkest;
          border: 1px solid $fics_light;
          border-radius: 5px;
        }
      }


    }

    &.chart_panel {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      align-items: baseline;
      align-content: flex-start;
      opacity: 1;

      flex-grow: 3;
      flex-shrink: 3;
      border: 1px solid $fics_darker;
      box-shadow: 2px 2px 8px $fics_darker;
      border-radius: 5px 5px 5px 5px;
      padding: 10px;
      background-color: $fics_dark;
      color: $fics_front;
      height: auto;

      & .plaque {
        flex-order: 0;
        flex-growth: 3;
        flex-shrink: 3;
        width: 600px;
        height: 600px;
      }
    }

    &.storyview {
      flex-grow: 5;
      flex-shrink: 0;
      justify-content: flex-start;
      align-content: flex-start;
      align-items: stretch;
      width: 500px;
      height: auto;

      & .epic_wrap {
        width: 100%;
      }

      & .storydetails {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;
        padding: 6px;
        background: #203060;
        text-align: justify;
        gap: 10px 10px;

        &.epic {
          border-left: 5px solid #848;
          background: #111;
        }

        &.drama {
          border-left: 5px solid #737;
          background: transparent;
          background: #222;
        }

        &.act {
          border-left: 5px solid #626;
          background: transparent;
          background: #333;
        }

        &.event {
          border-left: 5px solid #515;
          background: transparent;
          background: #444;
        }


        & .wall {
          display: flex;
          order: 2;
          flex-grow: 1;
          flex-shrink: 1;
          flex-flow: column wrap;
          justify-content: flex-start;
          align-content: stretch;
          align-items: stretch;

          width: 220px;
          gap: 10px 10px;
          padding: 5px;
          border-radius: 5px;

          height: auto;

          & .brick {
            display: inline-block;
            flex-grow: 1;
            padding: 2px;
            height: auto;

            font-family: Texte;
            background: $fics_dark;
            color: $fics_front;
            border-radius: 5px;
            border: 1px solid $fics_lighter;
            box-shadow: 5px 5px 5px $fics_darkest;

            & em {
              display: inline-block;
              width: 12ex;
              background: $fics_darkest;
              text-align: left;
              font-variant: small-caps;
              font-style: normal;
              padding: 2px;
              border-radius: 3px;
              margin-right: 3ex;
            }

            & strong {
              display: inline-block;
              width: 24ex;
              margin-left: 12ex;
              background: $fics_darker;
              text-align: center;
              font-variant: small-caps;
              font-style: normal;
              padding: 2px;
              border-radius: 3px;
              margin-right: 3ex;
            }

          }


        }


        & .pitch {
          display: block;
          order: 1;
          flex-grow: 5;
          columns: 2;
          column-gap: 40px;
          column-rule: 1px solid $fics_darker;
          width: 600px;
          padding: 5px;
          border: 1px solid $fics_light;
          border-radius: 5px;
        }
      }
    }

    &.mini {
      order: 1;
      flex-grow: 1;
      height: auto;
      width: 5ex;
      margin: 2px;
      border-width: 1px;
      align-self: flex-start;

      & input[type=checkbox] {
        border-color: lime;
        height: auto;
        padding: 5px;
      }

      & label {

      }
    }

    &.checked {
      background: #626;
    }

  }


  & .fresque {
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
    align-items: stretch;
    align-content: stretch;
    //background: yellowgreen;
    border-radius: 5px;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 5px;
    border: 1px solid transparent;

    gap: 5px 5px;
    order: 1;


    & .tile {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      align-content: flex-start;
      color: $fics_front;


      & .plank {
        flex-flow: row-reverse nowrap;
        justify-content: flex-end;
        align-items: flex-end;
        align-content: flex-end;
        padding: 3px;
        border-radius: 3px;
        border: 1px solid $fics_lighter;
        margin: 2px;
        background: $fics_darker;
        width: 95%;

        & strong {
          order: 1;
          background: $fics_darker;
          color: $fics_front;
          margin: 0 4px;
          min-width: 20ex;
        }

        & em {
          order: 2;
          width: 5em;
          background: $fics_darker;
          color: $fics_golden;
          text-align: center;
          font-style: normal;
        }
      }

    }


    &.tile.duel {
      width: 800px;
    }

    &.compact {
      border: 1px solid green;
      justify-content: flex-start;
      align-items: flex-start;
    }


    &.top {
      color: $fics_front;
      font-family: FatName;
      font-variant: small-caps;
      order: 0;
      height: 6em;


      & .tile {
        width: auto;

      }
    }

    &.middle {
      order: 2;
      max-height:930px;
      overflow-y:auto;
    }

    &.bottom {
      color: $fics_front;
      font-family: FatName;
      order: 100;
      height: 6em;
      padding: 5px;

      & .tile {
        width: auto;

        & #pag {
          border-color: transparent;
          width: auto;
        }
      }

      border-color: transparent;
    }
  }

  & .character_row {
    /* Flex as item */
    flex-grow: 1;
    flex-shrink: 1;
    /* Flex as container */
    justify-content: flex-start;
    align-content: space-around;
    align-items: stretch;

    display: flex;
    flex-flow: row nowrap;
    gap: 3px 3px;
    background: transparent;

    &:hover {
      & .cell {
        border-color: $fics_dark;
      }
    }

    color: $fics_frontest;
    width: 95%;
    font-family: Texte;

    & .cell {
      order: 3;
      flex-grow: 1;
      flex-shrink: 1;
      border: 1px solid transparent;
      border-radius: 5px;
      vertical-align: middle;
      text-align: justify;
      background: $fics_darker;
      overflow: hidden;

      &.text {
        text-align: justify;
        overflow-y: scroll;
        padding: 5px;
        width: 250px;
        background: #1b1b1b;
        order: 25;
        max-height:6em;
        overflow-y:scroll;
        & H4, & H5, & H6{
          padding:0;
          margin:0;
          font-size:1.3em;
          color:$fics_golden;
        }
      }


      & em {
        font-family: NomPersoListe;
        font-style: normal;
        font-size: 9pt;
      }

      font-family: Texte;
      flex-grow: 1;
      flex-shrink: 1;
      color: $fics_frontest;
      min-height: 1.1em;

      &.wide {
        flex-grow: 0;
        flex-shrink: 0;
        width: 120px;
      }

      &.wider {
        flex-grow: 0;
        flex-shrink: 0;
        width: 200px;
      }

      &.widest {
        flex-grow: 0;
        flex-shrink: 0;
        width: 300px;
      }


      &.mini {
        order: 0;
        flex-grow: 0;
        flex-shrink: 0;
        min-width: 4ex;
        text-align: center;

      }

      &.last {
        order: 10;
        width: auto;
      }

      &.small {
        flex-grow: 0;
        flex-shrink: 0;
        width: 100px;
      }

      &.brief {
        overflow: hidden;
      }

      & span {
        padding: 3px;
        font-family: Texte;

        & i {
          color: $fics_golden;
        }
      }
    }
  }


}

// .tile:nth-child(3n+1) { order: 2; }
// .tile:nth-child(3n+2) { order: 3; }
// .tile:nth-child(3n)   { order: 4; }
//
//
// .mosaic::before,
// .mosaic::after {
//   content: "";
//   flex-basis: 100%;
//   width: 0;
//   order: 2;
// }

.off {
  max-height: 0;
}

.hidden {
  display: none;
}

.tile.ship {
  min-width: 500px;
  min-height: 300px;
  display: block;
  padding: 10px;

  & h1 {
    font-family: NomPerso;
  }

  & table {
    & tr {

      & td {
        font-family: TextDesc;
        color: $fics_front;
        background: $fics_dark;
        min-width: 40ex;
      }

      & th {
        font-family: NomPersoListe;
        color: $fics_frontest;
        background: $fics_darker;
        width: 15ex;
      }
    }

  }
}


.tabbed {
  display: flex;
  flex-flow: column nowrap;
  align-content: flex-start;
  align-items: center;
  justify-items: stretch;
  background: transparent;
  gap: 5px;

  & .tabs {
    order: 1;
    gap: 0 5px;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-items: stretch;
    background: transparent;
    height: auto;
    width: $tabwidth;

    & .tablinks {
      background: $fics_dark;
      color: $fics_front;
      border-radius: 0 6px 0 0;
      width: 100px;
    }
  }

  & .tabcontent {
    display: flex;
    flex-flow: column wrap;
    order: 2;
    flex-shrink: 1;
    background: $fics_dark;
    color: $fics_front;
    border: 2px solid $fics_dark;
    border-radius: 0 6px 6px 6px;
    background: $fics_light;
    width: $tabwidth;
    height: 800px;
    gap: 2px;

    &.hiddentab {
      display: none;
    }

    & .field_wrapper {
      background: $fics_darker;
      border: 4px solid $fics_dark;
      width: $tabwidthhalf;

      & label {
        font-size: 1.2em;
      }
    }
  }


}


.dialog {
  background: transparent;
  display: flex;
  flex-flow: column nowrap;
  width: auto;
  height:100%;
  margin: 0;
  gap: 5px;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;

  & .dialog_header {
    border: 3px solid transparent;
    border-radius: 3px;
    background: transparent;
    color: $fics_light;
    order: 1;
    height:30px;
    width:auto;
    padding:5px;
    & H1{
      color:$fics_frontest;
      text-align:left;
      font-family:NomPersoListe;
    }
  }

  & .dialog_body {
    border: 3px solid $fics_light;
    border-radius: 3px;
    background: $fics_darker;
    color: $fics_light;
    order: 2;
    height:$dialog_body_height;
    width:auto;
    overflow-x:hidden;
    overflow-y:scroll;
    padding:5px;
    & ul {
      padding:0;
      margin:0;
      list-style-type: none;
      height:$dialog_body_height;
      display:flex;
      flex-flow: column wrap;
      gap: 5px;
      justify-content: start;
      align-items: stretch;
      align-content: stretch;
      & li{
        display:flex;
        text-indent:0;
        padding:0;
        margin:0;
        flex-flow: row nowrap;
        color:white;
        width:360px;
        height:auto;
        justify-content: flex-start;
        align-items: stretch;
        align-content: flex-end;
        border:1px dotted transparent;
        background: $fics_dark;
        & label{
          display:inline-block;
          order:1;
          text-align:left;
          font-size:10pt;
          //width:150px;
          border:1px dotted transparent;
          flex-grow:1;
          flex-shrink:1;
          border: 2px solid transparent;
          background:$fics_darker;
          width:25%;

        }
        & input, & textarea, & select{
          order:2;
          flex-grow:3;
          flex-shrink:0;
          display:inline-block;
          width:70%;

        }

      }
    }
  }

  & .dialog_footer {
    border: 3px solid transparent;
    border-radius: 3px;
    background: transparent;
    color: $fics_light;
    order: 3;
    height:auto;
    width:100%;
    padding:5px 0;
    & button{
      background: $fics_golden;
      color:$fics_darkest;
      font-weight:bold;
      font-family:Titre;
      border: 1px solid $fics_darkest;
      border-radius: 5px;
      padding:5px;
      float:right;
      width:16ex;
      &:hover{
        background: orchid;
        cursor:pointer;
      }
    }
  }
}
