@import 'basics';
@import 'fonts';


$block_hsize: 2em;
$block_wsize: 5ex;


.fresque.duel {
  height: auto;


  & .tile {
    font-family: NomPersoListe;
    font-weight: bold;
    text-align: center;
    height: auto;

    &.imperial {
      display: flex;
      height: auto;
      width: auto;
      flex-flow: column nowrap;
      justify-content: space-evenly;
      align-items: center;

      & .match {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
        flex-shrink: 1;
        height: 100px;
        width: auto;
        border: 1px solid $fics_darker;
        background: $fics_darker;
        border-radius: 5px;
        padding: 5px;

        & .ghostmark {
          flex-grow: 1;
          flex-shrink: 1;
        }
      }
    }


    &.narrative {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      font-variant: none;
      flex-grow: 2;
      width: 800px;
      height: auto;
      border: 1px solid $fics_dark;

      & .pan {
        display: flex;
        width: 100%;
        flex-flow: row nowrap;
        flex-grow: 1;
        flex-shrink: 1;
        justify-content: flex-start;
        border: 1px solid $fics_back;

        &.even {
          background: #232;
        }

        &.odd {
          background: #323;
        }

        & .marble {
          width: 200px;
          padding: 5px;
          flex-grow: 2;
          flex-shrink: 1;
          font-family: Text;
          font-variant: normal;
          font-weight: normal;
          background: transparent;

          &.r {
            width: 50px;
            font-size: 1.2em;
            flex-grow: 1;
            flex-shrink: 1;

            background: transparent;
            text-align: center;
            order: 2;
          }


          &.a {
            text-align: right;
            order: 1;
          }

          &.d {
            text-align: left;
            order: 3;
          }

          & b {
            font-weight: bold;
            color: #fea;
          }

          & i {
            color: #fea;
          }

          & u {
            color: #fea;
            text-decoration: none;
          }
        }
      }
    }


    &.round_data {
      & h3 {
        text-align: center;
        font-variant: small-caps;
        font-family: NomFat;
      }

      font-family: NomPersoListe;
      font-weight: normal;
      text-align: justify;
      font-variant: none;
      font-size: 8pt;
      height: auto;

      display: inline-block;
      margin: auto;
      margin-top: 0;
      vertical-align: top;
      width: 400px;
      height: auto;
      border: 1px solid black;
      padding: 3px;
      color: white;

      &.attacker {


        & ol {
          /*direction: rtl;*/

          & li {
            text-align: right;
          }
        }
      }

      &.defender {

      }
    }


    &ol {
      margin: 0;

      & li {
        margin: 0;
      }
    }
  }


}

// table.duels {
//     display: inline-block;
//
//     & th {
//         width: 100px;
//         height: 90px;
//         font-size: 2em;
//     }
//
//     & td {
//         width: 100px;
//         height: 90px;
//         font-size: 3em;
//         border: 1px solid white;
//     }
//
//     & .round_data {
//         height: 650px;
//     }
// }

table.match_score {
  display: inline-block;
  background: #444;
  border: 1px solid #444;
  margin: 0;
  padding: 0;

  & td {
    background-color: $fics_dark;
    color: $fics_front;
    font-size: .95em;
    width: auto;
    height: 30px;
    text-align: center;
    border: 2px solid transparent;
  }

  & th {
    background-color: #303030;
    font-size: .85em;
    width: 50px;
    height: 40px;
    border: 2px solid transparent;
  }
}

table.match_score_flat {
  display: inline-block;
  background: #444;
  border: 1px solid #111;
  margin: 0;
  padding: 0;

  & td {
    background-color: $fics_dark;
    color: $fics_front;
    font-size: .95em;
    width: 3ex;
    height: 1.2em;
    text-align: center;
    border: 1px solid transparent;
  }

  & th {
    background-color: #303030;
    color: $fics_frontest;
    font-size: .85em;
    width: 25ex;
    height: 1.2em;
    border: 1px solid transparent;
  }
}


//
// .legend{
//     position:absolute;
//     z-index: 45;
//     font-family: NomPersoListe;
//     font-size:24pt;
//     font-weight:900;
//     bottom:5px;
//     right:5px;
//     color:$fics_fronter;
//     background:#222;
//     height:50px;
//     width:auto;
//     padding:5px;
//     opacity:0.8;
//     border-radius:5px;
//     box-shadow: 0 0 5px #000;
// }
//
// div.jumpweb {
//     position:absolute;
//     z-index: 35;
//     top:10px;
//     bottom:10px;
//     left:10px;
//     right:10px;
//     width: auto;
//     height: auto;
//     background: $fics_back url($simple_back);
//     background-attachment:  fixed;
//     border: 1px solid $fics_dark;
//     overflow: hidden;
// }


table.action_table {
  & tr {
    & th {
      background: #ccc;
      color: black;
      text-align: center;
      width: 6ex;
      font-family: TextDesc;
    }

    & td {
      background: #666;
      color: white;
      text-align: center;
      font-family: Texte;

      &.big {
        font-size: 3em;
      }
    }
  }
}

.dice {
  width: 30px;
  height: 32px;
  top: 0;
  background-image: url("../d12.png");
  background-repeat: no-repeat;
  border: 1px solid transparent;

  &.clip_1 {
    background-position: 0 0;
  }

  &.clip_2 {
    background-position: -33px 0;
  }

  &.clip_3 {
    background-position: -66px 0;
  }

  &.clip_4 {
    background-position: -99px 0;
  }

  &.clip_5 {
    background-position: -132px 0;
  }

  &.clip_6 {
    background-position: -165px 0;
  }

  &.clip_7 {
    background-position: -198px 0;
  }

  &.clip_8 {
    background-position: -231px 0;
  }

  &.clip_9 {
    background-position: -264px 0;
  }

  &.clip_10 {
    background-position: -297px 0;
  }

  &.clip_11 {
    background-position: -330px 0;
  }

  &.clip_12 {
    background-position: -363px 0;
  }
}

table.healthbar {
  border-collapse: separate;
  font-size:10pt;
  width:auto;
  & tr {
    width:auto;
    & td {
      background: $fics_dark;
      border: 2px solid transparent;
      width: $block_wsize;
      height: $block_hsize;
      text-align: center;


      & .large {
        font-size: 1.5em;
        font-weight: bold;
      }

      &.shield {
        border-color: #223;
      }

      &.stats {
        border-color: #DDD;

        &.neg {
          border-color: #223;
        }
      }

      &.armor {
        border-color: #CCC;
        font-weight: bold;
        font-size: 1em;
      }

      &.hp {
        border-color: #322;
      }

      &.wnd {
        &.medium {
          border-color: #AAA;
        }

        &.severe{
          border-color: #DDD;
        }
        color: #A22;

        font-weight: bold;
      }

      &.disabled {
        opacity: .1;
      }

      & .wounded {
        border-color: #B11;
        background-color: #A22;
        color: #FFF;
        padding: 5px;
        border-radius: 5px;
        display: inline-block;
      }
    }

    & th {
      background: transparent;
      border: 2px solid transparent;
      width: $block_wsize;
      height: $block_hsize;
    }
  }
}
