$fics_back: #855E0A;
$fics_front: #F8DDA4;
$fics_link: #F8DDA4;
$fics_highlight: #C5D8D1;
$fics_border_color: #5A340C;
$fics_golden: #DDF9C1;
$logo: "../campaigns/PRPG/logo.png";
$back: "../campaigns/PRPG/back.jpg";
