$fics_back: #520010;
$fics_front: #E0E0E0;
$fics_link: #06BCC1;
$fics_highlight: #C5D8D1;
$fics_border_color: #5A340C;
$fics_golden: #A02020;
$logo: "../campaigns/WaWWoD/logo.png";
$back: "../campaigns/WaWWoD/back.jpg";
