@import 'basics';

.menu {
}



.port{
    order:2;
}


.details{
    order:3;
}


.starport{
    order:4;
}


.mobile_form {
    // Flex item
    order:1;
    flex-grow:1;
    width: 300px;

    z-index: 8000;
    overflow: hidden;
    padding: 5px;
    background: $fics_dark;
    color: $fics_front;
    border: 1px solid $fics_light;
    box-shadow: 3px 3px 5px $fics_darker;
    border-radius: 5px;
    opacity: .9;
//     width: 290px;
    @include collapsible;

    & table.expanded {
        & tr {
            & td[colspan="1"], & th[colspan="1"] {
                width: 30px;
            }

            & td[colspan="2"], & th[colspan="2"] {
                width: 80px;
            }

            & td[colspan="3"], & th[colspan="3"] {
                width: 130px;
            }

            & #summary {
                height: 250px;
                overflow-y: scroll;
                border: 1px solid $fics_darkest;
                width: 100%;
            }

            & select, &option {
                width: 26ex;
            }
        }

        & ul {
            margin: 0;
        }
    }
}


.menuright {
    // Flex Item
    order:4;
    flex-grow:1;
    width: 300px;

    & #keywords {
        width: 250px;
        margin-right: 5px;
        height: auto;
    }
    @include dp_panel;
    @include collapsible;
}

.dicer {
    // Flex Item
    order:3;
    flex-grow:1;
    width: 300px;


    & .roll_dice, & .rolls, & .mods, & .total {
        width: 30ex;
    }

    & input#set {
        width: 50px;
        font-weight: bold;
    }
    @include dp_panel;
    @include collapsible;
}


// Menus

#customize{
    width:20ex;
}


.menu_block{
    & i.fa{
        color:white;
    }
    order:1;
    flex-grow:0;
    flex-basis: 24ex;
    text-align:center;
    padding:10px 0 10px 0;

    display:inline-block;
    width:auto;
    height:auto;
    background:$fics_dark;
    border:1px solid $fics_light;
    border-radius:5px;


    & ul.level-1{
        background:$fics_darker;
        border-radius:5px;
        margin:5px;
        padding:5px;
        text-indent:0;
        text-align:center;
        width:30ex;
        & li{
            display:block;
            background:$fics_light;
            border:1px solid $fics_darker;
            border-radius:3px;
            padding:3px 0 3px 0;
            margin:3px 0 3px 0;
            width:28ex;

            text-align:center;
            background:$fics_darker;
            & ul.level-2{
                display:none;
                color:$fics_front;
                margin:0;
                padding:0;
                text-indent:0;
                border-radius: 5px;
                width:28ex;
                & li{
                    color:$fics_front;
                    background:$fics_dark;
                    padding: 1ex 0.5em 1ex 0.5em;
                    text-align:center;
                    width:26ex;
                    overflow:hidden;
                }
            }
            &:hover{
                & ul.level-2{
                    //transform: skew(5deg,5deg);
                    display:inline-block;

                }
            }

        }
    }
}

.pull-down{
    color:$fics_front;
    weight:bold;
    text-align:center;
    display:inline-block;
    background:transparent;
    border-radius:3px;
    border:1px solid $fics_light;
    padding: 1ex 0 1ex 0;
    margin:2px;
    width:24ex;
    cursor: pointer;
    &:hover {
        //background: $fics_hl;
        //color:black;
    }
}

.menu-logo{
    text-align:center;
    & .img_block{
        display:block;
        width:100%;
        margin:0.5em 0 0.5em 0;
        padding:0.5em 0 0.5em 0;
    }
    & input{
        margin:0.5em 0 0.5em 0;
        padding:0.5em 0 0.5em 0;
    }
    & span{
        width:20px;
        height:20px;
    }
}

.menu-item{
    display:block;
    background:transparent;
    color:$fics_front;
    text-align:left;
    padding: 0.5em 1ex 0.5em 1ex;
    border:1px solid $fics_dark;
    border-radius:5px;
    & A{
        color:$fics_front;
        &:visited, &:hover, &:link, &:active{
            color:$fics_front;
        }
        & i.fas{
            color:$fics_front;
        }
    }
    &:hover {
        background:$fics_golden;
        color:$fics_dark;
    }
    width:24ex;
    cursor: pointer;

}