@import 'basics';
@import 'fonts';

.storyview {
    border: 1px solid $fics_darker;
    box-shadow: 2px 2px 8px $fics_darker;
    border-radius: 5px 5px 5px 5px;
    background-color: $fics_darkest;
    font-family: 'Texte';

    & .drama_wrap, & .epic_wrap, & .event_wrap, & .act_wrap,  {
        border: 3px solid $fics_dark;
        margin: 2px;
        flex: column wrap;
        justify-content: flex-start;
        align-content: flex-start;
        padding-left:20px;
        background: transparent;
    }

    & .title {
        border: 1px solid $fics_darker;

        flex:0 0 auto;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-content: flex-start;

        & .chapter {
            display:inline-block;
            border: 1px solid transparent;
            color: $fics_frontest;
            text-align: center;
            font-family: NomPerso;
            font-size: 1.1em;
            flex: 0 0 150px;

            &.big {
                font-weight: bold;
                font-size: 1.3em;
            }
        }
        & h1 {
            font-height: 28px;
            text-align: left;
        }

        & h2 {

            font-height: 24px;
            text-align: left;

        }

        & h3 {

            font-height: 20px;
            text-align: left;
        }

        & h4 {
            font-height: 16px;
            text-align: left;
        }

        & h1, & h2, & h3, &h4{
            display:inline-block;
            font-family: NomPerso;
            flex: 0 0 250px;
            color: $fics_frontest;
        }

        & .storybar {
            display: flex;
            flex-flow: row-reverse wrap;
            padding: 0;
            margin: 0;
            width:auto;
            flex: 10 1 auto;
            align-self:flex-end;
            & p {
                padding: 0;
                text-indent: 0;
                margin: 0;
                background: transparent;
            }

            & button.compact {
                background: $fics_hl;
                border: 1px solid $fics_front;
                border-radius: 3px;
                box-shadow: 0 0 3px $fics_darkest;
                color: $fics_front;
                flex-basis: 10ex;
                margin: 2px;
                font-family: Texte;
                font-size: 8pt;
                cursor: pointer;

                &:hover {
                    background: $fics_dark;
                    box-shadow: 0 0 3px $fics_link;
                }
            }
        }

        & h1, & h2, & h3, & h4 {
            color: $fics_front;
            display: inline-block;
            padding: 0;
            margin: 0;
            border-bottom: 1px solid transparent;
            width: 25%;
            font-family: NomPersoListe;
        }

        &.noPDF {
            background: $fics_darker;

            & .chapter, & h4, & h3 {
                color: $fics_golden;
            }
        }

        &.golden {
            color: $fics_golden;
        }
    }


    .storyarticle {
        background: transparent;
        padding: 0;
        margin: auto;
        color: white;
        width: 100%;

        & table {
            border: 1px solid gray;
            border-radius: 5px;

            & tr {
                & th {
                    width: 150px;
                    padding: 2px;
                    background: black;
                    color: white;
                    border: 1px solid silver;
                }

                & td {
                    padding: 2px;
                    background: silver;
                    color: black;
                    border: 1px solid silver;

                    & .embedded_link {
                        color: $fics_golden;
                        cursor: pointer;

                        &.broken {
                            background: red;
                        }
                    }

                    & p {
                        margin: 0;
                        padding: 0;
                    }
                }
            }

            &.storydetails {
                width: 100%;
                border: none;

                & tr {
                    & th {
                        background: $fics_darkest;
                        color: $fics_light;
                        border: none;
                        border-radius: 5px;
                    }

                    & td {
                        width: auto;
                        background: $fics_dark;
                        color: $fics_front;
                        border: none;
                        font-size: 9pt;
                        font-family: TextDesc;
                        border-radius: 5px;

                        & .desc {
                            column-count: 2;
                            column-width: auto;
                            column-gap: 20px;
                            column-rule-style: dotted;
                            column-rule-width: 1px;
                            column-rule-color: #a61;
                            line-height: 1.4em;
                            min-height: 150px;

                            & .loot {
                                padding: 0;
                                margin: 0;
                                margin-bottom: 1em;
                                font-family: TextDesc;

                                & ul {
                                    margin: 0;

                                    & li {
                                        margin: 0;
                                        padding: 0;
                                    }
                                }
                            }
                        }
                    }
                }

                & em {
                    font-family: TextDesc;
                    color: #a61;
                    font-weight: bold;
                    font-style: normal;
                    font-size: 1.2em;
                    border-bottom: 1px dotted #a61;
                }

                & .embedded_link {
                    color: #fc4;
                    font-weight: 600;
                }

                & strong {
                    color: #ea6;
                    font-weight: 900;
                    font-style: normal;
                    border-bottom: 1px dotted #ea6;
                }
            }

            &.update {
                background: $fics_dark;
                width: 50%;
                border: none;

                & input, & textarea {
                    width: 90%;
                    background: silver;
                }

                & tr {
                    & th {
                        width: 15%;
                        background: $fics_darkest;
                        color: $fics_light;
                        border: none;
                        border-radius: 5px;
                    }

                    & td {
                        width: auto;
                        background: $fics_darker;
                        color: $fics_front;
                        border: none;
                        border-radius: 5px;
                    }
                }

                & input[type=text], & input[type=number], & input[type=checkbox],
                & select, & textarea {
                    background-color: $fics_dark;
                    color: $fics_front;
                    border-radius: 2px;
                    padding: 2px;
                    border: 2px ridge $fics_hl;
                    box-shadow: -2px -2px 5px $fics_darker;
                }
            }
        }

        & button {
            font-family: 'monospace';
            font-size: 8px;
            width: 16ex;
            padding: 0;
            margin: 2px;
            cursor: pointer;
        }

        .custom_glance {
            cursor: help;
        }
    }

    & input[type=text], & input[type=number], & input[type=checkbox], & select,
    & textarea {
        background-color: $fics_dark;
        color: $fics_front;
        border-radius: 2px;
        padding: 2px;
        border: 2px ridge $fics_hl;
        box-shadow: -2px -2px 5px $fics_darker;
    }
}

.storydetails {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    height: auto;
    padding:5px;
    border-radius:5px;
    width:auto;

    & .topic {
        display: flex;
        flex-flow: row nowrap;
        padding: 1px;
        margin: 0;
        flex: 0 1 25px;

        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;



        & .subject {
            order: 1;
            flex: 0 0 150px;
            background: $fics_back;
            border-radius: 5px;
            color: $fics_front;
            margin: 2px;
            padding: 3px;
            font-size: 1.1em;
            text-align: center;
        }

        & .entry {
            order: 2;
            flex-grow: 4;
            border-radius: 5px;
            border: 1px solid $fics_dark;
            color: $fics_front;
            margin: 2px;
            padding: 3px;
            font-size: 1.1em;
            &.desc{
                columns: 200px 2;
                border:1px solid $fics_darker;
            }
        }

        &.hidden{
            display:none;
        }

        &.last{
            align-self: flex-end;
            flex-grow:10;
        }
    }
}


.storyview {
    & .epic_wrap {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;


        & .drama_wrap {
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;


            & .act_wrap {
                display: flex;
                flex-flow: column nowrap;
                justify-content: flex-start;


                & .event_wrap {
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: flex-start;

                }
            }
        }
    }
}

