@font-face {
  font-family: 'Optimus';
  src: url("OptimusPrincepsSemiBold.ttf"); }
@font-face {
  font-family: 'Euphory';
  src: url("Folks-Normal.ttf"); }
body {
  background: #3a444e url("ambivalence.jpg"); }
  body .wrapper {
    display: grid;
    width: 100%;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 80px 50px 1fr;
    grid-column-gap: 3px;
    grid-row-gap: 2px;
    justify-content: center;
    align-content: stretch;
    font-family: sans-serif;
    font-size: 10pt; }
    body .wrapper .logo {
      background: transparent url("FICS_Logo.png") center center no-repeat;
      color: #FFFFFF;
      border-radius: 25px 5px 10px 5px;
      grid-column: 1 / 1;
      grid-row: 1 / 3;
      padding: 5px; }
    body .wrapper .title {
      background: #678;
      color: #FFFFFF;
      grid-column: 2 / 2;
      grid-row: 1;
      padding: 5px;
      border-radius: 0;
      opacity: 0.5; }
    body .wrapper .menu {
      background: #505e6b;
      border-radius: 10px;
      color: #FFFFFF;
      grid-column: 2 / 3;
      grid-row: 2 / 2;
      justify-self: start;
      align-self: center; }
    body .wrapper .list {
      background: #678;
      opacity: 0.75;
      color: #FFFFFF;
      border-radius: 10px;
      grid-column: 1 / 1;
      grid-row: 3 / 3; }
      body .wrapper .list .pagination {
        text-align: center;
        margin-top: 1em; }
        body .wrapper .list .pagination a, body .wrapper .list .pagination strong {
          margin: 0 0.1em;
          display: inline-block;
          padding: 0.5em;
          color: #FFFFFF;
          font-size: 1em;
          background: #505e6b;
          padding: 0.5em 0.8em;
          border-radius: 2px;
          text-decoration: none; }
      body .wrapper .list ul, body .wrapper .list ol {
        text-indent: 0; }
        body .wrapper .list ul li, body .wrapper .list ol li {
          font-size: 0.83em; }
          body .wrapper .list ul li a, body .wrapper .list ol li a {
            color: #FFFFFF;
            text-decoration: none; }
            body .wrapper .list ul li a:hover, body .wrapper .list ol li a:hover {
              background: orange; }
          body .wrapper .list ul li small, body .wrapper .list ol li small {
            font-size: 0.75em; }
          body .wrapper .list ul li em, body .wrapper .list ol li em {
            font-weight: bold; }
    body .wrapper .details {
      border-radius: 10px 0 0 0;
      display: inline-block;
      vertical-align: baseline;
      background: #505e6b;
      grid-column: 2 / 2;
      grid-row: 3 / 3;
      padding: 10px;
      font-family: Euphory;
      font-size: 0.97em; }
      body .wrapper .details .sub {
        position: fixed;
        left: 5px;
        bottom: 5px; }
      body .wrapper .details .sheet {
        width: 100%; }
      body .wrapper .details .attributes {
        -moz-column-count: 5;
        -webkit-column-count: 5;
        column-count: 5;
        -moz-column-gap: 5px;
        -webkit-column-gap: 5px;
        column-gap: 5px;
        -moz-column-rule: 0px solid #000;
        -webkit-column-rule: 0px solid #000;
        column-rule: 0px solid #000;
        color: #000000; }
      body .wrapper .details .skillsview {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
        -moz-column-gap: 5px;
        -webkit-column-gap: 5px;
        column-gap: 5px;
        -moz-column-rule: 1px solid #000;
        -webkit-column-rule: 1px solid #000;
        column-rule: 1px dotted #8191a0;
        color: #000000; }
      body .wrapper .details .classyview {
        border: 1px solid black;
        border-radius: 10px 0 10px 0;
        padding: 10px;
        background: white;
        width: 750px;
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
        -moz-column-gap: 10px;
        -webkit-column-gap: 10px;
        column-gap: 10px;
        -moz-column-rule: 1px solid #000;
        -webkit-column-rule: 1px solid #000;
        column-rule: 1px dotted #8191a0;
        color: #000000; }
      body .wrapper .details .narrative {
        border: 1px solid black;
        border-radius: 5px;
        padding: 5px;
        column-count: 2;
        column-gap: 10px;
        column-rule: 1px dotted #8191a0; }
      body .wrapper .details table.formset {
        padding: 1ex 0.5em;
        border-radius: 0.5em;
        border: 1px solid black;
        background: #CFCFCE; }
        body .wrapper .details table.formset.inline {
          display: inline-block; }
        body .wrapper .details table.formset tr.row1 {
          background: #e8e8e8; }
        body .wrapper .details table.formset tr.row2 {
          background: white; }
        body .wrapper .details table.formset td {
          vertical-align: top; }
        body .wrapper .details table.formset caption {
          font-family: Optimus;
          font-size: 1.3em; }
        body .wrapper .details table.formset .field_wrapper label {
          width: 10ex;
          display: inline-block;
          vertical-align: top;
          text-align: right; }
        body .wrapper .details table.formset .field_wrapper input, body .wrapper .details table.formset .field_wrapper textarea, body .wrapper .details table.formset .field_wrapper select {
          box-sizing: border-box;
          display: inline-block;
          font-family: Euphory;
          font-size: 0.93em; }
        body .wrapper .details table.formset .field_wrapper textarea {
          padding: 0.5em;
          width: 50ex; }
        body .wrapper .details table.formset .field_wrapper input[type=number] {
          width: 10ex; }
      body .wrapper .details table.stats {
        display: inline-block;
        border: 1px solid black;
        border-radius: 6px; }
        body .wrapper .details table.stats td {
          height: 2em;
          width: 25ex; }
      body .wrapper .details table.coreblock {
        display: inline-block;
        border: 1px solid black;
        border-radius: 6px;
        margin-top: 0.5em;
        margin-bottom: 0.5em; }
        body .wrapper .details table.coreblock th {
          width: 15ex; }
        body .wrapper .details table.coreblock td {
          width: 60ex; }
      body .wrapper .details H1, body .wrapper .details H2 {
        font-family: Optimus;
        font-weight: Normal; }
      body .wrapper .details H1 {
        margin: 0; }
      body .wrapper .details H2 {
        margin: 0; }
  body .btn {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 60px;
    height: 20px;
    border: 2px solid gray;
    border-radius: 5px;
    background: silver;
    color: black;
    text-decoration: none;
    padding: 5px;
    text-align: center; }
    body .btn:hover {
      background: #303030;
      color: white; }

/*# sourceMappingURL=styles.css.map */
