@font-face {
  font-family: 'Optimus';
  src: url("OptimusPrincepsSemiBold.ttf"); }
@font-face {
  font-family: 'Euphory';
  src: url("Folks-Normal.ttf"); }
body {
  background: #290e36; }
  body .wrapper {
    display: grid;
    width: 100%;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 80px 50px 1fr;
    grid-column-gap: 3px;
    grid-row-gap: 2px;
    justify-content: center;
    align-content: stretch;
    background: #290e36;
    font-family: sans-serif;
    font-size: 10pt; }
    body .wrapper .logo {
      background: #47185f url("https://pre00.deviantart.net/3f75/th/pre/i/2009/298/8/6/kafka_library_by_gryphart.jpg");
      color: #FFFFFF;
      border-radius: 25px;
      grid-column: 1 / 1;
      grid-row: 1 / 3;
      padding: 5px; }
    body .wrapper .title {
      background: #662288;
      color: #FFFFFF;
      grid-column: 2 / 2;
      grid-row: 1;
      padding: 5px;
      border-radius: 10px; }
    body .wrapper .menu {
      background: #47185f;
      border-radius: 10px;
      color: #FFFFFF;
      grid-column: 2 / 3;
      grid-row: 2 / 2;
      justify-self: start;
      align-self: center; }
    body .wrapper .list {
      background: #662288;
      color: #FFFFFF;
      border-radius: 15px;
      grid-column: 1 / 1;
      grid-row: 3 / 3; }
      body .wrapper .list .pagination {
        text-align: center;
        margin-top: 1em; }
        body .wrapper .list .pagination a, body .wrapper .list .pagination strong {
          margin: 0 0.1em;
          display: inline-block;
          padding: 0.5em;
          color: #FFFFFF;
          font-size: 1em;
          background: #47185f;
          padding: 0.5em 0.8em;
          border-radius: 2px;
          text-decoration: none; }
      body .wrapper .list ul, body .wrapper .list ol {
        text-indent: 0; }
        body .wrapper .list ul li, body .wrapper .list ol li {
          font-size: 0.83em; }
          body .wrapper .list ul li a, body .wrapper .list ol li a {
            color: #FFFFFF;
            text-decoration: none; }
            body .wrapper .list ul li a:hover, body .wrapper .list ol li a:hover {
              background: orange; }
          body .wrapper .list ul li small, body .wrapper .list ol li small {
            font-size: 0.75em; }
          body .wrapper .list ul li em, body .wrapper .list ol li em {
            color: orange;
            font-weight: bold; }
    body .wrapper .details {
      background: silver;
      grid-column: 2 / 2;
      grid-row: 3 / 3;
      padding: 10px;
      font-family: Euphory;
      font-size: 0.97em; }
      body .wrapper .details table.stats {
        display: inline-block;
        border: 1px solid black;
        border-radius: 6px;
        background: orange; }
        body .wrapper .details table.stats td {
          height: 2em; }
        body .wrapper .details table.stats .field_wrapper label {
          width: 5ex;
          display: inline-block; }
        body .wrapper .details table.stats .field_wrapper input[type=number] {
          width: 5ex; }
      body .wrapper .details table.coreblock {
        display: inline-block;
        border: 1px solid black;
        border-radius: 6px; }
        body .wrapper .details table.coreblock th {
          width: 15ex; }
        body .wrapper .details table.coreblock td {
          width: 60ex; }
      body .wrapper .details .field_wrapper label {
        width: 16ex;
        display: inline-block; }
      body .wrapper .details .field_wrapper input[type=number] {
        width: 10ex; }
      body .wrapper .details H1 {
        font-family: Optimus;
        font-weight: Normal; }
      body .wrapper .details H2 {
        font-family: Optimus;
        font-weight: Normal; }
      body .wrapper .details H3 {
        font-family: Optimus;
        font-weight: Normal; }
  body .btn {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 60px;
    height: 20px;
    border: 2px solid gray;
    border-radius: 5px;
    background: silver;
    color: black;
    text-decoration: none;
    padding: 5px;
    text-align: center; }
    body .btn:hover {
      background: #303030;
      color: white; }

/*# sourceMappingURL=styles.css.map */
