$fics_front: #FFFFFF;
$fics_back: #605070;
$fics_dark: darken($fics_back, 10%);
$fics_light: lighten($fics_back, 10%);
$fics_darker: darken($fics_back, 20%);
$fics_darkest: darken($fics_darker,50%);
$fics_font: #E5DECA;
$formset_back: #CFCFCE;
$fics_hl: $fics_light;

@font-face {
    font-family: 'Optimus';
    src: url("MonospaceTypewriter.ttf");
    
}

@font-face {
    font-family: 'Euphory';
    src: url("Folks-Normal.ttf");
}


.fixed {
  position: fixed;
  top:0; left:0;
  width: 100%;
}

.stickyoffset{
  padding-top:55px;
}

body {  
  background: $fics_darkest url("planetary_outlook.jpg") -130px 300px;
  padding:0;
  margin:0;
  & .logo {
    background: $fics_darker url("FICS_Logo.png") center center no-repeat;
    height:105px;
    padding:0;
    opacity:0.75;
  }

  & .menu {
    padding:5px;
    padding-left:30%;
    padding-right:10%;
    color: $fics_front;
    font-size: 0.73em;
    background: $fics_back;
    height:50px;
    z-index:20;
  }


  & .footer{
    background:$fics_darker;
    height:50px;
    padding:5px;
    color: $fics_front;
    font-family: sans-serif;
    font-size: 8pt;
    text-align:right;
    padding-top:50px;
    padding-right:10%;
  }

  & .wrapper {
    z-index:5;
    margin-left:10%;
    display:grid;
    width: 80%;
    grid-template-columns: 300px 1fr;
    grid-column-gap: 3px;
    justify-content: center;
    align-content: stretch;
    font-family: sans-serif;
    font-size: 10pt;


    
    & .list {
      min-height:1200px;
      background: transparent url("details.png");
      & .pagination {
        text-align: center;
        margin-top: 1em;
        & a, & strong,  & span.nav {
          margin: 0 0.1em;
          display: inline-block;
          padding: 0.5em;
          color: $fics_front;
          font-size: 1em;
          background: $fics_dark;
          padding: 0.5em 0.8em;
          border-radius: 2px;
          text-decoration: none;
          cursor:pointer;
        }
      }
      & .character_actions{
        display:inline-block;        
        background: $fics_dark;
        color: $fics_front;
        padding:2px;
        border:1px solid transparent;
        border-radius:2px;
        & a, & span.nav{
          cursor:pointer;
          &:hover{
            color:$fics_hl;
          }
        }
      }
      
      color: $fics_front;
      border-radius: 10px;
      grid-column: 1 / 1;
      & ul, & ol {
        text-indent: 0;
        & li {
          font-size: 0.83em;
          
          & a {
            color: $fics_front;
            text-decoration: none;
            &:hover {
               
               color:$fics_font;
            }
          }
          & small {
            font-size: 0.75em;
          }
          & em {
            font-weight: bold;
          }
        }
      }
    }
    & .details {
      min-height:1200px;
      & .sub {        
        left: 5px;
        position:fixed;
        bottom: 5px;
        margin:auto;
        padding:auto;
      }

      
      z-index:10;
       background: transparent url("details.png"); 
            grid-column: 2 / 2;
            padding: 10px;
            padding-bottom:50px;
            font-family: Euphory;
            font-size: 0.97em;
            
            border-left: 1px dashed $fics_font;
            border-right: 1px dashed $fics_font;
            & .sheet{
              width:100%;
              background:white;
            }
            

            & .attributes{
              -moz-column-count: 5;
              -webkit-column-count:5;
              column-count:5;
              -moz-column-gap: 5px;
              -webkit-column-gap:5px;
              column-gap:5px;
              -moz-column-rule: 0px solid #000;
              -webkit-column-rule:0px solid #000;
              column-rule:0px solid #000;
              color:#000000;
            }


            & .skillsview{
              -moz-column-count: 3;
              -webkit-column-count:3;
              column-count:3;
              -moz-column-gap: 5px;
              -webkit-column-gap:5px;
              column-gap:5px;
              -moz-column-rule: 1px solid #000;
              -webkit-column-rule:1px solid #000;
              column-rule:1px dotted $fics_light;
              color:#000000;
            }
            
            & .classyview{
              border:1px solid black;
              border-radius:10px 0 10px 0;
              padding:10px;
              /*background:white url(details.png);*/
              background-color:#FCFCFC;
              width:750px;
              margin-left:auto;
              margin-right:auto;
              display:block;
              
              -moz-column-count: 1;
              -webkit-column-count:1;
              column-count:1;
              -moz-column-gap: 10px;
              -webkit-column-gap:10px;
              column-gap:10px;
              
              -moz-column-rule: 1px solid #000;
              -webkit-column-rule:1px solid #000;
              column-rule:1px dotted $fics_light;
              color:#000000;
              
            }

            & .narrative{
              border:1px solid black;
              border-radius:5px;
              padding:5px;
              column-count:2;
              column-gap:10px;
              column-rule:1px dotted $fics_light;
            } 
            
            & table.formset {
                &.inline{
                  //display:inline-block;
                }
                padding: 1ex 0.5em;
                width:100%;
                border-radius: 0.5em;
                border: 1px solid black;
                background: $formset_back;

                & tr.row1 {
                    background: lighten($formset_back, 10%);
                }

                & tr.row2 {
                    background: lighten($formset_back, 20%);
                }

                & td{
                  vertical-align:top;
                }

                & caption {
                    font-family: Optimus;
                    font-size: 1.3em;
                }

                & .field_wrapper {
                    & label {
                      width: 10ex;
                      display: inline-block;
                      vertical-align: top;
                      text-align:right;
                    }
                    & input, & textarea, & select{
                      box-sizing: border-box;
                      display: inline-block;
                      font-family: Euphory;
                      font-size:0.93em;
                    }
                    & textarea{
                      padding:0.5em;
                      width:50ex;
                    }
                    & input[type=number] {
                        width: 10ex;
                    }
                }

                
            }

            & table.stats {
                display: inline-block;
                border: 1px solid black;
                border-radius: 6px;


                & td {
                    height: 2em;
                    width:25ex;
          }
        }
        & table.coreblock {
          display: inline-block;
          border: 1px solid black;
          border-radius: 6px;
          margin-top:0.5em;
          margin-bottom:0.5em;
          & th {
            width: 15ex;
          }
          & td {
            width: 60ex;                    
          }
        }
        & H1, & H2 {
          font-family: Optimus;
          font-weight: Normal;
          margin:0;
        }
      }
    }

    & .btn {
        display: inline-block;
        padding: 0;
        margin: 0;
        width: 60px;
        height: 40px;
        border: 2px solid gray;
        border-radius: 5px;
        background: #E5DECA;
        color: black;
        text-decoration: none;
        padding: 5px;
        text-align: center;
        font-size:1.25em;
        line-height:1.5em;
        &:hover {
            background: #B8A66F;
            color: black;
        }
    }
    & a.btn{
        height: 25px;
    }
}


.pdflink{
  color:$fics_front;
  text-decoration:none;
  background:$fics_dark;
  display:inline-block;
  padding:3px;
}
