/*
 ╔╦╗╔═╗  ╔═╗┌─┐┬  ┬  ┌─┐┌─┐┌┬┐┌─┐┬─┐
  ║║╠═╝  ║  │ ││  │  ├┤ │   │ │ │├┬┘
 ═╩╝╩    ╚═╝└─┘┴─┘┴─┘└─┘└─┘ ┴ └─┘┴└─
*/
$fics_back: #303230;
$fics_lighter: lighten($fics_back, 20%);
$fics_light: lighten($fics_back, 10%);
$fics_dark: darken($fics_back, 10%);
$fics_darker: darken($fics_back, 20%);
$fics_darkest: darken($fics_darker, 30%);
$fics_front: #e5deca;
$fics_link: #aaa;
$fics_blank: lighten($fics_back, 5%);
$formset_back: $fics_darker;
$fics_hl: darken($fics_link, 40%);
$fics_ghost: darken($fics_front, 15%);
$fics_border_color: #ffc080;
$fics_subborder_color: darken($fics_back, 30%);
$fics_golden: #fc2;
$fics_lock: darken($fics_golden, 50%);

@mixin section_block {
    font-family: Titre;
    font-weight: normal;
    background: $fics_darker;
    color: $fics_front;
    font-size: 1.25em;
    text-align: center;
}

@mixin unbreakable {
    & table.unbreakable {
        width: 100%;
        overflow: hidden;
        page-break-after: always;
        page-break-inside: avoid;
        font-size: 1em;

        & th {
            background: $fics-darker;

            &[colspan="3"], &[colspan="4"], &[colspan="12"] {
                @include section_block;
            }
        }

        & td {
        }
    }
}

@mixin dp_panel {
    padding: 5px;
    background: $fics_dark;
    color: $fics_front;
    border: 1px solid $fics_light;
    box-shadow: 3px 3px 5px $fics_darker;
    border-radius: 5px;
    opacity: .9;
}

@mixin collapse_tables {
    & table {
        width: 100%;

        & th {
            color: $fics_front;
            background: $fics_darkest;
        }

        & td {
            color: $fics_front;
            background: $fics_dark;
        }

        &.expanded {
            display: block;
        }

        &.collapsed {
            display: none;
        }
    }

    &.collapsed {
        width: 12px;
        overflow: hidden;
        background: $fics_darkest;

        & table.expanded {
            display: none;
        }

        & table.collapsed {
            display: block;
        }
    }
    transition: width .5s;
}

input[type=text], input[type=number], input[type=checkbox], select, textarea {
    background-color: $fics_dark;
    color: $fics_front;
    border-radius: 2px;
    padding: 2px;
    border: 2px ridge $fics_hl;
    box-shadow: -2px -2px 5px $fics_darker;
}

@font-face {
    font-family: 'NomPerso';
    src: url('fonts/Cinzel-Black.ttf');
}

@font-face {
    font-family: 'TextDesc';
    src: url('fonts/WorkSans-Light.ttf');
}

@font-face {
    font-family: 'NomPersoListe';
    src: url('fonts/Cinzel-Regular.ttf');
}

@font-face {
    font-family: 'Titre';
    /*src: url('Eczar-ExtraBold.ttf');*/
    src: url('fonts/Balthazar-Regular.ttf');
}

@font-face {
    font-family: 'Texte';
    src: url('fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Emphase';
    src: url('Eczar-Regular.ttf');
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 99%;
}

.stickyoffset {
}

h1, h2, h3, h4, h5, h6 {
    font-family: Titre;
    font-weight: normal;
}

body {
    font-family: Texte;
    background: $fics_darkest url("greynoise.jpg") fixed 50% 50%;

    & .logo {
        display: none;
        background: transparent url("simple_logo_invert.png") center center no-repeat;
        /*background: url("details.png");*/
    }

    & .menu {
        position: fixed;
        overflow: show;
        color: $fics_front;
        font-size: .73em;
        background: $fics_dark;
        z-index: 20;
        font-family: Texte;
        display: block;
        padding: 5px 0 5px 0;
        @include dp_panel;

        & .releasenote {
            display: inline-block;
            margin: 0;
            padding: 5px;
            margin-right: 10px;
            width: 40%;
            float: right;

            & ul {
                margin: 0;
                padding: 0;
                display: block;
                height: auto;
                overflow: show;
                list-style-type: none;
                text-align: right;

                & li {
                    margin: 0;
                    padding: 0;
                    display: block;
                    background-color: $fics_dark;
                    overflow: show;

                    & ul {
                        display: none;
                        list-style-type: none;

                        & li {
                            display: block;
                            z-index: 500;
                        }
                    }
                }
            }
        }

        & .shortcuts {
            display: inline-block;
            margin: 0;
            padding: 0;
            width: 50%;
            float: left;

            & .pic {
                display: inline-block;
                margin-left: 5px;
            }

            & ul {
                margin: 0;
                padding: 5px;
                display: inline-block;
                height: auto;
                overflow: show;
                list-style-type: none;

                & li {
                    margin: 0;
                    padding: 0;
                    display: inline-block;
                    background-color: $fics_dark;
                    overflow: show;

                    & ul {
                        display: none;
                        list-style-type: none;

                        & li {
                            display: block;
                            z-index: 500;
                        }
                    }
                }
            }
        }
    }

    & .wrapper {
        font-family: Texte;
        font-size: 9pt;
        padding: 0;
        padding-top: 60px;

        & .list {
            position: fixed;
            color: $fics_front;
            background: transparent;
            height: auto;

            & .storyline {
                display: block;
                color: white;
                text-align: center;
                margin-top: 1em;
            }

            & .charlist {
                & .pagination {
                    text-align: center;
                    margin-top: 1em;

                    & a, & strong, & span.nav {
                        margin: 0 .1em;
                        display: inline-block;
                        padding: .5em;
                        color: $fics_front;
                        font-size: .77em;
                        background: $fics_dark;
                        padding: .5em .8em;
                        border-radius: 2px;
                        text-decoration: none;
                        cursor: pointer;
                        border: 1px solid $fics_light;
                        box-shadow: 3px 3px 5px $fics_darker;
                        border-radius: 3px;
                    }
                }

                & ul.avatars {
                    text-indent: 0;
                    margin-left: 0;
                    padding-left: 0;
                    list-style-type: none;
                    font-size: 8pt;

                    & li {
                        margin: 5px;

                        & .avatar_link {
                            width: 250px;
                            @include dp_panel;

                            & .character_actions, & .character_info {
                                border: 1px solid transparent;
                                display: inline-block;
                                border-radius: 2px;
                                padding: 0;
                                margin: 0;

                                & a, & span.nav, , & .action {
                                    cursor: pointer;
                                    color: $fics_hl;

                                    &:hover {
                                        color: $fics_golden;
                                    }
                                }
                            }

                            & .character_actions {
                                float: right;
                                color: $fics_front;
                            }

                            & .character_name {
                                display: inline-block;
                                font-family: "NomPersoListe";
                                width: 20ex;
                                height: 2.3em;
                                cursor: help;
                                overflow-y: visible;

                                & em {
                                    font-style: normal;
                                    font-weight: bold;
                                    text-shadow: 0 0 3px $fics_darkest;

                                    &:hover {
                                        color: $fics_golden;
                                    }
                                }
                            }

                            & .character_info {
                                border: 1px solid $fics_hl;
                                background: $fics_darker;
                                padding: 2px;
                                width: 98%;
                                height: 6em;

                                &.hidden {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }

        & .details {
            z-index: 10;
            background: transparent;
            padding: 10px;
            padding-bottom: 50px;
            font-family: Texte;
            font-size: .97em;
            /*border-left: 1px solid $fics_dark;*/

            & a {
                color: #fc2;
                text-decoration: none;
            }

            & .sub {
                left: 5px;
                position: fixed;
                bottom: 5px;
                margin: auto;
                padding: auto;
            }

            & .sheet {
                width: 100%;
                background: white;
            }

            & .attributes {
                column-count: 5;
                column-gap: 2px;
                column-rule: 0 solid $fics_light;

                table {
                    & th.name {
                        padding-left: 1px;
                        background: $fics_back;
                        width: 5ex;
                    }

                    & td {
                        text-align: center;
                        font-weight: normal;
                        width: auto;

                        &.edit {
                            width: 5ex;
                        }
                    }

                    &.primary {
                        border: 1px solid $fics_darker;
                    }
                    padding: 0;

                    &.occult {
                        & th.name {
                            width: 12ex;
                        }

                        & td {
                            &.edit {
                                width: 5ex;
                            }
                        }
                    }
                }
            }

            & .gear {
                column-count: 2;
                column-gap: 5px;
                column-rule: 1px dotted $fics_light;
                margin-top: 3px;
                border: 1px solid $fics_subborder_color;
                border-radius: 2px;
                margin-top: 3px;
                width: 100%;
                @include unbreakable;
            }

            & .options {
                column-count: 3;
                column-gap: 5px;
                column-rule: 1px dotted $fics_light;
                margin-top: 3px;
                border: 1px solid $fics_subborder_color;
                border-radius: 2px;
                margin-top: 3px;
                width: 100%;
                @include unbreakable;
                border: 1px solid $fics_subborder_color;
                border-radius: 2px;
            }

            & .coreblock {
                column-count: 3;
                column-gap: 5px;
                column-rule: 1px dotted $fics_light;
                margin-top: 3px;
                border: 1px solid $fics_subborder_color;
                border-radius: 2px;
                margin-top: 3px;
                width: 100%;
                border: 1px solid $fics_subborder_color;
                border-radius: 2px;

                & ul {
                    page-break-after: always;
                    page-break-inside: avoid;
                    padding: 0;
                    margin: 0;
                    list-style: none;

                    & li {
                        padding: 3px;
                        margin: 0;

                        & b {
                            width: 20ex;
                            margin-right: 1ex;
                            display: inline-block;
                            background: $fics_darker;
                        }
                        width: 100%;
                    }
                }

                & .pagebreaker {
                    page-break-after: always;
                }
            }

            & .skillsview {
                column-count: 3;
                column-gap: 5px;
                column-rule: 1px dotted $fics_light;
                margin-top: 3px;
                border: 1px solid $fics_subborder_color;
                border-radius: 2px;

                & table {
                    width: 100%;

                    & tr {
                        height: 5px;
                        overflow: hidden;

                        & td {
                            width: auto;
                            height: 5px;
                            margin: 0;
                            padding: 0;
                            background: $fics_dark;
                        }

                        & td[colspan="2"] {
                            width: auto;
                            height: 8px;
                            margin: 2px;
                            padding: 1px;
                            background: $fics_light;
                            text-align: center;
                        }

                        & th {
                            height: 5px;
                            text-align: right;
                            background: transparent;
                            width: 14ex;
                            font-size: 1em;
                            line-height: .8em;
                            margin: 0;
                            padding: 0;
                        }

                        & th.edit {
                            width: 4ex;
                            font-size: 1em;
                            text-align: center;
                        }

                        & th[colspan="2"] {
                            width: 14ex;
                        }
                    }
                }
            }

            & .edit {
                color: $fics_golden;
            }

            & .chart_panel {
                border: 1px solid $fics_darker;
                box-shadow: 2px 2px 8px $fics_darker;
                border-radius: 5px 5px 5px 5px;
                padding: 10px;
                background-color: $fics_dark;
                display: inline-block;
                color: $fics_front;

                & canvas {
                    width: 1000px;
                    height: auto;
                }
            }

            & .classyview {
                & .pic {
                    display: block;
                    float: right;
                    border: 1px solid black;
                    width: 200px;
                    height: auto;
                }
                width: 100%;
                max-width: 900px;
                margin-left: auto;
                margin-right: auto;
                display: block;
                column-count: 1;
                column-gap: 10px;
                column-rule: 1px dotted $fics_light;
                @include dp_panel;

                & h1 {
                    font-family: NomPerso;
                }

                & h2 {
                    @include section_block;
                }
            }

            & .tournamentview {
                & .pic {
                    display: block;
                    float: right;
                    border: 1px solid black;
                    width: 200px;
                    height: auto;
                }
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                display: block;
                column-count: 1;
                column-gap: 10px;
                column-rule: 1px dotted $fics_light;
                @include dp_panel;

                & h1 {
                    font-family: NomPerso;
                }

                & h2 {
                    @include section_block;
                }
            }

            & .storyview {
                border: 1px solid $fics_darker;
                box-shadow: 2px 2px 8px $fics_darker;
                border-radius: 5px 5px 5px 5px;
                padding: 5px;
                margin: 0;
                background-color: $fics_dark;
                width: 100%;
                /*max-width: 1000px;*/
                margin-left: auto;
                margin-right: auto;
                display: block;
                font-family: 'Texte';

                & .title {
                    padding: 0;
                    margin-bottom: 2px;
                    border: 1px solid $fics_darker;
                    height: 25px;

                    & .chapter {
                        display: inline-block;
                        padding: 0;
                        margin: 0;
                        border: 1px solid transparent;
                        width: 50px;
                        color: $fics_front;
                        text-align: right;
                        font-family: NomPersoListe;

                        &.big {
                            font-weight: bold;
                            font-size: 1.2em;
                            /*color: $fics_golden;*//*background: $fics_darkest;*/
                        }
                    }

                    & h1 {
                        font-height: 15px;
                        text-indent: 10px;
                    }

                    & h2 {
                        font-height: 14px;
                        text-indent: 20px;
                    }

                    & h3 {
                        font-height: 13px;
                        text-indent: 40px;
                    }

                    & h4 {
                        font-height: 12px;
                        text-indent: 60px;
                    }

                    & .storybar {
                        display: inline-block;
                        padding: 0;
                        margin: 0;
                        background: transparent;

                        & p {
                            padding: 0;
                            text-indent: 0;
                            margin: 0;
                            background: transparent;
                        }

                        & button.compact {
                            background: $fics_hl;
                            border: 1px solid $fics_front;
                            border-radius: 3px;
                            box-shadow: 0 0 3px $fics_darkest;
                            color: $fics_front;
                            width: 10ex;
                            margin: 2px;
                            font-family: Texte;
                            font-size: 8pt;
                            cursor: pointer;

                            &:hover {
                                background: $fics_dark;
                                box-shadow: 0 0 3px $fics_link;
                            }
                        }
                    }

                    & h1, & h2, & h3, & h4 {
                        color: $fics_front;
                        display: inline-block;
                        padding: 0;
                        margin: 0;
                        border-bottom: 1px solid transparent;
                        width: 25%;
                        font-family: NomPersoListe;
                    }

                    &.noPDF {
                        background: $fics_darker;

                        & .chapter, & h4, & h3 {
                            color: $fics_golden;
                        }
                    }

                    &.golden {
                        color: $fics_golden;
                        /*background: $fics_darkest;*/
                    }
                }

                .storyarticle {
                    background: transparent;
                    padding: 0;
                    margin: auto;
                    color: white;
                    width: 100%;

                    & table {
                        /*background: yellow;*/
                        border: 1px solid gray;
                        border-radius: 5px;

                        & tr {
                            & th {
                                width: 150px;
                                padding: 2px;
                                background: black;
                                color: white;
                                border: 1px solid silver;
                            }

                            & td {
                                padding: 2px;
                                background: silver;
                                color: black;
                                border: 1px solid silver;

                                & .embedded_link {
                                    color: $fics_golden;
                                    /*text-decoration: underline;*/
                                    cursor: pointer;

                                    &.broken {
                                        background: red;
                                    }
                                }

                                & p {
                                    margin: 0;
                                    padding: 0;
                                }
                            }
                        }

                        &.details {
                            width: 100%;
                            border: none;

                            & tr {
                                & th {
                                    width: 15%;
                                    background: $fics_darkest;
                                    color: $fics_light;
                                    border: none;
                                    border-radius: 5px;
                                }

                                & td {
                                    width: auto;
                                    background: $fics_dark;
                                    color: $fics_front;
                                    border: none;
                                    font-size: 10pt;
                                    font-family: TextDesc;
                                    border-radius: 5px;

                                    &.desc {
                                        line-height: 2em;
                                    }
                                }
                            }

                            & em {
                                color: #f0d070;
                                font-weight: bold;
                                font-style: normal;
                            }

                            & .embedded_link {
                                color: #c0c0c0;
                                font-weight: 600;
                                border-bottom: 1px ridge #808080;
                            }

                            & strong {
                                color: #c0c0c0;
                                font-weight: 600;
                                font-style: normal;
                                border-top: 1px groove #808080;
                            }
                        }

                        &.update {
                            background: $fics_dark;
                            width: 50%;
                            border: none;

                            & input, & textarea {
                                width: 90%;
                                background: silver;
                            }

                            & tr {
                                & th {
                                    width: 15%;
                                    background: $fics_darkest;
                                    color: $fics_light;
                                    border: none;
                                    border-radius: 5px;
                                }

                                & td {
                                    width: auto;
                                    background: $fics_darker;
                                    color: $fics_front;
                                    border: none;
                                    border-radius: 5px;
                                }
                            }

                            & input[type=text], & input[type=number],
                            & input[type=checkbox], & select, & textarea {
                                background-color: $fics_dark;
                                color: $fics_front;
                                border-radius: 2px;
                                padding: 2px;
                                border: 2px ridge $fics_hl;
                                box-shadow: -2px -2px 5px $fics_darker;
                            }
                        }
                    }

                    & button {
                        font-family: 'monospace';
                        font-size: 8px;
                        width: 16ex;
                        padding: 0;
                        margin: 2px;
                        cursor: pointer;
                    }

                    .custom_glance {
                        cursor: help;
                    }
                }

                & input[type=text], & input[type=number], & input[type=checkbox],
                & select, & textarea {
                    background-color: $fics_dark;
                    color: $fics_front;
                    border-radius: 2px;
                    padding: 2px;
                    border: 2px ridge $fics_hl;
                    box-shadow: -2px -2px 5px $fics_darker;
                }
            }

            & .narrative {
                margin: 5px;
                vertical-align: top;
                display: block;
                border: 1px solid $fics_subborder_color;
                border-radius: 5px;
                padding: 5px;
                width: auto;
                page-break-after: always;
                page-break-inside: avoid;
                /*column-count:2;*//*column-gap:10px;*//*column-rule:1px dotted $fics_light;*/
            }

            & table.formset {
                padding: 1ex .5em;
                width: 100%;
                border-radius: .5em;
                border: 1px solid black;
                background: $formset_back;

                & tr.row1 {
                    background: lighten($formset_back, 10%);
                }

                & tr.row2 {
                    background: darken($formset_back, 20%);
                }

                & td {
                    vertical-align: middle;
                }

                & caption {
                    font-family: 'Texte';
                    font-size: 1.3em;
                    side: top;
                }

                & .field_wrapper {
                    & label {
                        width: 40%;
                        display: inline-block;
                        vertical-align: top;
                        text-align: left;
                        height: 100%;
                    }

                    & input, & textarea, & select {
                        box-sizing: border-box;
                        display: inline-block;
                        font-family: Texte;
                        font-size: .93em;
                    }

                    & textarea {
                        padding: .5em;
                        width: 40%;
                    }

                    & input[type=number] {
                        width: 8ex;
                    }
                }
            }

            & table.stats {
                display: inline-block;
                border: 1px solid $fics_subborder_color;
                border-radius: 6px;

                & th {
                    width: 12ex;
                }

                & td {
                    height: 2em;
                    width: 25ex;
                }
            }

            & h1, & h2, & h3 {
                margin: 0;
                margin-top: .5em;
            }

            & h1 {
                font-size: 1.6em;
                color: $fics_front;
            }

            & h2 {
                font-size: 1.4em;
            }

            & h3 {
                font-size: 1.2em;
            }
        }
    }

    & .edit_icon {
        color: $fics_golden;
        cursor: pointer;
    }

    & .action_icon {
        color: $fics_hl;
        cursor: pointer;

        &:hover {
            color: $fics_golden;
        }
    }

    .subsection {
        font-weight: bold;
        color: $fics_link;
        text-decoration: underline;
    }

    .pdflink {
        color: $fics_front;
        text-decoration: none;
        background: $fics_dark;
        display: inline-block;
        padding: 3px;
    }

    .ping {
        background: orange;
    }

    .waiting {
        cursor: progress;
        opacity: .95;
    }

    .golden {
        color: $fics_golden;
    }

    .blank {
        color: $fics_blank;
        opacity: .5;
        text-shadow: 0 0 3px black;
    }

    .wildcard {
        color: $fics_front;
        opacity: .5;
    }

    .low {
        color: $fics_front;
        /*opacity: .5;*/
        text-shadow: 0 0 3px lime;
    }

    .medium {
        color: yellow;
        /*opacity: .6;*/
        text-shadow: 0 0 3px yellow;
    }

    .high {
        color: orange;
        /*opacity: .7;*/
        text-shadow: 0 0 3px orange;
    }

    .veryhigh {
        color: #aa2020;
        /*opacity: .8;*/
        text-shadow: 0 0 3px red;
    }

    th.skill_dot {
        line-height: .3em;
        background: orange;
    }

    .embedded_link {
        color: $fics_golden;
        text-decoration: none;
    }

    & .epic {
        background-color: $fics_back;
    }

    & .drama {
        background-color: $fics_dark;
    }

    & .act {
        background-color: $fics_darker;
    }

    & .event {
        background-color: $fics_darkest;
    }

    & .btn {
        display: block;
        padding: 0;
        margin: 0;
        width: 150px;
        height: 20px;
        border: 2px solid $fics_dark;
        border-radius: 5px;
        background: $fics_dark;
        color: $fics_front;
        text-decoration: none;
        padding: 5px;
        text-align: left;
        font-size: .87em;

        &:hover {
            border-color: $fics_link;
            background: $fics_darker;
            color: $fics_link;
            cursor: pointer;
        }
    }

    & .tabs {
        display: none;
    }

    & .tab_up {
        display: block;
    }

    & .tabberbar {
        text-align: center;

        & span {
            display: inline-block;
        }
    }

    & .shown {
        display: block;
    }

    & .hidden {
        display: none;
    }

    & .working {
        & table, & table td, & table th, & th, & td {
            background: $fics_hl;
        }
    }

    & #messenger {
        position: fixed;
        width: 400px;
        height: auto;
        top: auto;
        bottom: 5px;
        left: 5px;
        right: auto;
        z-index: 9000;
        @include dp_panel;
        transition: display .5s;

        & p {
            margin: 5px;
            padding: 0;
            color: white;
            font-family: monospace;
            font-size: 8pt;

            &.info {
                color: cyan;
            }

            &.success {
                color: lime;
            }

            &.error {
                color: red;
            }

            &.warning {
                color: orange;
            }
        }
    }

    & .menuright {
        position: fixed;
        left: auto;
        bottom: auto;
        top: 50px;
        right: 1px;
        z-index: 8000;
        width: 250px;
        height: auto;

        & #keywords {
            width: 200px;
            height: auto;
        }
        @include dp_panel;
        @include collapse_tables;
    }

    & .mobile_form {
        position: fixed;
        display: block;
        width: 450px;
        height: auto;
        right: 1px;
        bottom: 1px;
        left: auto;
        top: auto;
        z-index: 8000;
        overflow: hidden;
        @include dp_panel;
        @include collapse_tables;

        & table.expanded {
            & tr {
                & td[colspan="1"], & th[colspan="1"] {
                    width: 30px;
                }

                & td[colspan="2"], & th[colspan="2"] {
                    width: 120px;
                }

                & td[colspan="3"], & th[colspan="3"] {
                    width: 300px;
                }

                & #summary {
                    height: 250px;
                    overflow-y: scroll;
                    border: 1px solid $fics_darkest;
                    width: 100%;
                }
            }

            & ul {
                margin: 0;
            }
        }
    }
}

/* Invalid display */

@media screen and (max-width: 640px) {
    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        overflow-y: scroll;
        background: $fics_back url('back.jpg');

        & .logo {
            display: none;
        }

        & .menu {
            display: none;
        }

        & .wrapper {
            display: none;
        }
    }
}

/* Small - 14 inches Elitebook display */

@media screen and (min-width: 641px) and (max-width: 1366px) {
    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        overflow-y: scroll;
        background: $fics_back url('71.jpg');

        & .logo {
            height: 105px;
            width: 100%;
        }

        & .menu {
            width: 100%;
            height: 40px;
        }

        & .wrapper {
            z-index: 5;
            margin-left: 0;
            width: 99%;
            min-height: 1000px;
            background: transparent url("simple_logo_invert.png") center center no-repeat;
            display: grid;
            grid-template-columns: .5% 275px 1fr 200px .5%;
            grid-column-gap: 5px;
            justify-content: center;
            align-content: stretch;

            & .list {
                grid-column: 1 / 3;
            }

            & .details {
                grid-column: 3 / 6;
            }

            & .menuright {
                display: none;
            }
        }
    }
}

/* Normal - 21/22 inches screen */

@media screen and (min-width: 1367px) {
    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        overflow-y: scroll;
        background: $fics_back url('74.jpg'); /* 74*/

        & .logo {
            height: 105px;
            width: 100%;
        }

        & .menu {
            width: 100%;
            height: 40px;
        }

        & .wrapper {
            z-index: 5;
            margin-left: 0;
            width: 99%;
            min-height: 1000px;
            background: transparent url("simple_logo.png") center center no-repeat;
            display: grid;
            grid-template-columns: .5% 250px 1fr 200px .5%;
            grid-column-gap: 5px;
            justify-content: center;
            align-content: stretch;

            & .list {
                grid-column: 1 / 3;
            }

            & .details {
                grid-column: 3 / 3;
                min-height: 1000px;
            }

            & .menuright {
                grid-column: 4 / 6;
            }
        }
    }
}

.selected {
    background-color: $fics_light;
}
$block_size: 25px;

.duel {
    & h2, & h3 {
        font-family: NomPersoListe;
        font-weight: bold;
        text-align: center;
        font-variant: small-caps;
    }

    & .round_data {
        display: inline-block;
        margin: auto;
        width: 420px;
        border: 1px solid black;
        padding: 3px;
        color: white;

        &.attacker {
            /*background: #402010;*/
        }

        &.defender {
            /*background: #204010;*/
        }
    }

    & table.wounds {
        border-collapse: separate;

        & td {
            background: $fics_dark;
            border: 2px solid black;
            width: $block_size;
            height: $block_size;
            text-align: center;

            & .large {
                font-size: 1.5em;
                font-weight: bold;
            }
        }

        & th {
            background: transparent;
            border: 2px solid transparent;
            width: $block_size;
            height: $block_size;
        }
    }

    &ol {
        margin: 0;

        & li {
            margin: 0;
        }
    }
}

table.duels {
    display: inline-block;

    & th {
        width: 100px;
        height: 90px;
        font-size: 2em;
    }

    & td {
        width: 100px;
        height: 90px;
        font-size: 3em;
    }
}

table.match_score {
    display: inline-block;
    background: #444;
    border: 1px solid #444;
    margin: 0;
    padding: 0;

    & td {
        background-color: $fics_dark;
        color: $fics_front;
        font-size: .95em;
        width: auto;
        height: 30px;
        text-align: center;
        border: 2px solid transparent;
    }

    & th {
        background-color: #303030;
        font-size: .95em;
        width: 60px;
        height: 40px;
        border: 2px solid transparent;
    }
}
